<link rel="stylesheet" href="../../3-build-your-app/styles/_1-new-lightning-page-steps.scss">
<div class="row monitor-height build-a-schema">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active"></div>
              <img src="../assets/5-build-a-schema-account.png" alt="account" class="account" ng-show="check.account">
              <img src="../assets/5-build-a-schema-customer-feedback.png" alt="customer feedback" class="customer-feedback" ng-show="check.cf">
              <img src="../assets/5-build-a-schema-order.png" alt="order" class="order" ng-show="check.order">
              <img src="../assets/5-build-a-schema-product.png" alt="product" class="product" ng-show="check.product">
              <form class="form form-horizontal">
                <div class="control-group">
                  <div class="controls">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="customer-feedback" ng-model="check.cf">
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="account" ng-model="check.account">
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="order" ng-model="check.order">
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="product" ng-model="check.product">
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <img src="../assets/5-build-a-schema-account.png" alt="account" class="account">
              <img src="../assets/5-build-a-schema-customer-feedback.png" alt="customer feedback" class="customer-feedback">
              <img src="../assets/5-build-a-schema-order.png" alt="order" class="order">
              <img src="../assets/5-build-a-schema-product.png" alt="product" class="product">
              <form class="form form-horizontal">
                <div class="control-group">
                  <div class="controls">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="customer-feedback" ng-model="check.cf" disabled>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="account" ng-model="check.account" disabled>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="order" ng-model="check.order" disabled>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="product" ng-model="check.product" disabled>
                      </label>
                    </div>
                  </div>
                </div>
              </form>
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <img src="../assets/5-build-a-schema-account.png" alt="account" class="account">
              <img src="../assets/5-build-a-schema-customer-feedback.png" alt="customer feedback" class="customer-feedback">
              <img src="../assets/5-build-a-schema-order.png" alt="order" class="order">
              <img src="../assets/5-build-a-schema-product.png" alt="product" class="product">
              <form class="form form-horizontal">
                <div class="control-group">
                  <div class="controls">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="customer-feedback" ng-model="check.cf" disabled>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="account" ng-model="check.account" disabled>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="order" ng-model="check.order" disabled>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="product" ng-model="check.product" disabled>
                      </label>
                    </div>
                  </div>
                </div>
              </form>
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="click-box lookup active" data-drag="true" jqyoui-draggable="{index: 0, animate:true}" data-jqyoui-options="{revert: 'invalid'}">
              </div>
              <img src="../assets/5-build-a-schema-customer-feedback.png" alt="customer feedback" class="customer-feedback active" data-drop="true" jqyoui-droppable="{index: 1 , onDrop:'Next'}">
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5">
              <form class="form form-horizontal">
                <div class="control-group">
                  <div class="controls">
                    <input autocomplete="off" type="text" name="name" id="name" ng-model="order.input" class="text" maxlength="80" ng-disabled="!input.active" ng-class="{active:input.active}">
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <select name="order-select" id="order-select" ng-model="order.select" ng-options="opt as opt.label for opt in orderOptions" ng-disabled="!select.active" ng-class="{active:select.active}"></select>
                  </div>
                </div>
              </form>
              <div class="click-box" ng-class="{active:!input.active && !select.active}" wz-next></div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  <img src="../../assets/images/success.png"/>
                </p>
                <h2>Success!</h2>
                <p>
                  Our data model is ready to go. As we add more objects in the future, we can come back and update our schemas whenever we need to.
                </p>
                <p>
                  <a ui-sref="process-builder" li-autofocus="wizard.stateIndex == 6" class="btn btn-rounded active">Continue</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
