<div class="drawer-content build-a-schema-drawer" ng-controller="CustomObjectsController">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <h2>Build a Schema</h2>
    <p>We can use existing data from our Salesforce instance, or bring in data from other databases to populate our app. We'll start by organizing our customer data into objects.</p>
    <p class="continue">
        <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
    </p>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
    </drawer-panel>
  </div>

</div>