<section class="build-a-schema">
  <div class="row campaign-container">
    <div class="col-xs-12">
      <h1>Create a Campaign</h1>
      <p>Let's start by looking at Pardot's campaign builder. Creating a campaign is simple — all you have to do to launch your very own marketing campaign is input a name and cost.</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <h2>Did You Know?</h2>
      <p>A “campaign” is used to determine the first touch that a prospect has with your marketing programs. That could be a marketing email, a white paper, a Google advertisement, or any other marketing channel!</p>
    </div>
  </div>
  <div class="row hotspots shadow">
    <div class="col-xs-12">
      <h3>Organizing with Tags</h3>
      <div class="screen-shot tag"></div>
      <p>You can add ‘tags’ to your marketing campaigns to help keep them organized. Tags are great for grouping related campaigns together &mdash; and they make searching a breeze.</p>
    </div>
  </div>
  <div class="row hotspots shadow last">
    <div class="col-xs-12">
      <h3>ROI</h3>
      <p>Inputting your initial cost will help determine your campaign ROI at the end of this experience.</p>
    </div>
  </div>
  <div class="row blue-container next-page">
    <div class="col-xs-12">
      <p>After creating a campaign in Pardot, you can move on to create forms and landing pages. Click "continue" to see what this process looks like.</p>
      <div class="text-center">
        <a ui-sref="chapter-customer-app" class="btn-orange">Continue</a>
      </div>
    </div>
  </div>
</section>