<div class="row monitor-height chapter-mobile">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0"></div>
          </wz-step>
          <wz-step success="true">
              <div class="step success">
                  <div class="confetti-container" ng-open="renderConfetti()">
                    <canvas id="success-confetti"></canvas>
                  </div>
                <li-center>
                  <p>
                    With your mobile app, your employees can access the information they need at any time from anywhere. This allows you to drive efficient growth and put your customer at the center of everything you do.<br /><br />Want to see the difference AI can make?
                  </p>
                  <p>
                    <a ui-sref="chapter-ai" li-autofocus="wizard.stateIndex == 1" class="btn btn-rounded active">Continue</a>
                    <a href="https://www.salesforce.com/products/platform/features/mobile/" class="success-text-link" target="_blank" rel="noopener noreferrer">Learn more about mobile</a>
                    <span class="carat"><i></i></span>
                  </p>
                </li-center>
              </div>
            </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
