<div class="row monitor-height chapter-mobile">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
            </div>
          </wz-step>                      
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>