<section success="true">
    <div class="row chapter-mobile mobile" ng-open="scrollToTop()">
      <div class="col-lg-12">
        <div class="row">
          <div class="slides slide-0">
            <div class="slide-image"></div>
            <div class="phone-background"></div>
            <div class="phone-placeholder"></div>
            <div class="play-button" ng-click="startVideo()">
              <img src="../../assets/images/icons/play-button.svg" alt="play video">
            </div>
            <video id="step-1-video-mobile" width="256" height="556" playsinline>
                <source src="../../assets/images/chapters/chapter-mobile/ch4-mobile-cut@60fps.mp4" type="video/mp4">
                No video support
            </video>
            <div class="slide-container">
              <div class="slide-intro">
                <div class="slide-header">
                  <h1>Launch Mobile-First Experiences</h1>
                </div>
                <div class="slide-copy">
                  <p>
                    Every app you build in Salesforce is instantly mobile. Push the updates automatically, and drive efficiency by empowering your employees on the go. Ready to see how it works?
                  </p>
                </div>
              </div>
              <div class="transition-copy">
                <p>
                  Notice how the price quote increases $5,000 when you upgrade the battery. Now, your sales reps can generate automatic price quotes based on the car options they select, saving them time and increasing productivity.
                </p>
                <div class="transition-arrow"></div>
              </div>
            </div>
          </div>
          <div class="slides slide-1">
            <div class="slide-image"></div>
            <div class="phone-background"></div>
            <div class="phone-placeholder"></div>
          </div>
          <div class="slides success" success="true">
            <div class="confetti-container" ng-open="renderConfetti()">
              <div class="confettii-still"></div>
              <div class="content-container">
                <div class="success-text">
                  <p>
                    With your mobile app, your employees can access the information they need at any time from anywhere. This allows you to drive efficient growth and put your customer at the center of everything you do.
                    <br><br>
                    Want to see the difference AI can make?
                  </p>
                </div>
                <div class="mobile-success-ctas">
                  <a ui-sref="chapter-ai" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                  <div class="text-link">
                    <a
                      href="https://www.salesforce.com/products/platform/features/mobile/"
                      class="success-text-link"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Learn more about mobile</a
                    >
                    <span class="carat"><i></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
