<section success="true">
    <div class="row monitor-height chapter-mobile mobile">
      <div class="col-lg-12 monitor-height">
        <div class="row monitor-height">
          <div class="slides slide-0">
            <div class="slide-image"></div>
            <div class="phone-background"></div>
            <div class="phone-placeholder"></div>
            <div class="play-button" ng-click="startVideo()">
              <img src="../../assets/images/icons/play-button.svg" alt="play video">
            </div>
            <video id="step-1-video-mobile" width="256" height="556">
                <source src="../../assets/images/chapters/chapter-mobile/ch4-mobile-cut@60fps.mp4" type="video/mp4">
                No video support
            </video>
            <div class="slide-container">
              <div class="slide-intro">
                <div class="slide-header">
                  <h1>Delight with a smart mobile app.</h1>
                </div>
                <div class="slide-copy">
                  <p>
                        Every app you build in Salesforce is instantly mobile. Push the updates automatically and empower your users on the go. Watch the video below to see how it works.
                  </p>
                </div>
              </div>
              <div class="transition-copy">
                <p>
                    We can add price quote logic to our flow so that sales reps see automatic payment terms.
                </p>
                <div class="transition-arrow"></div>
              </div>
            </div>
          </div>
          <div class="slides slide-1">
            <div class="slide-image"></div>
            <div class="phone-background"></div>
            <div class="phone-placeholder"></div>
          </div>
          <div class="slides success" success="true">
            <div class="confetti-container" ng-open="renderConfetti()">
              <div class="confettii-still"></div>
              <div class="content-container">
                <div class="success-text">
                  <p>
                    It takes just a few clicks to give your employees the tools they need to provide a more personal customer experience.
                    <br><br>
                    Let’s see what that looks like on a mobile app.
                  </p>
                </div>
                <div class="mobile-success-ctas">
                  <a ui-sref="chapter-ai" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                  <div class="text-link">
                    <a
                      href="https://www.salesforce.com/products/platform/features/mobile-app-builder/"
                      class="success-text-link"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Learn more about customizing apps</a
                    >
                    <span class="carat"><i></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>