<div class="row phone-height chapter-mobile">
    <div class="col-lg-12 phone-height">
      <div class="row phone-height">
        <hotspots-container>
          <wizard name="phone" on-finish="finishedWizard()">
            <wz-step>
              <div class="step phone-step-0">

              </div>
            </wz-step>
            <wz-step>
              <div class="step phone-step-1">
                <video id="step-1-video" width="256" height="556">
                  <source src="../../assets/images/chapters/chapter-mobile/ch4-mobile-cut@60fps.mp4" type="video/mp4">
                  No video support
                </video>
              </div>
            </wz-step>            
            <wz-step>
              <div class="step phone-step-2">
                <div class="flyout active">
                    <span>Let's use your new app!</span>
                    <a ng-click="Next()">continue</a>
                    <span class="carat"><i></i></span>
                </div>                  
              </div>
            </wz-step>
            <wz-step>
              <div class="step phone-step-3">
                <div class="click-box active" ng-click="GoToStep4()"></div>
              </div>
            </wz-step>
            <wz-step>
              <div class="step phone-step-4">
                  <div class="click-box highlight"></div>
                <div class="flyout active">
                    <span>Notice how the price quote increases $5,000 when you upgrade the battery. Now, your sales reps can generate automatic price quotes based on the car options they select, saving them time and increasing productivity.</span>
                    <a ng-click="GoToSuccess()">continue</a>    
                    <span class="carat"><i></i></span>
                </div>
              </div>
            </wz-step>
          </wizard>
        </hotspots-container>
      </div>
    </div>
  </div>