<div class="drawer-content chapter-ai-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">

    <wizard name="drawer" on-finish="beginStory(); gtmTrack('progress', 'ai: complete step 1')">
      <wz-step>
        <h2>Predict Cancellation Risk Using AI</h2>
        <p>
          Now that you've built a mobile app that helps your sales reps quickly generate quotes, let's make it smart by
          adding Al-powered predictions for cancellation risk. With Einstein, you can make every employee more
          productive and efficient.
        </p>
        <p>
          Let's see how you can quickly embed Einstein Al in your app!
        </p>
        <p class="continue">
          <a class="btn btn-continue" wz-next>Continue</a>
        </p>
      </wz-step>
    </wizard>
  </div>
</div>