<div class="drawer-content chapter-ai-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">

    <wizard name="drawer" on-finish="beginStory()">
      <wz-step>
        <h2>Predict Cancellation Risk Using AI</h2>
        <p>
          Now that you've built an app that helps your sales reps do more with less, let's make it smart by adding AI-powered prediction for cancellation risk. With Genie, AI is even more intelligent, bringing Einstein across all of your real-time unified profile data, powering decisions and more personalized customer experiences.
        </p>
        <p>
          This is one of the many tasks you can accomplish with AI in your app!
        </p>
        <p class="continue">
          <a class="btn btn-continue" wz-next>Continue</a>
        </p>
      </wz-step>
    </wizard>
  </div>
</div>