<div class="drawer-content chapter-ai-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">

    <wizard name="drawer" on-finish="beginStory()">
      <wz-step>
        <h2>Predict cancellation risk using AI.</h2>
        <p>
            Now that you’ve built an app that makes car ordering easier for your sales reps, let’s make it smart by adding AI-powered prediction for cancellation risk.
        </p>
        <p>
            This is one of many tasks you can accomplish with AI in your app!
        </p>
        <p class="continue">
          <a class="btn btn-continue" wz-next>Continue</a>
        </p>
      </wz-step>
    </wizard>
  </div>
</div>