<section success="true">
    <div class="row chapter-ai mobile" ng-open="scrollToTop()">
      <div class="col-lg-12">
        <div class="row">
          <div class="slides slide-0">
            <div class="slide-image"></div>
            <div class="slide-container">
              <div class="slide-intro">
                <div class="slide-header">
                  <h1>Predict cancellation risk using AI.</h1>
                </div>
                <div class="slide-copy">
                  <p>
                    Since you’ve built an app that makes car ordering easier for your sales reps, let’s make it smart by adding AI-powered prediction for cancellation risk.
                    <br><br>
                    This is one of many tasks you can accomplish with AI in your app!

                  </p>
                </div>
              </div>
              <div class="transition-copy">
                <p>
                    To add AI to our app, we can simply add the "Einstein Prediction" component.
                </p>
                <div class="transition-arrow"></div>
              </div>
            </div>
          </div>
          <div class="slides slide-1">
            <div class="slide-image"></div>
            <div class="transition-copy">
                <p>
                  We can activate this component to add it to our app.
                </p>
                <div class="transition-arrow"></div>
              </div>
          </div>
          <div class="slides slide-2">
            <div class="slide-image"></div>
            <div class="transition-copy">
              <p>
                Now we can see that this order currently has no cancellation risk.
                <br><br>
                What happens if we modify this order in a way that increases the risk of cancellation?
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class="slides slide-3">
            <div class="slide-image"></div>
            <div class="transition-copy">
              <p>
                Take a look — the "75 kWh" battery option is now selected.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class="slides slide-4">
            <div class="slide-image"></div>
            <div class="transition-copy">
              <p>
                When the "75 kWh" battery option is selected, Einstein predicts right away that there is a high risk of order cancellation based on the top factors provided.
                <br><br>
                In addition to spotting this, Einstein will also alert the sales rep of this new risk factor.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class="slides slide-5">
            <div class="slide-image"></div>
          </div>
          <div class="slides success" success="true">
            <div class="confetti-container" ng-open="renderConfetti()">
              <div class="confettii-still"></div>
              <div class="content-container">
                <div class="success-text">
                  <p>
                    Now your reps are equipped with the tools they need to win more deals and increase customer satisfaction. Let’s take a look at how a voice-enabled virtual assistant can increase their productivity.
                  </p>
                </div>
                <div class="mobile-success-ctas">
                  <a ui-sref="chapter-einstein-assistant" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                  <div class="text-link">
                    <a
                      href="https://www.salesforce.com/products/platform/solutions/ai-services/"
                      class="success-text-link"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Learn more about AI</a
                    >
                    <span class="carat"><i></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>