<div class="row phone-height chapter-ai">
  <div class="col-lg-12 phone-height">
    <div class="row phone-height">
      <hotspots-container>
        <wizard name="phone" on-finish="finishedWizard()">
          <wz-step>
            <div class="step phone-step-2a">
              <div class="flyout active">
                <span>This order currently has no cancellation risk.</span>
                <span>What happens if you modify this order in a way that increases the risk of cancellation?</span>
                <a ng-click="GoToStep3(); gtmTrack('progress', 'ai: complete step 4')">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step phone-step-3">
              <div class="click-box active" ng-click="GoToStep4(); gtmTrack('progress', 'ai: complete step 5')"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step phone-step-4">
              <div class="flyout active">
                <span>Right away, Einstein predicts that there is a high risk of order cancellation, based on the top
                  factors provided, and alerts the sales rep. This prediction was built on Data Cloud data using our
                  no-code model builder.</span>
                <a ng-click="GoToStep5(); gtmTrack('progress', 'ai: complete step 6')">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step phone-step-5">
              <div class="flyout active">
                <span>Now that we know this order is at risk, let's use Einstein to generate this customer a
                  personalized email with a custom offer.</span>
                <a ng-click="GoToStep6(); gtmTrack('progress', 'ai: complete step 7')">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>