<div class="row monitor-height chapter-blockchain">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0"></div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <div class="click-box active" ng-click="NextHalfSlide()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2a">
              <div class="flyout active">
                <span
                  >"Real Auto Parts" has been selected from the "Member"
                  dropdown menu.</span
                >
                <a ng-click="GoToSlide3()">continue <i></i></a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <div class="click-box active" ng-click="GoToSlide4()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="click-box active" ng-click="GoToSlide5()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5">
              <div class="click-box active" ng-click="GoToSlide5()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5a">
              <div class="flyout active">
                <span
                  >You've successfully deployed your first blockchain
                  network!</span
                >
                <a ng-click="NextHalfSlide5()">continue <i></i></a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5b">
              <div class="flyout active">
                <span
                  >Now, you can track all the changes in your vehicle network
                  right from your mobile app.</span
                >
                <a ng-click="NextHalfSlide5b()">continue <i></i></a>
              </div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  You and your customers now have full transparency into vehicle
                  repairs, which builds trust and simplifies decision-making.
                  Ready to discover more about what Customer 360 Platform can do
                  for you?
                </p>
                <p>
                  <a ng-click="NextStep()" class="btn active">continue <i></i></a>
                  <a ui-sref="chapter-data"
                    >Learn More About BlockChain<i></i
                  ></a>
                </p>
              </li-center>
            </div>
          </wz-step>
          <wz-step>
            <div class="step recap-0">
              <div class="recap-buttons">
                <a ng-click="NextStep()" class="btn">continue<i></i></a>
                <a ui-sref="#" class="text">Learn More<i></i></a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step recap-1">
              <div class="recap-buttons">
                <a ng-click="NextStep()" class="btn"
                  >Calculate your platform ROI<i></i
                ></a>
              </div>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
