<div class="row monitor-height chapter-blockchain">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0"></div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <div class="click-box active" ng-click="NextHalfSlide()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2a">
              <div class="flyout active">
                <span
                  >"Real Auto Parts" has been selected from the "Member"
                  dropdown menu.</span
                >
                <a ng-click="GoToSlide3()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <div class="click-box active" ng-click="GoToSlide4()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="click-box active" ng-click="GoToSlide5()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5">
              <div class="click-box active" ng-click="NextHalfSlide()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5a">
              <div class="flyout active">
                <span
                  >You've successfully deployed your first blockchain
                  network!</span
                >
                <a ng-click="NextHalfSlide5()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5b">
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
<!--                <div class="confetti-container" ng-open="renderConfetti()">-->
<!--                  <canvas id="success-confetti"></canvas>-->
<!--                </div>-->
              <li-center>
                <p>
                  You and your customers now have full transparency into vehicle
                  repairs, which builds trust and simplifies decision-making.
                  Ready to discover more about what Salesforce Platform can do
                  for you?
                </p>
                <p>
                  <a ui-sref="outro" li-autofocus="wizard.stateIndex == 9" class="btn active">continue <i></i></a>
                  <a href="https://www.salesforce.com/products/platform/products/blockchain/" target="_blank" rel="noopener noreferrer">Learn More About BlockChain</a>
                  <span class="carat"><i></i></span>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
