<div class="drawer-content chapter-data-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <h2>Track Car repairs with blockchain.</h2>
    <p>Electron Motors helps customers track the authenticity of parts in their cars by creating a blockchain network of partners.Insurance companies, repair shops, and suppliers can save any repair data onto blockahin, so customers know its trusted and transparent</p>
    <p>Let's work together to add the new vender partner, Real Auto Parts, to your blockchain network.</p>
    <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
    
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
    </drawer-panel>
  </div>

</div>