@import '../../base';

#step-container {

  &.engagement-studio-trigger-steps {

    .step-one {
      &.active {
        height: 90px;
      }
    }

    .step-two {
      &.active {
        height: 90px;
      }
    }

    .step-three {
      &.active {
        height: 90px;
      }
    }

    .step-four {
      &.active {
        height: 230px;
      }
    }
  }
}