@import '../../base';

@keyframes draw {
  from{}

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes test-step2 {
  0%    {transform: translateX(-380px) translateY(0)}
  50%   {transform: translateX(-710px) translateY(0)}
  100%  {transform: translateX(-850px) translateY(-120px)}
}

@keyframes test-step3 {
  0%    {transform: translateX(-850px) translateY(-120px)}
  50%   {transform: translateX(-1030px) translateY(-120px)}
  100%  {transform: translateX(-1030px) translateY(-210px)}
}

.engagement-studio-test {
  font-family: $salesforcesans;
  .btn {
    &.active {
      animation: borderActive 1.5s infinite;
    }
  }

  .step-0 {
    background: url('../assets/images/stories/5-engagement-studio/engagement-studio-test-bkg.png') top center no-repeat;
    height: 792px !important;
  }

  .step-1, .step-2, .step-3, .step-4 {
    background: white;
    position: relative;
  }

  .canvas-area {
    width: 1600px !important;
    height: 931px !important;
    transition: transform .2s linear;
    transform: scale(1);
    transform-origin: top left;
  }

  .step-1 {
    .canvas-area {
      transform: scale(.5);
    }
    #intro-email-node {
      #intro-email-node-closed {
        position: absolute;
        transform: scale(1);
        transition: transform .2s linear 4.4s;
      }
      #intro-email-node-open {
        position: absolute;
        opacity: 0;
        transition: opacity .2s linear 4.6s;
      }
    }
    //#email-sent, #was-email-opened {
    //  display: none;
    //}
  }

  .step-2 {
    .canvas-area {
      transform: scale(1) translateX(-380px);
      .testing-path {
        stroke-dashoffset: 0;
      }
    }
    #intro-email-node {
      #intro-email-node-closed {
        transform: scale(1);
      }
      #intro-email-node-open {
        opacity: 0;
      }
    }
    #prospect-default-node-2 {
      #prospect-default-node-2-closed {
        position: absolute;
        transform: scale(1);
        transition: transform .2s linear 2.4s;
      }
      #prospect-default-node-2-open {
        position: absolute;
        opacity: 0;
        transition: opacity .2s linear 2.6s;
      }
    }
  }

  .step-3 {
    .canvas-area {
      transform: scale(1) translateX(-850px) translateY(-120px);
      .testing-path {
        stroke-dashoffset: 0;
      }
    }
    #intro-email-node {
      #intro-email-node-closed {
        transform: scale(1);
      }
      #intro-email-node-open {
        opacity: 0;
      }
    }
    #prospect-default-node-2 {
      #prospect-default-node-2-closed {
        transform: scale(1);
      }
      #prospect-default-node-2-open {
        opacity: 0;
      }
    }
  }

  .current {
    .step-1 {
      .canvas-area {
        transform: scale(1) translateX(-380px);
        transition-delay: 1s;
        .testing-path {
          stroke-dashoffset: 125;
          animation: draw 3s 1.2s forwards;
          + .testing-path {
            animation-delay: 3s;
          }
        }
      }
      #intro-email-node {
        #intro-email-node-closed {
          transform: scale(1.2);
        }
        #intro-email-node-open {
          opacity: 1;
        }
      }
    }
    .step-2 {
      .canvas-area {
        //transform: scale(1) translateX(-700px);
        animation: test-step2 2s forwards;
        .testing-path {
          stroke-dashoffset: 540;
          animation: draw 3s forwards;
        }
      }
      #prospect-default-node-2 {
        #prospect-default-node-2-closed {
          transform: scale(1.2);
        }
        #prospect-default-node-2-open {
          opacity: 1;
        }
      }
    }
    .step-3 {
      .canvas-area {
        //transform: scale(1) translateX(-700px);
        animation: test-step3 2s forwards;
        .testing-path {
          stroke-dashoffset: 300;
          animation: draw 3s forwards;
          + .testing-path {
            stroke-dashoffset: 110;
            animation-delay: 2.4s;
            animation-duration: 2s;
          }
        }
      }
    }
  }

  .test-log {
    position: absolute;
    top: 10px;
    right: 10px;
    .info {
      a {
        pointer-events: none;
      }
    }
  }

}

