<section class="build-a-process">
  <div class="row campaign-container">
    <div class="col-xs-12">
      <br>
      <h1>Build a Process</h1>
      <br>
      <p>Remember the customer ideas we integrated earlier? Now let’s make sure Product Managers get real-time notifications on their mobile phone as customers submit new ideas.</p>
      <br>
      <p>Process Builder's point-and-click tools make it easy to automate tasks, like notifying product managers of a new idea.</p>
    </div>
  </div>
  <div class="row hotspots shadow">
    <div class="col-xs-12">
      <h3>Criteria</h3>
      <div class="screen-shot tag"></div>
      <p>Criteria determine when to execute action groups.</p>
    </div>
  </div>
  <div class="row hotspots shadow last">
    <div class="col-xs-12">
      <h3>Actions</h3>
      <p>Actions are executed when criteria are met.</p>
    </div>
  </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <br><br>
      <h2><strong>Add Your Object</strong></h2>
      <p>The first step in building a process is choosing the object. For this notification, we'll choose Customer Ideas from the Customer Insights Object.</p>
    </div>
  </div>
  <div class="row campaign-container-2">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row did-you-know-2">
    <div class="col-xs-12">
      <br>
      <h1><strong>Decide When the Process Should Trigger</strong></h1>
      <br>
      <p>We want the process to trigger (a push notification to be sent) every time a customer submits a new idea so we set that as a criteria.</p>
    </div>
  </div>
  <div class="row campaign-container-3">
    <div class="col-xs-12">
      <br>
    </div>
  </div>
  <div class="row campaign-container-4">
    <div class="col-xs-12">
      <h1>Set Up a Push Notification</h1>
      <br>
      <p>Finally, choose the action that our criteria trigger. In this case every time there’s a new idea, we want our Product Managers to get real-time push notifications on their phones.</p>
      <br><br>
      <p>Using the same point-and-click capabilities you can build a process for any use case in your business.</p>
    </div>
  </div>
  <div class="row did-you-know-3">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>You can use the “Approval Process” tool to create approval processes for particular objects/records. An approval process specifies each step of approval, including from whom to request approval and what to do at each point of the process.</p>
    </div>
  </div>
  <div class="row campaign-container-5">
    <div class="col-xs-12">
      <br>
      <h1>The Process</h1>
      <br>
      <p>Just like that, with a few clicks, you can create a whole process to notify product managers, real-time, of any ideas that customers submit.</p>
    </div>
  </div>
  <div class="row did-you-know-2">
    <div class="col-xs-12">
      <br>
      <h1><strong>Real-time Service with IoT</strong></h1>
      <br>
      <p>IoT Explorer lets you monitor real-time data feeds from your customers’ connected products. The data can trigger device reboots, maintenance calls, and support knowledge emails, all without involving customer service teams.</p>
      <p>Next comes the app's interface</p>
    </div>
  </div>
  <div class="row campaign-container-6">
    <div class="col-xs-12">
      <div class="text-center">
        <a ui-sref="process-builder" class="btn-orange">CONTINUE</a>
      </div>
    </div>
  </div>
  <!--<div class="row">-->
  <!--<div class="col-xs-12">-->
  <!--<div class="text-center">-->
  <!--<a ui-sref="process-builder" class="btn-orange">CONTINUE</a>-->
  <!--</div>  -->
  <!--</div>-->
  <!--</div>-->
</section>