<div class="row monitor-height chapter-data">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0"></div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <div class="click-box active" ng-click="GoToStep2A()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2a">
              <div class="flyout active">
                <span>Object Creator imported the vehicle data and automatically sorted it into editable columns and fields.</span>
                <a ng-click="GoToStep3()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <div class="click-box active" ng-click="GoToStep3A()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3a">
              <div class="flyout active">
                <span>Congratulations! Your data has been added to a Salesforce app that was created just for you. Let’s see your data in action.</span>
                <a ng-click="GoToStep4()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="click-box active" ng-click="GoToStep4A()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4a">
              <div class="flyout active">
                <span>Your team can now access real-time order updates right in the app.</span>
                <a ng-click="GoToStep4B()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4b">
              <div class="flyout active">
                <span>
                  But it doesn't stop there. You can get a 360&deg; view of your customer using different data sources that are consolidated into a single, unified profile with Salesforce Genie.
                  <br><br>
                  Genie is a hyperscale customer data cloud built natively into the Salesforce Platform. With Genie, connect and automatically harmonize all of your customer data at scale to empower any business and create magical customer experiences.
                </span>
                <a ng-click="GoToStep5()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5">
              <div class="click-box active" ng-click="GoToStep5A()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5a">
              <div class="flyout active">
                <span>Salesforce Genie makes it easy for us to map the incoming data from other systems into this shared data model. </span>
                <a ng-click="GoToStep5B()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5b">
              <div class="flyout active">
                <span>
                  Genie then harmonizes all of this data into a unified customer graph, giving you a single, centralized view of your customer. So that you can deliver magical customer experiences with low code.
                </span>
                <a ng-click="GoToSuccess()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <div class="confetti-container" ng-open="renderConfetti()">
                <canvas id="success-confetti"></canvas>
              </div>
              <li-center>
                <h3>Chapter Summary</h3>
                <h4>Data</h4>
                <p>
                  With all customer data in one, centralized place, your business can increase ROI and drive success now. Next, let's learn about adding dynamic automation to the buying process.
                </p>
                <div class="btn-container">
                  <a ui-sref="chapter-flow" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded active">Continue</a>
                  <a href="https://www.salesforce.com/products/genie/overview/" class="success-text-link" target="_blank" rel="noopener noreferrer">Learn more about Genie <span class="carat"><i></i></span></a>
                </div>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
