<section success="true">
  <div class="row chapter-data mobile">
    <div class="col-lg-12">
      <div class="row">
        <div class='slide'>
          <div class='slide-text'>
            <h1>Import your data.</h1>
            <p>To start, we can import all of last year’s vehicle sales data, which is currently stored in a spreadsheet.</p>
          </div>
          <img src='/assets/images/chapters/chapter-data/chapter-data-0-2x.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              Next, we'll upload the “Vehicles.xlsx” file to bring our vehicle sales data to the app.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-data/chapter-data-1-2x.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              Good news! When you import data, Object Creator automatically sorts it into editable columns and fields.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-data/chapter-data-2-2x.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              But it doesn't stop there. You can get a 360° view of your customer using different data sources that are consolidated into a single, unified profile with Salesforce Data Cloud.
              <br /><br />
              Data Cloud is a hyperscale data platform that is natively integrated with the Customer 360. With Data Cloud, connect and automatically harmonize all of your customer data to empower any business and create magical customer experiences, at scale.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-data/chapter-data-3-2x.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              Salesforce Data Cloud makes it easy for us to map the incoming data from other systems into this shared data model.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-data/chapter-data-4-2x.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              Data Cloud then harmonizes all of this data into a unified customer graph, giving you a single, centralized view of your customer. So that you can deliver magical customer experiences with low code.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-data/chapter-data-5-2x.png' alt='' class='slide-bg-image'>
        </div>

        <div class="slides success" success="true">
          <div class="confetti-container" ng-open="renderConfetti()">
            <div class="confettii-still"></div>
            <div class="content-container">
              <div class="success-text">
                <p>
                  With all customer data in one, centralized place, your business can increase ROI and drive success now. Next, let's learn about adding dynamic automation to the buying process.
                </p>
              </div>
              <div class="mobile-success-ctas">
                <a ui-sref="chapter-flow" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                <div class="text-link">
                  <a
                    href="https://www.salesforce.com/products/genie/overview/"
                    class="success-text-link"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Learn more about Genie <span class="carat"><i></i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
