<div class="row monitor-height outro">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <wizard name="monitor">
        <wz-step>
          <div class="step recap-0">
            <div class="recap-buttons">
              <a ng-click="NextStep()" class="btn">continue<i></i></a>
              <a href="https://www.salesforce.com/products/platform/overview/" class="text">Learn More<i></i></a>
            </div>
          </div>
        </wz-step>
        <wz-step>
          <div class="step recap-1">
            <div class="recap-buttons">
              <a href="https://www.salesforce.com/form/app-cloud/roi-calc.jsp" class="btn">Calculate your platform ROI<i></i></a>
            </div>
          </div>
        </wz-step>
      </wizard>
    </div>
  </div>
</div>