<div class="row monitor-height outro">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <wizard name="monitor">
        <wz-step>
          <div class="step recap-0">
            <h3>The Einstein 1 Platform is the trusted AI platform for customer companies and it empowers you and your
              team to unify and optimize all of your data, automate your business processes, and build secure AI-powered
              apps with low code.</h3>
            <div class="recap-buttons">
              <a href="https://www.salesforce.com/form/conf/platform/low-code-application-development-playbook"
                class="btn" target="_blank" rel="noopener noreferrer"
                ng-click='gtmTrack("playbook", "Get the Low-Code playbook", "tour recap screen")'>Get the Low-Code
                playbook</a>
              <a href="https://www.salesforce.com/products/platform/overview/" class="text" target="_blank"
                rel="noopener noreferrer" ng-click='gtmTrack("cta clicks", "Learn more", "tour recap screen")'>Learn
                more <span class="carat"><i></i></span></a>
            </div>
          </div>
        </wz-step>
        <wz-step>
          <div class="step recap-1">
            <div class="recap-buttons">
              <a href="https://www.salesforce.com/form/conf/platform/low-code-application-development-playbook"
                class="btn" target="_blank" rel="noopener noreferrer">Get the Low-Code playbook <span
                  class="carat"><i></i></span></a>
            </div>
          </div>
        </wz-step>
      </wizard>
    </div>
  </div>
</div>