<div class="outro mobile">
  <section>
    <div class="row hero">
      <div class="xs-12">
        <wizard name="monitor">
          <wz-step>
            <div class="step slide-0">
              <div class='slide'>
                <div class='slide-text'>
                  <p>
                    The Salesforce Platform empowers you and your team to build and extend your Customer 360, securely.
                  </p>
                  <div class="recap-buttons">
                    <a href="https://www.salesforce.com/form/conf/platform/low-code-application-development-playbook" class="btn" target="_blank" rel="noopener noreferrer">Get the Low-Code playbook<i></i></a>
                    <a href="https://www.salesforce.com/products/platform/overview/" class="text" target="_blank" rel="noopener noreferrer">Learn more<i></i></a>
                  </div>
                </div>
                <img src='/assets/images/chapters/outro/mobile-outro-0.png' alt='' class='slide-bg-image'>
              </div>
<!--                <div class="slide-image"></div>-->
<!--                <div class="slide-container">-->
<!--                  <div class="slide-intro">-->
<!--                    <div class="slide-copy">-->
<!--                      <p>-->
<!--                        The Salesforce Platform empowers you and your team to build and extend your Customer 360, securely.-->
<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="recap-buttons">-->
<!--                    <a href="https://www.salesforce.com/form/conf/platform/low-code-application-development-playbook" class="btn" target="_blank" rel="noopener noreferrer">Get the Low-Code playbook<i></i></a>-->
<!--                    <a href="https://www.salesforce.com/products/platform/overview/" class="text" target="_blank" rel="noopener noreferrer">Learn more<i></i></a>-->
<!--                  </div>-->
<!--                </div>-->
            </div>
          </wz-step>
          <wz-step>
            <div class="step slide-1">
                <div class="slide-image"></div>
              <div class="recap-buttons">
                <a href="https://www.salesforce.com/form/conf/platform/low-code-application-development-playbook" class="btn" target="_blank" rel="noopener noreferrer">Get the Low-Code playbook<i></i></a>
              </div>
            </div>
          </wz-step>
        </wizard>
      </div>
    </div>
  </section>
</div>
