<div class="outro mobile">
        <section>
            <div class="row hero">
              <div class="xs-12">
                <div class="slides slide-0">
                <div class="slide-image"></div>
                <div class="mobile-success-ctas">
                    <a ui-sref="chapter-outro-2" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                    <div class="text-link">
                        <a
                        href="https://www.salesforce.com/products/platform/products/blockchain/"
                        class="success-text-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Learn more about Blockchain</a>
                        <span class="carat"><i></i></span>
                    </div>
                </div>
              </div>
            </div>
        </section>
        <!-- <section class="mission">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
                <h2>Our Mission</h2>
                <p>Your company, Electron Motors, sells electric cars, but the buying process is disconnected, repetitive, and manual.
                  <br><br>
                    Our mission is to digitize key customer processes — from test drive to delivery — using Salesforce builders, mobile, artificial intelligence (AI), and blockchain.
                </p>
                  
                <a ui-sref="chapter-data" class="btn btn-intro">Continue</a>
                  
              </div>
            </div>
          </div>
        </section> -->
      </div>