<div class="outro mobile">
  <section>
    <div class="row hero">
      <div class="xs-12">
        <wizard name="monitor">
          <wz-step>
            <div class="step slide-0">
                <div class="slide-image"></div>
                <div class="slide-container">
                  <div class="slide-intro">
                    <div class="slide-copy">
                      <p>
                        The Salesforce Platform helps you deliver digital transformation for customers, employees, and partners.
                      </p>
                    </div>
                  </div>
                  <div class="recap-buttons">
                    <a ng-click="NextStep()" class="btn">continue<i></i></a>
                    <a href="https://www.salesforce.com/products/platform/overview/" class="text" target="_blank" rel="noopener noreferrer">Learn More<i></i></a>
                  </div>
                </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step slide-1">
                <div class="slide-image"></div>
              <div class="recap-buttons">
                <a href="https://www.salesforce.com/form/conf/app-cloud/roi-calc/?leadcreated=true&redirect=true&chapter=&DriverCampaignId=70130000000sUVq&player=&FormCampaignId=7010M000000mk9Y&videoId=&playlistId=&mcloudHandlingInstructions=&landing_page=" class="btn" target="_blank" rel="noopener noreferrer">Calculate your platform ROI<i></i></a>
              </div>
            </div>
          </wz-step>
        </wizard>
      </div>
    </div>
  </section>
</div>
