<div class="progress-navbar-container" ng-class="{'active':progress.open}">
  <ul class="nav nav-stacked progress-navbar standard">
    <li class="logo">
      <a ui-sref="intro" href="#/">
        <span class="logo"></span>
      </a>
    </li>
    <li class="title">
      <h1>Interactive Guided Tour</h1>
    </li>
    <li class="toggle">
      <div class="animated-icon animated circular light" ng-class="{'x': progress.open, 'plus':!progress.open}" ng-click="progress.toggleOpen()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </li>
    <li ui-sref-active="active"><a progress-disabled-class="1" ui-sref="add-an-object"><span progress-state-class="1"></span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="2" ui-sref="setup-a-workflow"><span  progress-state-class="2"></span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="3" ui-sref="create-a-new-lightning-page"><span progress-state-class="3"></span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="4" ui-sref="create-a-custom-action"><span progress-state-class="4"></span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="5" ui-sref="engagement-studio"><span progress-state-class="5"></span></a></li>
  </ul>
  <ul class="nav nav-stacked progress-navbar inverted" ng-class="{'active':progress.open}">
    <li class="logo">
      <a ui-sref="intro" href="#/">
        <span class="logo"></span>
      </a>
    </li>
    <li class="title">
      <h1>Interactive Guided Tour</h1>
    </li>
    <li class="toggle">
      <div class="animated-icon animated circular light" ng-class="{'x': progress.open, 'plus':!progress.open}" ng-click="progress.toggleOpen()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </li>
    <li ui-sref-active="active"><a progress-disabled-class="1" ui-sref="add-an-object"><span progress-state-inverted-class="1"></span><span class="label">Build a Data Model</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="2" ui-sref="setup-a-workflow"><span progress-state-inverted-class="2"></span><span class="label">Add Logic</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="3" ui-sref="create-a-new-lightning-page"><span progress-state-inverted-class="3"></span><span class="label">Build Your App</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="4" ui-sref="create-a-custom-action"><span progress-state-inverted-class="4"></span><span class="label">Customize Mobile &amp; Deploy</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="5" ui-sref="engagement-studio"><span progress-state-inverted-class="5"></span><span class="label">Customize Mobile</span></a></li>
    <li class="text-center"><a id="start-over" class="btn btn-rounded btn-blue" href="#" ng-click="progress.startOver($event)">Start Over</a></li>
    <li class="text-center">&nbsp;</li>
    <li class="text-center skip-links"><a href="#" class="skip" ng-click="progress.skipToPreviousTask($event)" ng-show="$root.canSkipPrevious"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go to Previous Task</a> <span ng-show="$root.canSkipPrevious && $root.canSkip"> | </span> <a href="#" class="skip" ng-click="progress.skipToNextTask($event)" ng-show="$root.canSkip">Skip to Next Task <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>

  </ul>
</div>