<div class="progress-navbar-container" ng-class="{'active':progress.open}">
  <div class="progress-navbar-blocker" ng-click="progress.toggleOpen()">
  </div>
  <ul class="nav nav-stacked progress-navbar standard">
    <li class="logo">
      <a ui-sref="welcome" href="#/">
        <span class="logo"></span>
      </a>
    </li>
    <li class="title">
      <h1>Interactive Guided Tour</h1>
    </li>
    <!-- <li class="toggle">
      <div class="animated-icon animated circular light" ng-class="{'x': progress.open, 'plus':!progress.open}" ng-click="progress.toggleOpen()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </li> -->
    <li ui-sref-active="active"><a ui-sref="chapter-data" ng-click="resetStep('chapter-data')"><span progress-state-class="1">Data</span></a></li>
    <li ui-sref-active="active"><a ui-sref="chapter-flow" ng-click="resetStep('chapter-flow')"><span  progress-state-class="2">Flow</span></a></li>
    <li ui-sref-active="active"><a ui-sref="chapter-builder" ng-click="resetStep('chapter-builder')"><span progress-state-class="3">Builder</span></a></li>
    <li ui-sref-active="active"><a ui-sref="chapter-mobile" ng-click="resetStep('chapter-mobile')"><span progress-state-class="4">Mobile</span></a></li>
    <li ui-sref-active="active"><a ui-sref="chapter-ai" ng-click="resetStep('chapter-ai')"><span  progress-state-class="5">AI</span></a></li>
    <li ui-sref-active="active"><a ui-sref="chapter-einstein-assistant" ng-click="resetStep('chapter-einstein-assistant')"><span progress-state-class="6">Einstein Assistant</span></a></li>
    <li ui-sref-active="active"><a ui-sref="chapter-customer-app" ng-click="resetStep('chapter-customer-app')"><span progress-state-class="7">Customer App</span></a></li>
    <li ui-sref-active="active"><a ui-sref="chapter-blockchain" ng-click="resetStep('chapter-blockchain')"><span progress-state-class="8">Blockchain</span></a></li>
    <!--<li ui-sref-active="active"><a progress-disabled-class="5" ui-sref="engagement-studio"><span progress-state-class="5"></span></a></li>-->
  </ul>
  <ul class="nav nav-stacked progress-navbar inverted" ng-class="{'active':progress.open}">
    <li class="logo">
      <a ui-sref="welcome" href="#/">
        <span class="logo"></span>
      </a>
    </li>
    <li class="title">
      <h1>Interactive Guided Tour</h1>
    </li>
    <li class="toggle">
      <div class="animated-icon animated circular light" ng-class="{'x': progress.open, 'plus':!progress.open}" ng-click="progress.toggleOpen()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </li>
    <li ui-sref-active="active"><a progress-disabled-class="1" ui-sref="chapter-data"><span progress-state-inverted-class="1"></span><span class="label">Data</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="2" ui-sref="chapter-flow"><span progress-state-inverted-class="2"></span><span class="label">Flow</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="3" ui-sref="chapter-builder"><span progress-state-inverted-class="3"></span><span class="label">Builder</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="4" ui-sref="chapter-mobile"><span progress-state-inverted-class="4"></span><span class="label">Mobile</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="5" ui-sref="chapter-ai"><span progress-state-inverted-class="5"></span><span class="label">AI</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="6" ui-sref="chapter-einstein-assistant"><span progress-state-inverted-class="6"></span><span class="label">Voice</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="7" ui-sref="chapter-customer-app"><span progress-state-inverted-class="7"></span><span class="label">Customer App</span></a></li>
    <li ui-sref-active="active"><a progress-disabled-class="7" ui-sref="chapter-blockchain"><span progress-state-inverted-class="8"></span><span class="label">Blockchain</span></a></li>
    <li class="text-center"><a id="start-over" class="btn btn-rounded btn-blue" href="#" ng-click="progress.startOver($event)">Start Over</a></li>
    <li class="text-center">&nbsp;</li>
    <li class="text-center skip-links"><a href="#" class="skip" ng-click="progress.skipToPreviousTask($event)" ng-show="$root.canSkipPrevious"><span class="salesforce-icon icon-sfdc-icon-right-arrow" aria-hidden="true"></span> Go to Previous Task</a> <span class="divider" ng-show="$root.canSkipPrevious && $root.canSkip"> | </span> <a href="#" class="skip" ng-click="progress.skipToNextTask($event)" ng-show="$root.canSkip">Skip to Next Task <span class="salesforce-icon icon-sfdc-icon-left-arrow" aria-hidden="true"></span></a></li>

  </ul>
</div>