<div class="row monitor-height outro">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">
              <img class="outro-initial-screen" src="../assets/outro-first-screen.jpg" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <h2>Your App In Action</h2>
                  <p>The Product team at Egg has taken to the Feedback Backlog immediately. It keeps them up to date with customer
                    suggestions, system crashes, and what the rest of the team is working on. Take a look for yourself.</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <img class="outro-mobile-gif" src="../assets/Outro_1.gif" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>The report chart displays the Sales Order data we integrated from SAP. In this case, it shows us the number
                    of sales over the last year. By clicking into the line graph, we can see details from specific points
                    in time.</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <img class="outro-mobile-gif" src="../assets/Outro_2.gif" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>Now let’s look at AI. This donut chart shows all of our customer service cases, and the topic they fall
                    under. This is where our Einstein help comes into play. By clicking on the chart, we can see the predicted
                    NPS score, based on case topic. Each topic has a different likelihood and our PMs can see them at a glance.</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <img class="outro-mobile-gif" src="../assets/Outro_3.gif" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>Here's the push notification process in action, letting users know a customer idea was just submitted for
                    their review. It will take us right into the Customer Ideas component of our app.</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <img class="outro-mobile-gif" src="../assets/Outro_4.gif" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>
                    This customer left a suggestion about Egg system features, that's actually a good idea. To get more context we can open our
                    Filter List and look for this customer's record.
                  </p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5">
              <img class="outro-mobile-gif" src="../assets/Outro_5.gif" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>Here's AC's info. It looks like they bought 'Egg Home 2.1' system, and have been a customer for 3 years.
                    They've provided feedback before, about a positive service experience they had.</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-6">
              <img class="outro-mobile-gif" src="../assets/Outro_6.gif" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>Let's get to work on AC's suggestion.</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-7">
              <img class="outro-mobile-gif" src="../assets/Outro_7.gif" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>
                    In the Backlog Manager component we can see all of the other issues we're working on. Once we assign and prioritize the item
                    we just added the team will get to work on it.</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-8">
              <img class="outro-mobile-gif" src="../assets/Outro_8.gif" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>
                    We can use the app to follow progress of the issue, and update it as needed.</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-9">
              <img class="outro-mobile-gif" src="../assets/Outro_9.gif" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>
                    Our team has been working hard over the last few weeks, and we're about to release an update to our Egg Home 2.1 system with
                    the new Idle Notification feature. Let's revisit the customer idea that inspired it to let them know
                    the feature is on the way</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-10">
              <img class="outro-mobile-gif" src="../assets/Outro_10.jpg" />
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <p>
                    Congratulations! You took customer feedback from ideas to action inside a single app. It's that simple!</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <a href="https://www.salesforce.com/form/app-cloud/roi-calc.jsp" target="_blank" class="btn btn-intro active">Calculate Your Platform ROI</a>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>