<section class="outro">
  <div class="row hero">
    <div class="col-xs-12">
      <h1>Pardot Reporting</h1>
      <p>Tie closed deals back to their original campaigns to gauge the success of your marketing and sales efforts.</p>
    </div>
  </div>
  <div class="row blue-container text-left">
    <div class="col-xs-12">
      <p>With some help from Pardot and Salesforce® Engage, your sales reps will be well on their way to bringing in a flood of new customers. But as a marketer, you still want to look back at your campaigns to see what worked and what didn’t. Pardot reporting can help.</p>
      <p>Let’s take a look at two Pardot reports that will help you gauge your campaign success. We'll start with the Campaign Performance Overview report, then dive deeper with advanced email reporting.</p>
    </div>
  </div>
  <div class="row screen-shot-container pb">
    <div class="col-xs-12">
      <h2>Campaign Performance Overview</h2>
      <p>The Campaign Performance Overview report gives a high-level overview of your campaign’s overall health in comparison to other campaigns. Each campaign is represented by a colored bubble in the chart below.</p>
      <div class="screen-shot overview"></div>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>Pardot comes with more than twenty out-of-the-box reports, including paid search reporting, content and social reports, landing page reports, sales funnel reporting, and more.</p>
    </div>
  </div>
  <div class="row screen-shot-container pb">
    <div class="col-xs-12">
      <h2>Advanced Email Report</h2>
      <p>Pardot’s advanced email reporting provides insight into email engagement, email clients and devices used by recipients, deliverability rates, click-through rates, and more.</p>
      <div class="screen-shot advanced"></div>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>Pardot email reports can tell you whether your emails have been read, skimmed, or ignored by your email recipients. You can also see a breakdown of the email clients, browsers, and devices used to open your emails.</p>
    </div>
  </div>
  <div class="row screen-shot-container">
    <div class="col-xs-12">
      <h2>Click-Through Rate Report</h2>
      <p>Get a visual look at your click-through rates with Pardot’s click-through rate report. This report features a visual heat map with links colored on a scale from red to blue to quickly determine the most highly trafficked links.</p>
      <div class="screen-shot click-through"></div>
    </div>
  </div>
  <div class="row screen-shot-container pb">
    <div class="col-xs-12">
      <h2>Email Client Report</h2>
      <p>View a breakdown of the email clients and devices used to open your emails (hint: your designers and developers will love this report).</p>
      <div class="screen-shot client-report"></div>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>Pardot’s device reporting captures and tracks email client usage across 120+ email clients.</p>
    </div>
  </div>
  <div class="row blue-container next-page text-left">
    <div class="col-xs-12">
      <p>Whew! Give yourself a pat on the back — you’ve officially completed a walk-through of Pardot's marketing automation platform! Stay in touch by connecting with a sales rep for a more in-depth product demonstration, or visit our website for a more interactive version of this experience.</p>
      <br>
      <div class="text-center">
        <a target="_blank" href="http://www2.pardot.com/guided-tour/demo-request?url_called=70130000000mAQD" class="btn btn-rounded">Schedule a Live Demo</a>
      </div>
    </div>
  </div>
</section> 