@import "../../../styles/_base";


/* Variables */
$textColor: #ffffff;
$textColorHover: #cccccc;
$closeButton: #ffffff;
$closeButtonHover: #000000;

$text-step-number-color:#7c868d;

$fontSize: 20px;

$color-background-step: #ececeb;
$color-background-step-active: #009cdb;

$stepOne: #009cdb;
$stepTwo: #009cdb;
$stepThree: #009cdb;
$stepFour: #009cdb;
$stepFive: #009cdb;
$stepSix: #009cdb;

$stepPositionFullWidthTop: 0;
$stepPositionFullWidthBottom: 20px;

$stepPositionTop: 126px;
$stepPositionRight: 0px;

$stepContainerColor: #ffffff;
$stepContainerShadowColor: #999999;
$stepContainerShadowColorHover: #000000;

.step-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: $fontSize;
  font-weight: bold;
  color: $closeButton;
  -webkit-text-shadow: 0 1px 0 $closeButton;
  text-shadow: 0 1px 0 $closeButton;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity = 80);
  &:hover, &:focus {
    color: $closeButtonHover;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity = 40);
  }
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/

button.step-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.step-top-full-width {
  top: $stepPositionFullWidthTop;
  right: 0;
  width: 100%;
}

.step-bottom-full-width {
  bottom: $stepPositionFullWidthBottom;
  right: 0;
  width: 100%;
}

.step-top-right {
  top: $stepPositionTop;
  right: $stepPositionRight;
}

.step-center {
  top: 45%;
}

#step-container {
  overflow: hidden;
  position: absolute;
  z-index: $z-index-step-container;
  pointer-events:none;

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  > {
    div {
      margin: 0 0 6px;
      padding: 25px;
      background-position: 0px center;
      background-repeat: no-repeat;
      color: $stepContainerColor;
      opacity: 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      filter: alpha(opacity = 80);
      transition: all 0.3s ease-in-out;
      @media(max-width: $screen-md-max) {
        padding: 10px;
      }
    }
    :hover {
      cursor: default;
    }

    .step-one, .step-two, .step-three, .step-four, .step-five {
      //background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
    }

  }

  .step {
    min-height:90px;
    position: relative;
    width: 174px;
    margin-left:119px;
    height:90px;
    @media(max-width: $screen-md-max) {
      width: 74px;
      margin-left: 56px;
      min-height: 70px;
      height: 70px;
    }

    .step-title {
      font-family: $salesforcesans;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      opacity: 0;
      @media(max-width: $screen-md-max) {
        font-size: 12px;
        line-height: 1.4;
      }
    }

    .step-message {
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      opacity: 0;
      a, label {
        color: $textColor;
      }
      a:hover {
        color: $textColorHover;
        text-decoration: none;
      }
    }

    &:before {
      position:absolute;
      left:20px;
      top:13px;
      color: $text-color-white;
      font-family: $salesforcesans;
      font-weight: bold;
      font-size:46px;
      float:left;
      @media(max-width: $screen-md-max) {
        left: 10px;
        top: 9px;
        font-size: 36px;
      }
    }

    &.active {
      width: 280px;
      margin-left:13px;
      max-height:500px;
      min-height: auto;
      height: auto !important;
      @media(max-width: $screen-md-max) {
        width: 130px;
        margin-left: 0;
        min-height: 70px;
      }

      .step-title, .step-message {
        width: 235px;
        transition: all, 2.0s, ease-in-out;
        opacity: 1;
        @media(max-width: $screen-md-max) {
          width: 110px;
        }
      }

      &:before {
        content: '';
      }
    }
  }

}
.step {
  &.success {


    h2, p {
      color: $text-color-white;
    }

    p {
      font-size: 22px;
      padding: 0 12%;
      font-weight: bold;
      &:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        a {
          &:nth-child(1) {
            background: #e67300;
            color: #ffffff;
            padding: 10px 30px;
            margin-top: 0;
            margin-right: 25px;
          }
          &:nth-child(2) {
            color: #fff;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 14px;
            i {
              font-family: "SalesforceIcons";
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              font-size: 9px;
              display: inline-block;
              vertical-align: middle;
              &:after {
                content: "\E924";
              }
            }
          }
      }
      }
    }

    .btn {
      padding: 10px 70px;
      margin-top: 0px;
      border: none;
      background: $color-marketing-cloud-orange;
      color: #ffffff;
      &:hover {
        background: #d26b03;
        color: #ffffff;
      }
    }

    .success-text-link {
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

.step-one, .step-two, .step-three, .step-four, .step-five, .step-six {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(0, 161, 224, 1) 0%, rgba(0, 161, 224, 0.8) 47%, rgba(0, 161, 224, 0.3) 100%);
  &.active {
    background-image: linear-gradient(to left, rgba(120,120,120,.5), #009cdb);
  }
}


.step-one {
  &:before {
    content: '01'
  }
}

.step-two {
  &:before {
    content: '02'
  }
}

.step-three {
  &:before {
    content: '03'
  }
}

.step-four {
  &:before {
    content: '04'
  }
}

.step-five {
  &:before {
    content: '05'
  }
}

.step-six {
  &:before {
    content: '06'
  }
}

:not(.no-enter)#step-container > div.ng-enter {
  transition: 150ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}



:not(.no-leave)#step-container > div.ng-leave {
  transition: 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}


:not(.no-enter)#step-container > div.ng-enter.ng-enter-active {
  opacity: 0.8;
}

:not(.no-leave)#step-container > div.ng-leave {
  opacity: 0.8;
  &.ng-leave-active {
    opacity: 0;
  }
}

:not(.no-enter)#step-container > div.ng-enter {
  opacity: 0;
}
