@import '../../../styles/_base';

/* Variables */
$textColor: #ffffff;
$textColorHover: #cccccc;
$closeButton: #ffffff;
$closeButtonHover: #000000;

$text-step-number-color: #7c868d;

$fontSize: 20px;

$color-background-step: #ececeb;
$color-background-step-active: #009cdb;

$stepOne: #009cdb;
$stepTwo: #009cdb;
$stepThree: #009cdb;
$stepFour: #009cdb;
$stepFive: #009cdb;
$stepSix: #009cdb;

$stepPositionFullWidthTop: 0;
$stepPositionFullWidthBottom: 20px;

$stepPositionTop: 126px;
$stepPositionRight: 0px;

$stepContainerColor: #ffffff;
$stepContainerShadowColor: #999999;
$stepContainerShadowColorHover: #000000;

.step-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: $fontSize;
  font-weight: bold;
  color: $closeButton;
  -webkit-text-shadow: 0 1px 0 $closeButton;
  text-shadow: 0 1px 0 $closeButton;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity = 80);
  &:hover,
  &:focus {
    color: $closeButtonHover;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity = 40);
  }
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/

button.step-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.step-top-full-width {
  top: $stepPositionFullWidthTop;
  right: 0;
  width: 100%;
}

.step-bottom-full-width {
  bottom: $stepPositionFullWidthBottom;
  right: 0;
  width: 100%;
}

.step-top-right {
  top: $stepPositionTop;
  right: $stepPositionRight;
}

.step-center {
  top: 45%;
}

#step-container {
  overflow: hidden;
  position: absolute;
  z-index: $z-index-step-container;
  pointer-events: none;

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  > {
    div {
      margin: 0 0 10px;
      padding: 25px 25px 25px 68px;
      background-position: 0px center;
      background-repeat: no-repeat;
      color: $stepContainerColor;
      opacity: 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      filter: alpha(opacity = 80);
      transition: all 0.3s ease-in-out;
      @media (max-width: $screen-md-max) {
        padding: 10px;
      }
    }
    :hover {
      cursor: default;
    }

    .step-one,
    .step-two,
    .step-three,
    .step-four,
    .step-five {
      //background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
    }
  }

  .step {
    min-height: 90px;
    position: relative;
    width: 140px;
    margin-left: auto;
    height: 90px;
    @media (max-width: $screen-md-max) {
      width: 74px;
      margin-left: 56px;
      min-height: 70px;
      height: 70px;
    }

    .step-title {
      opacity: 0;
      font-family: $avantgarde;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.002em;
      color: #BEC7F6;

      @media (max-width: $screen-md-max) {
        font-size: 12px;
        line-height: 1.4;
      }
    }

    .step-message {
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      opacity: 0;
      a,
      label {
        color: $textColor;
      }
      a:hover {
        color: $textColorHover;
        text-decoration: none;
      }
    }

    &:before {
      position: absolute;
      left: 24px;
      top: 50%;
      font-family: $avantgarde;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 133%;
      letter-spacing: -0.004em;
      transform: translateY(-50%);

      @media (max-width: $screen-md-max) {
        left: 10px;
      }
    }

    &.active {
      width: 320px;
      margin-left: 13px;
      max-height: 500px;
      min-height: auto;
      height: auto !important;
      @media (max-width: $screen-md-max) {
        width: 130px;
        margin-left: 0;
        min-height: 70px;
      }
      @media (min-width: 1200px) and (max-width: 1279px) {
        width: 207px;
        margin-left: 86px;
        padding: 25px 15px;
      }
      @media (min-width: 1280px) and (max-width: 1400px) {
        width: 237px;
        margin-left: 57px;
        padding: 25px 5px;
      }

      .step-title,
      .step-message {
        width: 235px;
        transition: all, 2s, ease-in-out;
        opacity: 1;
        @media (max-width: $screen-md-max) {
          width: 110px;
        }
        @media (min-width: 1200px) and (max-width: 1280px) {
          max-width: 200px;
          padding-right: 20px;
        }
        @media (min-width: 1280px) and (max-width: 1399px) {
          padding: 0 10px;
        }
      }
    }
  }
}
.step {
  &.success {
    position: relative;

    .confetti-container {
      display: none;
    }

    #success-confetti {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    h2,
    h3,
    p {
      color: $text-color-white;
    }

    h3 {
      font-family: $avantgarde;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -0.004em;
    }

    h4 {
      font-family: $avantgarde;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.001em;
      color: #BEC7F6;
      margin-bottom: 24px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.002em;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 40px;

      &.customer-app {
        margin-left: 80px;
        margin-right: 80px;
      }
      &:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        a {
          &:nth-child(1) {
            background: #ffffff;
            color: #0176D3;
            padding: 10px 30px;
            margin-top: 0;
            margin-right: 25px;
            border: 2px solid #0176D3;
            &:hover {
              background: #ffffff;
              color: #0176D3;
            }
          }
          &:nth-child(2) {
            color: #fff;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 14px;
            i {
              font-family: 'SalesforceIcons';
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              font-size: 9px;
              display: inline-block;
              vertical-align: middle;
              &:after {
                content: '\E924';
              }
            }
          }
        }
      }
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn {
        margin-bottom: 40px;
        width: fit-content;
      }
    }

    .btn {
      padding: 10px 70px;
      margin-top: 0px;
      background: #ffffff;
      color: #0176D3;
      border: 2px solid #0176D3;
      font-weight: bold;
    }

    .success-text-link {
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: #FFFFFF;
      .carat {
        display: inline-flex;
        margin-bottom: 0;
        i {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANBAMAAABSlfMXAAAALVBMVEUAAAD///////////////////////////////////////////////////////+hSKubAAAADnRSTlMAQJ9/7zAg3xDPv5BwYJrNQHMAAAA9SURBVAjXYwCBXgYo2GcAZaQ/hjLY6pCFhJSAQPOdAYPdOzDwYEgUBAKpJwEQNXauEJoZXYDhSACUwQHEAEFeEguTgGcUAAAAAElFTkSuQmCC');
          background-repeat: no-repeat;
          width: 15px;
          height: 12px;
          display: inline-block;
        }
      }
    }
  }
}

.step-one,
.step-two,
.step-three,
.step-four,
.step-five,
.step-six {
  border-radius: 8px 0 0 8px;
  background-color: #321d71;
  //background-image: linear-gradient(
  //  to right,
  //  rgba(0, 161, 224, 1) 0%,
  //  rgba(0, 161, 224, 0.8) 47%,
  //  rgba(0, 161, 224, 0.3) 100%
  //);
  &.active {
    //background-image: linear-gradient(to left, rgba(120, 120, 120, 0.5), #009cdb);
  }
}

.step-one {
  &:before {
    content: '1';
  }
}

.step-two {
  &:before {
    content: '2';
  }
}

.step-three {
  &:before {
    content: '3';
  }
}

.step-four {
  &:before {
    content: '4';
  }
}

.step-five {
  &:before {
    content: '5';
  }
}

.step-six {
  &:before {
    content: '6';
  }
}

:not(.no-enter)#step-container > div.ng-enter {
  transition: 150ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}

:not(.no-leave)#step-container > div.ng-leave {
  transition: 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}

:not(.no-enter)#step-container > div.ng-enter.ng-enter-active {
  opacity: 0.8;
}

:not(.no-leave)#step-container > div.ng-leave {
  opacity: 0.8;
  &.ng-leave-active {
    opacity: 0;
  }
}

:not(.no-enter)#step-container > div.ng-enter {
  opacity: 0;
}

// mobile version
.slides {
  &.success {
    background-color: #00315a;
    .confetti-container {
      position: relative;
      .confettii-still {
        background: url('../../../assets/images/backgrounds/mobile-confetti.png') no-repeat;
        background-position: center bottom;
        background-size: contain;
        min-height: 500px;
        @media (min-width: $screen-sm-min) {
          min-height: 650px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          min-height: 570px;
        }
      }
      .content-container {
        position: absolute;
        top: 70px;
        padding: 0 40px;
        .success-text {
          h2,
          p {
            color: #ffffff;
            font-size: 18px;
            @media (min-width: $screen-sm-min) {
              font-size: 32px;
            }
          }
          h2 {
            @media (min-width: $screen-sm-min) {
              font-size: 44px;
            }
          }
          h2 {
            @media (min-width: $screen-sm-min) {
              font-size: 44px;
            }
          }
        }
        .mobile-success-ctas {
          padding-top: 30px;
          display: flex;
          flex-flow: column;
          @media (min-width: $screen-sm-min) {
            padding-top: 50px;
          }
          .btn {
            background-color: rgb(227, 115, 36);
            width: fit-content;
            @media (min-width: $screen-sm-min) {
              padding: 20px 30px;
              font-size: 18px;
              max-width: 325px;
            }
          }
          .success-text-link {
            color: #fff;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 14px;
            @media (min-width: $screen-sm-min) {
              font-size: 18px;
            }
          }
          .text-link {
            display: flex;
            align-items: center;
            margin-top: 30px;
          }
          .carat {
            display: flex;
            margin-left: 3px;
            color: #ffffff;
            i {
              font-family: 'SalesforceIcons';
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              font-size: 9px;
              &:after {
                content: '\e924';
              }
            }
          }
        }
      }
    }
  }
}
