@import '../../base';

#step-container {

  &.create-a-custom-action-steps {

    .step-one {
      &.active {
        height: 150px;
      }
    }

    .step-two {
      &.active {
        height: 90px;

        .step-title {
          padding-top:10px;
          transition:none;
        }
      }
    }



  }
}