@import '../../base';

.create-a-custom-action {

  .step-0, .step-1 {
    background: url('../app/4-customize-mobile/assets/1-create-a-custom-action-screen-bkg-1.png') center center no-repeat;
  }

  .step-1 {
    .click-box {
      top: 156px;
      left: 330px;
      width: 85px;
      height: 25px;
    }
  }

  .step-2 {
    background: url('../app/4-customize-mobile/assets/1-create-a-custom-action-screen-bkg-2.png') center center no-repeat;


      select {
        position: absolute;
        top: 201px;
        left: 234px;
        width: 145px;
        height: 20px;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 800;
        &.active {
          animation: borderActive 1.5s infinite;
          cursor: pointer;
        }
      }

      .click-box {
        top: 443px;
        left: 349px;
        width: 42px;
        height: 24px;
      }

  }

  .step-3 {
    background: url('../app/4-customize-mobile/assets/1-create-a-custom-action-screen-bkg-3.png') center center no-repeat;

    .customer-idea-drag {
      position: absolute;
      bottom: 257px;
      left: 179px;
      border-radius: 4px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: move;
      }
    }


    .drop-box {
      top: 298px;
      left: 60px;
      width: 663px;
      height: 107px;
    }
  }
  .step-4 {
    background: url('../app/4-customize-mobile/assets/1-create-a-custom-action-screen-bkg-4.png') center center no-repeat;

    .click-box {
      top: 101px;
      left: 26px;
      width: 30px;
      height: 16px;
    }
  }

  .step-5 {
    background: url('../app/4-customize-mobile/assets/1-create-a-custom-action-screen-bkg-5.png') center center no-repeat;

    .continue {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-4px);
    }

    .click-box {
      top: -8px;
      left: 316px;
      width: 153px;
      height: 58px;
      border-radius: 11px;
    }
  }
}
