<div class="drawer-content build-an-email-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <h2>Use Lightning Components to create your app</h2>
    <p>App Builder is your point-and-click development environment. Here, you use 3 types of Lightning Components to build your apps:</p>
    <ul>
      <li>Standard (out of the box)</li>
      <li>Custom (build your own)</li>
      <li>AppExchange (built by partners)</li>
    </ul>
    <p>
        First, let’s see how easy it is to get a component from AppExchange!
    </p>
    <p class="continue">
      <a class="btn btn-continue" ng-click="beginStory()">Next</a>
    </p>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
        <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
          <span class="first"></span>
          <span class="second"></span>
        </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
      <drawer-panel-tab heading="01">
        <h2>Did You Know?</h2>
        <p>
         Pardot also comes with a number of responsive email templates that will ensure your emails display correctly across all devices.
        </p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="02">
        <h2>Did You Know?</h2>
        <img src="../../../assets/images/stories/3-build-an-email/3-drawer-html-editor.jpg"/>
        <p>
          While Pardot comes with a number of pre-made templates for you to choose from, you can also use custom HTML to create templates of you own.
        </p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

</div>