<div class="drawer-content create-an-app-from-base-and-custom-lightning-components-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
      <h2>Create an App from Base and Custom Lightning Components</h2>
      <p>Custom or standard, all components can be placed with a simple drag-and-drop tool. We'll use it to add a few components and data streams to our app.</p>
      <p class="continue">
        <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
      </p>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
        <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
          <span class="first"></span>
          <span class="second"></span>
        </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
      <drawer-panel-tab heading="01">
        <h2>Did You Know?</h2>
        <p>
         Pardot also provides a detailed SPAM analysis of each of your emails by testing your email against top SPAM filters. Get a red flag? Don't worry, Pardot will tell you what you can do to fix it.
        </p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

</div>