<div class="drawer-content add-custom-components-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <wizard name="drawer" on-finish="beginStory()">
      <wz-step>
        <h2>Add a Custom Component</h2>
        <p>In addition to standard components that Salesforce provides and those you can download from the AppExchange, you can create custom components in the Developer Console</p>
        <p class="continue">
          <a class="btn btn-continue" wz-next>Next</a>
        </p>
      </wz-step>
      <wz-step>
        <p>Just open it up and your team can build anything you need - like a backlog manager for Product Managers.</p>
        <img src="../assets/4-add-custom-components-intro.gif" alt="" class="img-responsive">
        <p class="continue">
          <a class="btn btn-continue" wz-next>Next</a>
        </p>
      </wz-step>
    </wizard>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
      <drawer-panel-tab heading="01">
        <h2>Email Sending Lists</h2>
        <p>Email sending isn’t limited to a single list. You can select multiple lists to send your emails to, as shown here.
          You also have the option to remove lists in Pardot by clicking &ldquo;x.&rdquo;</p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
      <drawer-panel-tab heading="01">
        <h2>Did You Know?</h2>
        <p>Pardot gives you the ability to segment your database into targeted lists that can be used to send highly personalized
          emails. </p>
        <p>Segment your email recipients based on job title, industry, geography, and a number of other criteria.</p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

</div>