<div class="row monitor-height customize-navigation">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2" ng-class="{active:active.step2}">
              <div class="click-box" ng-class="{active:!active.step2}" ng-click="activatestep2()"></div>
              <div class="click-box-1" ng-class="{active:active.step2}" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3" ng-class="{step3a:active.step3}">
              <div class="click-box" ng-class="{active:!active.step3}" ng-click="activatestep3()"></div>
              <div class="click-box-1" ng-class="{active:active.step3}" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4" ng-class="{active:active.step4}">
              <div class="click-box" ng-class="{active:!active.step4}" ng-click="activatestep4()"></div>
              <div class="click-box-1" ng-class="{active:active.step4}" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5">
              <div class="drag-drop-list-wrapper">
                <ul class="drag-drop-list">
                  <li ng-repeat="item in draglist" class="{{item.classname}}" ng-class="{active:item.classname=='customer-360'&&!active.step5}" data-drop="true"  data-drag="true" ng-model="draglist" jqyoui-droppable="{index: {{$index}}, onDrop: 'activatestep5'}" jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}" data-jqyoui-options="{revert: 'invalid'}" data-direction="{{item.jqyouiDirection}}"></li>
                </ul>
              </div>
              <div class="click-box" ng-class="{active:active.step5}" ng-click="mobileview()"></div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  <img src="../../../assets/images/success.png" />
                </p>
                <h2>Success!</h2>
                <p>
                  We’re live! And our Product team can’t wait to get their hands on Customer 360. It’s about time we pass it along to the team,
                  and see what it can do.
                </p>
                <p>
                  <a wz-next href="" class="btn btn-rounded active">Continue</a>
                </p>
              </li-center>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-6">
              <div class="outro-copy">
                <p>By using the Salesforce Platform you created an app for your Product team. This app gives them a complete
                  view of the customer. They can get ideas from customers and see their issues - without needing to go through
                  Sales, Service, or Customer Experience teams.
                </p>
                <a class="btn btn-intro active" href="" li-autofocus="wizard.stateIndex == 6" wz-next>Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-7">
              <div class="outro-copy">
                <p>Once customer feedback starts flowing in, Product Managers can review it, prioritize their backlog, and even
                  thank the customer for their input, without ever leaving the app.
                </p>
                <a class="btn btn-intro active" href="" li-autofocus="wizard.stateIndex == 7" wz-next>Next</a>
              </div>
            </div>
          </wz-step>

          <wz-step>
            <div class="step step-8">
              <div class="outro-copy">
                <p>Get started building your app today.
                </p>
                <a class="btn btn-intro start-a-trial" target="_blank" href="https://www.salesforce.com/form/signup/freetrial-platform.jsp">Try for Free</a>
                <p>See how much time and money you can save.
                </p>
                <a class="btn btn-intro calculate-your-roi" target="_blank" href="https://www.salesforce.com/form/app-cloud/roi-calc.jsp?d=7010M000000inqW">See your ROI</a>
                <p>Or, <a wz-next href="">Continue the Tour</a>
                </p>
              </div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  <img src="../../../assets/images/success.png" />
                </p>
                <h2>Wait. There&rsquo;s more..</h2>
                <p>
                  Salesforce Platform’s meta-data driven platform lets you easily customize anything inside your app. Check out how you can
                  customize the action bar for your Product Managers so that they can be even more productive by using these quick actions.
                </p>
                <p>
                  <a ui-sref="create-a-custom-action" class="btn btn-rounded active">Check it out</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>