<section success="true">
    <div class="row chapter-einstein-assistant mobile" ng-open="scrollToTop()">
      <div class="col-lg-12">
        <div class="row">
          <div class="slides slide-0">
            <div class="slide-image"></div>
            <div class="slide-container">
              <div class="slide-intro">
                <div class="slide-header">
                  <h1>Use a voice assistant.</h1>
                </div>
                <div class="slide-copy">
                  <p>
                    Now let's see how we can make intelligent updates with voice commands, powered by Einstein, in the Salesforce mobile app.
                  </p>
                </div>
              </div>
              <div class="transition-copy">
                <p>
                  We can use Einstein Voice Assistant to create a reminder to follow up with Mike West.
                </p>
                <div class="transition-arrow"></div>
              </div>
            </div>
          </div>
          <div class="slides slide-1">
            <div class="slide-image"></div>
            <div class="transition-copy">
              <p>
                To complete this task, Einstein uses Natural Language Processing (NLP) to associate Mike’s notes and updates with specific fields within Salesforce.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class="slides slide-2">
            <div class="slide-image"></div>
            <div class="phone-background"></div>
            <div class="phone-placeholder"></div>
            <div class="play-button" ng-click="startVideo()">
                <img src="../../assets/images/icons/play-button.svg" alt="play video">
            </div>
            <div class="gif-holder hide">
              <video class="video-container-mobile" width="100%" playsinline>
                <source src="../../assets/images/chapters/chapter-einstein-assistant/platform-guided-tour-einstein-assistant3.mp4"
                        type="video/mp4">
            </video>
            </div>
            <div class="transition-copy">
                <p>
                  Once the voice command is complete, we have the opportunity to verify that Einstein pulled the correct account information.
                </p>
                <div class="transition-arrow"></div>
              </div>
          </div>
          <div class="slides slide-3">
            <div class="slide-image"></div>
            <div class="transition-copy">
              <p>
                And we can check to see if Einstein pulled the correct contact information.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class="slides slide-4">
            <div class="slide-image"></div>
            <div class="transition-copy">
              <p>
                If we had any remaining tasks, Einstein would remember this context, so we wouldn’t have to input duplicate info.<br /><br />
                After we review everything, Einstein saves the updates back to Salesforce.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class="slides slide-5">
            <div class="slide-image"></div>
          </div>
          <div class="slides success" success="true">
            <div class="confetti-container" ng-open="renderConfetti()">
              <div class="confettii-still"></div>
              <div class="content-container">
                <div class="success-text">
                  <p>
                    Now your reps can save time and check off their to-do lists faster, using just their voice.
                    <br><br>
                    Want to see how Heroku can provide a seamless, connected experience for you and your customers?
                  </p>
                </div>
                <div class="mobile-success-ctas">
                  <a ui-sref="chapter-customer-app" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                  <div class="text-link">
                    <a
                      href="https://www.salesforce.com/products/platform/solutions/ai-services/"
                      class="success-text-link"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Learn more about Einstein Assistant</a
                    >
                    <span class="carat"><i></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>