<section class="assign-your-leads-to-sales">
  <div class="row hero">
    <div class="col-xs-12">
      <h1>Assign Your Leads to Sales</h1>
      <p>Make sure leads are assigned to sales reps at the opportune moment with automated lead assignment.</p>
    </div>
  </div>
  <div class="row blue-container text-left pb">
    <div class="col-xs-12">
      <p>Your leads have interacted with your landing pages, downloaded your marketing content, and engaged with your lead nurturing programs. Their scores are off the charts, which means it’s time to get them assigned to a sales rep.</p>
      <p>Pardot uses automation rules to automate lead assignment, simplifying the lead pass process for both sales and marketers.</p>
      <p>Let’s review a sample automation rule that will trigger lead assignment to sales reps once they reach a threshold score.</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>You don’t have to route your leads to a specific user. You can also assign them to a Salesforce lead queue or assign them via a salesforce.com active assignment rule.</p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Automation Rules</h3>
      <p>With automation rules, you can set scoring and grading thresholds that, when surpassed, will automatically assign a lead to a sales rep. A lead score tells you how active a prospect has been, and therefore how interested they are in your product or service. A lead grade indicates how well the lead fits your ideal prospect profile.</p>
    </div>
  </div>
  <div class="row graphic dyk">
    <div class="col-xs-12">
      <h2>Did You Know?</h2>
      <p>Automation rules can be used for more than assigning leads. You can also use them to segment prospects onto lists, remove prospects from lists, create tasks in salesforce.com, adjust scores, and more.</p>
    </div>
  </div>
  <div class="row blue-container next-page text-left">
    <div class="col-xs-12">
      <p>Next, we’ll take a look at how sales can leverage the information gathered by Pardot after leads have been assigned.</p>
      <div class="text-center">
        <a ui-sref="sales-view-in-salesforce" class="btn-orange">Continue</a>
      </div>
    </div>
  </div>
</section>