<div class="drawer-content assign-your-leads-to-sales-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <wizard name="drawer" on-finish="beginStory()">
      <wz-step>
        <h2>Assign Your Leads to Sales</h2>
        <p>Your leads have interacted with your landing pages, downloaded your marketing content, and engaged with your lead nurturing programs.
          Their scores are off the charts, which means it's time to get them assigned to a sales rep.</p>
        <p class="continue">
          <a class="btn btn-rounded blue next" wz-next>Next</a>
        </p>
      </wz-step>
      <wz-step>
        <h2>Assign Your Leads to Sales</h2>
        <p>Pardot uses automation rules to automate lead assignment, simplifying the lead pass process for both sales and marketers.</p>
        <p>Let&rsquo;s walk through a sample automation rule that will trigger lead assignment to sales reps once they reach a threshold score and grade.</p>
        <p class="continue">
          <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
        </p>
      </wz-step>
    </wizard>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
        <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
          <span class="first"></span>
          <span class="second"></span>
        </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
      <drawer-panel-tab heading="01">
        <h2>Score</h2>
        <p>
          You can input the score you would like to use as a threshold here. Remember, a score tells you how active a prospect has been, and therefore how interested they are in your product or service.
        </p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="02">
        <h2>Grade</h2>
        <p>
          Input the grade you would like to set as a threshold here. Grades vary from A+ to F-, so a grade of B or A is generally the most appropriate. As a reminder, a grade indicates how well the lead fits your ideal prospect profile.
        </p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
      <drawer-panel-tab heading="01">
        <h2>Did You Know?</h2>
        <p>Automation rules can be used for more than assigning leads. You can also use them to segment prospects onto lists, remove prospects from lists, create tasks in Salesforce, adjust scores, and more.</p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

</div>