<div class="drawer-content complete-action-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <h2>Automation Rules</h2>
    <p>Once you’ve set your scoring and grading thresholds, you can use an automation rule to decide who you would like to assign your leads to.</p>
    <p>Automation rules will trigger when the specified conditions are met &mdash; in this case, when your scoring and grading thresholds are surpassed.</p>
    <p class="continue">
      <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
    </p>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
        <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
          <span class="first"></span>
          <span class="second"></span>
        </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
      <drawer-panel-tab heading="01">
        <h2>Did You Know?</h2>
        <p>You don't have to route your leads to a specific user. You can also use completion actions to assign them to a Salesforce lead queue or assign them via a salesforce.com active assignment rule.</p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

</div>