<div class="row monitor-height iot">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="flyout active">
                <span>&lsquo;Monitoring&rsqou; is the default state. When a device has an error, we see it change state.</span>
                <a ng-click="Next()">continue
                  <i></i>
                </a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <div class="flyout active">
                <span>When a device changes state, different actions are triggered, based on the rules your team set up.</span>
                <a ng-click="Next()">continue
                  <i></i>
                </a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <div class="flyout active">
                <span>For example, this system moved to the Delayed Operation state, so IOT bot created a new case.</span>
                <a ng-click="Next()">continue
                  <i></i>
                </a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="flyout active">
                <span>Once the case is resolved, the system returns to its functioning state.
                  <br/>
                  <br/> IOT Bot can trigger alerts so customers (OR agents) can immediately take action.</span>
                <a ng-click="Next()">continue
                  <i></i>
                </a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5">
              <div class="intro-copy">
                <div class="intro-copy-block">
                  <h2>2-way communication</h2>
                  <p>You will build an app to help Product Managers unlock these insights!</p>
                  <p>Doing this in Salesforce means you can extend the power of the customer data in your CRM and deliver timely
                    innovations based on what your customers want. Using Salesforce Platform makes app-building as easy as
                    dragging and dropping. Give it a try!</p>
                </div>
                <a href="" ng-click="Next()" class="btn btn-intro active">Next</a>
              </div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  <img src="../../../assets/images/success.png" />
                </p>
                <h2>Success
                  <br/>You Finished Chapter 2!</h2>
                <p>
                  You’re pulling system information in real time to help your product managers and your customers.
                </p>
                <p>
                  <a ui-sref="create-a-new-lightning-page" class="btn btn-rounded active" li-autofocus="wizard.stateIndex == 6">Continue</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>