<section class="add-logic">
  <div class="row hero">
    <div class="col-xs-12">
      <h1>Build a Mobile App for Product Managers</h1>
      <br>
      <p>Now that you have your data all ready, we are ready to build our mobile app!</p>
      <br>
      <p>We will use Lightning App Builder, Salesforce Platform's drag and drop development environment to create our app with clicks.</p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Pardot Campaigns</h3>
      <p>You can choose to associate your forms with Pardot campaigns in order to better track their success &mdash; and keep your marketing assets organized.</p>
    </div>
  </div>
  <div class="row blue-container text-left">
    <div class="col-xs-12">
      <p>Pardot’s drag-and-drop form builder makes it easy to determine which form fields you would like to use on your form.</p>
    </div>
  </div>
  <div class="row graphic dyk">
    <div class="col-xs-12">
      <h2>Did You Know?</h2>
      <p>Pardot gives users the ability to use “progressive profiling” on forms. Progressive profiling allows you to collect more data over time by dynamically displaying form fields based on whether or not a user has already filled them out. For example, if a user has already submitted their job title, the next form they encounter can ask for their industry instead.</p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Customize Form Fields</h3>
      <p>With Pardot, form fields are completely customizable, so you can choose the fields that are most applicable to your audience.</p>
    </div>
  </div>
  <div class="row blue-container text-left">
    <div class="col-xs-12">
      <p>Once you've created a form, it’s time for the fun part: creating a landing page using Pardot's WYSIWYG landing page builder. You can use landing pages in tandem with forms to “gate” marketing assets like white papers and product demos, making them essential components of your lead generation strategy.</p>
    </div>
  </div>
  <div class="row graphic lp">
    <div class="col-xs-12">
      <h2>Landing Pages</h2>
      <p>Pardot makes it easy to design beautiful landing pages without having to know HTML</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>Pardot's landing page builder allows you to import the HTML from existing pages on your website, making it easy to create landing pages that match the look and feel of your brand.</p>
      <p>Pardot also comes pre-loaded with several landing page templates for you to choose from &mdash; or you can create your own!</p>
    </div>
  </div>
  <div class="row blue-container next-page text-left">
    <div class="col-xs-12">
      <p> Landing pages are publishable with one click, so it’s easy to move on to the next step. Click “continue” to learn how to create an autoresponder email using Pardot’s Email Builder.</p>
      <div class="text-center">
        <a ui-sref="create-a-new-lightning-page" class="btn-orange">Continue</a>
      </div>
    </div>
  </div>
</section>