@import '../../base';

.heroku-connect {

  .step-0, .step-1{
    background: url('../app/1-build-a-data-model/assets/4-heroku-connect-screen-bkg-1.png') center center no-repeat;
  }

  .step-2 {
    background: url('../app/1-build-a-data-model/assets/4-heroku-connect-screen-bkg-2.png') center center no-repeat;
  }

  .step-3 {
    background: url('../app/1-build-a-data-model/assets/4-heroku-connect-screen-bkg-3.png') center top no-repeat;
    &.active {
      background: url('../app/1-build-a-data-model/assets/4-heroku-connect-screen-bkg-4.png') center top no-repeat;
    }
  }

  .step-1 {
    .click-box {
      position: absolute;
      bottom: 8px;
      left: 50px;
      width: 687px;
      height: 28px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

  .step-2 {
    .click-box {
      position: absolute;
      bottom: 83px;
      left: 148px;
      width: 37px;
      height: 28px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
    .check {
      position: absolute;
      bottom: 90px;
      left: 159px;
    }
  }

  .step-3 {
    .click-box {
      position: absolute;
      top: 53px;
      right: 44px;
      width: 63px;
      height: 28px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
    .form {
      &.form-horizontal {
        position: absolute;
        bottom: 15px;
        left: 170px;
      }
    }
  }
}