@import "../../../styles/_base";

.monitor {
  .steps {

    height: $monitor-height;
    width: $monitor-width;

    > section {
      height: $monitor-height;
      width: $monitor-width;

      > .step {
        height: $monitor-height;
        width: $monitor-width;

        &.success {
            background-color: #321d71;

            img {
              margin-bottom: 0;
            }

            a, a:visited {
              &.content {
                color: white;
                text-decoration:underline;
              }
            }
        }
      }
    }
  }
}

.phone {
  .steps {

    height: $phone-height;
    width: $phone-width;
    margin-left: 15px;

    > section {
      height: $phone-height;
      width: $phone-width;

      > .step {
        height: $phone-height;
        width: $phone-width;
        border-radius: 10px;
      }
    }
  }
}


.drawer {
  .steps {

    height: $drawer-height;
    width: 100%;

    > section {
      height: $drawer-height;
      width: 100%;

      > .step {
        height: $drawer-height;
        width: 100%;
      }
    }
  }
}
