<div class="row monitor-height chapter-data">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1a">
              <div class="flyout active">
                <span>Let's add price quote logic to your flow so that sales reps see automatic payment terms.</span>
                <a ng-click="GoToStep3()">continue <i></i></a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <div class="click-box active" ng-click="GoToStep3()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <div class="click-box active" ng-click="GoToStep4()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="click-box active" ng-click="GoToSuccess()"></div>
            </div>
          </wz-step>          
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  Automating these actions will save you time and decrease errors. Ready to learn how to add this logic to your app with clicks, not code.
                </p>
                <p>
                  <a ui-sref="chapter-flow" li-autofocus="wizard.stateIndex == 5" class="btn btn-rounded active">Continue</a>
                  <a href="#" class="success-text-link">Learn more about automation &gt;</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
