<div class="row monitor-height chapter-flow">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="goToStep1A()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1a">
              <div class="flyout active">
                <span>Let's add price quote logic to your flow so that sales reps see automatic payment terms.</span>
                <a ng-click="goToStep2()">continue <i></i></a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <img src="../../assets/images/chapters/chapter-flow/currency-drag.png" data-drag="true" jqyoui-draggable="{index: 0, animate:true}"
                   data-jqyoui-options="{revert: 'invalid'}" alt="currency drag" class="currency-drag" ng-class="{active:!currency.active}">
              <div class="drop-box active" data-drop="true" jqyoui-droppable="{index: 1 , onDrop:'goToStep3'}"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <form class="form form-horizontal">
                  <div class="control-group">
                    <div class="controls">
                      <input autocomplete="off" li-autofocus="wizard.stateIndex == 3" type="text" name="name" id="name" ng-model="label.input"
                        class="text currency-label active" maxlength="80">
                    </div>
                  </div>
                </form>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="click-box active" ng-click="goToSuccess()"></div>
            </div>
          </wz-step>          
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  Automating these actions will save you time and decrease errors. Ready to learn how to add this logic to your app with clicks, not code.
                </p>
                <p>
                  <a ui-sref="chapter-builder" li-autofocus="wizard.stateIndex == 5" class="btn btn-rounded active">Continue</a>
                  <a href="https://www.salesforce.com/products/platform/features/automate-business-processes/" class="success-text-link">Learn more about automation &gt;</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
