<div class="drawer-content chapter-flow-drawer" ng-controller="ChapterFlowDrawerController">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <h2>Automate the buying process with Salesforce Flow.</h2>
    <p>Now that your vehicle order data is in, you'll need to create business logic to automate actions, such as financing and generating automatic price quotes. Streamlining complex tasks like these will help you save money and allow your employees to spend more time with your customers.</p>
    <p>Using low code, we created an example flow to automate the financing process.</p>
    <p class="continue">
      <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
    </p>
  </div>
</div>
