<section success="true">
    <div class="row chapter-flow mobile" ng-open="scrollToTop()">
      <div class="col-lg-12">
        <div class="row">
          <div class='slide'>
            <div class='slide-text'>
              <h1>Automate the buying process with Salesforce Flow.</h1>
              <p>
                Now that your vehicle order data is in, you'll need to create business logic to automate actions, such as financing and generating automatic price quotes. Streamlining complex tasks like these will help you save money and allow your employees to spend more time with customers.
                <br><br>
                Using low code, we created an example flow to automate the financing process.
              </p>
            </div>
            <img src='/assets/images/chapters/chapter-flow/chapter-flow-slide-0-mobile.png' alt='' class='slide-bg-image'>
            <div class="transition-copy">
              <p>
                We can update the payment flow to start.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class='slide'>
            <img src='/assets/images/chapters/chapter-flow/chapter-flow-slide-1-mobile.png' alt='' class='slide-bg-image'>
            <div class="transition-copy">
              <p>
                We can add price quote logic to our flow so that sales reps see automatic payment terms.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class='slide'>
            <img src='/assets/images/chapters/chapter-flow/chapter-flow-slide-2-mobile.png' alt='' class='slide-bg-image'>
            <div class="transition-copy">
              <p>
                Your financing process flow is now live!
                <br><br>
                While we created this flow without using any code, the Salesforce Platform also enables your team to build flows with code, like the one seen here. Seamlessly extend and enrich your automations through a number of programming languages based on your needs.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class='slide'>
            <img src='/assets/images/chapters/chapter-flow/chapter-flow-slide-3-mobile.png' alt='' class='slide-bg-image'>
            <div class="transition-copy">
              <p>
                Even better, developers can stay in the browser experience with Code Builder, allowing you to deliver trusted, end-to-end experiences and drive productivity.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class='slide'>
            <img src='/assets/images/chapters/chapter-flow/chapter-flow-slide-4-mobile.png' alt='' class='slide-bg-image'>
            <div class="transition-copy">
              <p>
                And with Data Cloud, workflows like this one become dynamic – they change just as your data does. Data Cloud helps boost automation, by connecting real-time data to real-time workflows with Salesforce Flow.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
          <div class='slide'>
            <img src='/assets/images/chapters/chapter-flow/chapter-flow-slide-5-mobile.gif' alt='' class='slide-bg-image'>
          </div>
          <div class="slides success" success="true">
            <div class="confetti-container" ng-open="renderConfetti()">
              <div class="confettii-still"></div>
              <div class="content-container">
                <div class="success-text">
                  <h3>Chapter summary</h3>
                  <p>
                    Automating these actions will enhance and expedite the overall purchasing process, allowing your team to work more efficiently.
                    <br><br>
                    Next, you'll add this business logic to your app with clicks, not code.
                  </p>
                </div>
                <div class="mobile-success-ctas">
                  <a ui-sref="chapter-builder" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                  <div class="text-link">
                    <a
                      href="https://www.salesforce.com/products/platform/workflow-automation/"
                      class="success-text-link"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Learn more about automation <span class="carat"><i></i></span></a
                    >

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <hotspots-container>
              <wizard name="monitor" on-finish="finishedWizard()">
                <wz-step>
                  <div class="step step-0"></div>
                </wz-step>
                <wz-step>
                  <div class="step step-1">
                    <div class="click-box active" ng-click="Next()"></div>
                  </div>
                </wz-step>
                <wz-step>
                  <div class="step step-2">
                    <div class="click-box active" ng-click="GoToStep2A()"></div>
                  </div>
                </wz-step>
                <wz-step>
                  <div class="step step-2a">
                    <div class="flyout active">
                      <span>Object Creator imported the vehicle data and automatically sorted it into editable columns and fields.</span>
                      <a ng-click="GoToStep3()">continue</a>
                      <span class="carat"><i></i></span>
                    </div>
                  </div>
                </wz-step>
                <wz-step>
                  <div class="step step-3">
                    <div class="click-box active" ng-click="GoToStep3A()"></div>
                  </div>
                </wz-step>
                <wz-step>
                  <div class="step step-3a">
                    <div class="flyout active">
                      <span>Congratulations! Your data has been added to a Salesforce app that was created just for you. Let’s see your data in action.</span>
                      <a ng-click="GoToStep4()">continue</a>
                      <span class="carat"><i></i></span>
                    </div>
                  </div>
                </wz-step>
                <wz-step>
                  <div class="step step-4">
                    <div class="click-box active" ng-click="GoToStep4A()"></div>
                  </div>
                </wz-step>
                <wz-step>
                  <div class="step step-4a">
                    <div class="flyout active">
                      <span>Your team can now access real-time order updates right in the app.</span>
                      <a ng-click="GoToStep4B()">continue</a>
                      <span class="carat"><i></i></span>
                    </div>
                  </div>
                </wz-step>
                <wz-step>
                  <div class="step step-4b">
                    <div class="flyout active">
                      <span>But, it doesn’t stop there. You can get a 360° view of your customer using different data sources that are consolidated into a unified profile.</span>
                      <a ng-click="GoToStep5()">continue</a>
                      <span class="carat"><i></i></span>
                    </div>
                  </div>
                </wz-step>
                <wz-step>
                  <div class="step step-5">
                    <div class="click-box active" ng-click="GoToStep5A()"></div>
                  </div>
                </wz-step>
                <wz-step>
                  <div class="step step-5a">
                    <div class="flyout active">
                      <span>Now, you can speed up innovation by empowering your teams to deliver connected and personalized customer experiences — with clicks, not code.</span>
                      <a ng-click="GoToSuccess()">continue</a>
                      <span class="carat"><i></i></span>
                    </div>
                  </div>
                </wz-step>
                <wz-step success="true">
                  <div class="step success">
                    <div class="confetti-container" ng-open="renderConfetti()">
                      <canvas id="success-confetti"></canvas>
                    </div>
                    <li-center>
                      <p>
                        With all customer data in one place, your business can operate faster and with greater agility. Next, let’s learn about adding automation to the buying process.
                      </p>
                      <p>
                        <a ui-sref="chapter-flow" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded active">Continue</a>
                        <a href="https://www.salesforce.com/products/platform/features/customer-360-truth/" class="success-text-link" target="_blank" rel="noopener noreferrer">Learn more about data</a>
                        <span class="carat"><i></i></span>
                      </p>
                    </li-center>
                  </div>
                </wz-step>
              </wizard>
            </hotspots-container> -->
        </div>
      </div>
    </div>
  </section>
