.flyout {
  padding: 25px;
  background: rgba($color-background-flyout, 1);
  width: 400px;
  position: absolute;
  bottom: 25px;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  span {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    display: block;
  }
  a {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .carat {
    display: inline-flex;
    margin-bottom: 0;
    i {
      font-family: 'SalesforceIcons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 9px;
      &:after {
        content: "\e924";
      }
    }
  }
}

.current {
  .flyout {
    &.active {
      transform: translateX(0);
    }
  }
}