.flyout {
  padding: 25px;
  background: rgba($color-background-flyout, 1);
  width: 400px;
  position: absolute;
  bottom: 25px;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  border-radius: 8px 0 0 8px;
  span {
    margin-bottom: 20px;
    display: block;
    font-family: $avantgarde;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.002em;
    color: #BEC7F6;
  }
  a {
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .carat {
    display: inline-flex;
    margin-bottom: 0;
    i {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANBAMAAABSlfMXAAAALVBMVEUAAAD///////////////////////////////////////////////////////+hSKubAAAADnRSTlMAQJ9/7zAg3xDPv5BwYJrNQHMAAAA9SURBVAjXYwCBXgYo2GcAZaQ/hjLY6pCFhJSAQPOdAYPdOzDwYEgUBAKpJwEQNXauEJoZXYDhSACUwQHEAEFeEguTgGcUAAAAAElFTkSuQmCC');
      background-repeat: no-repeat;
      width: 15px;
      height: 12px;
      display: inline-block;
    }
  }
}

.current {
  .flyout {
    &.active {
      transform: translateX(0);
    }
  }
}
