@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-reg-webfont.eot'),
  url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-reg-webfont.woff') format('woff'),
  url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-reg-webfont.svg#ProximaNovaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-light-webfont.eot'),
  url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-light-webfont.woff') format('woff'),
  url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-sbold-webfont.eot'),
  url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
  url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-sbold-webfont.svg#ProximaNovaSemiBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SalesforceSans';
  src: url('../fonts/SalesforceSans-Regular.eot'),
  url('../fonts/SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Regular.woff') format('woff'),
  url('../fonts/SalesforceSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SalesforceSans';
  src: url('../fonts/SalesforceSans-Bold.eot'),
  url('../fonts/SalesforceSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Bold.woff') format('woff'),
  url('../fonts/SalesforceSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SalesforceSans';
  src: url('../fonts/SalesforceSans-Thin.eot'),
  url('../fonts/SalesforceSans-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Thin.woff') format('woff'),
  url('../fonts/SalesforceSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SalesforceSans';
  src: url('../fonts/SalesforceSans-Light.eot'),
  url('../fonts/SalesforceSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Light.woff') format('woff'),
  url('../fonts/SalesforceSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SalesforceIcons';
  src: url('../fonts/salesforce-icons.eot'),
  url('../fonts/salesforce-icons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/salesforce-icons.woff') format('woff'),
  url('../fonts/salesforce-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SalesforceSansRegular';
  src: url('../fonts/SalesforceSans-Regular.eot'),
  url('../fonts/SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Regular.woff') format('woff'),
  url('../fonts/SalesforceSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SalesforceSansBold';
  src: url('../fonts/SalesforceSans-Bold.eot'),
  url('../fonts/SalesforceSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Bold.woff') format('woff'),
  url('../fonts/SalesforceSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SalesforceSansLight';
  src: url('../fonts/SalesforceSans-Light.eot'),
  url('../fonts/SalesforceSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Light.woff') format('woff'),
  url('../fonts/SalesforceSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'AvantGardeDemi';
  src: url('../fonts/ITCAvantGardePro-Demi.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
