@import '_base';
 
.mobile-popout {
  .blocker {
    left: 0px;
    top:0px;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    z-index: $z-index-mobile-popout-blocker;
  }

  .phone {
    position: absolute;
    box-sizing: border-box;
    width: 920px;
    height: 580px;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;

    .phone-backdrop {
      position: absolute;
      width: 292px;
      height: 581px;
      left: 250px;
      top: 0px;
      margin: auto;
      z-index: $z-index-mobile-popout-blocker + 2;
      pointer-events: none;
    }

    .phone-view {
      position: absolute;
      top: 12px;
      left: 271px;
      width: 257px;
      height: 556px;
      z-index: $z-index-mobile-popout-blocker + 1;
      background-color: rgba(0,255,0,0.5);
    }
  }

  .back-to-laptop {
    position: absolute;
    background-image:url('../assets/images/back-to-laptop.png');
    width: 77px;
    height: 95px;
    left: 0px;
    top: -439px;
    bottom: 0;
    right: -373px;
    margin: auto;
    cursor:pointer;
  }
}
