@import "_base";

@media(max-width: $screen-sm-max) {
  .drawer-no-scroll {
    overflow: visible !important;
  }
  .drawer-bg {
    &.active {
      display: none !important;
    }
  }
}

.mobile {
  h1 {
   color: #00a1e0;;
    font-family: $proximanova;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 7px;
    line-height: 1;
    @media(min-width: $screen-sm-min) {
      font-size: 50px;
      margin-top: 40px;
    }
    @media(max-width: 374px) {
      font-size: 20px;
    }
  }
  h2 {
    color: $color-text-header;
    font-family: $proximanova;
    font-weight: bold;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
    @media(min-width: $screen-sm-min) {
      font-size: 22px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  h3 {
    color: $color-text-header;
    font-family: $proximanova;
    font-weight: bold;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 5px;
    @media(min-width: $screen-sm-min) {
      font-size: 36px;
      margin-bottom: 20px;
      padding-right: 22px;
      padding-top: 10px;
    }
  }
  p {
    color: $color-text-header;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    @media(min-width: $screen-sm-min) {
      font-size: 38px;
      line-height: 48px;
    }
    + p {
      margin-top: 20px;
      @media(min-width: $screen-sm-min) {
        margin-top: 20px;
      }
    }
  }
  .pb {
    @media(max-width: $screen-xs-max) {
      padding-bottom: 45px !important;
    }
    @media(min-width: $screen-sm-min) {
      padding-bottom: 90px !important;
    }
  }
  .pt {
    @media(max-width: $screen-xs-max) {
      padding-top: 45px !important;
    }
    @media(min-width: $screen-sm-min) {
      padding-top: 90px !important;
    }
  }
  .hotspots {
    @media(max-width: $screen-xs-max) {
      padding: 30px 10px 19px;
      background-color: $color-background-gray-medium;
    }
    @media(min-width: $screen-sm-min) {
      padding: 60px 20px 38px;
      background-color: $color-background-gray-medium;
    }
    h3 {
      @media(max-width: $screen-xs-max) {
        @include retina-image("../assets/images/icons/mobile-guided-tour-hotspot", 14px 22px);
        background-repeat: no-repeat;
        padding-left: 19px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            padding-left: 42px;
          }
      }
      @media(min-width: $screen-sm-min) {
        background-image: url(../assets/images/icons/mobile-guided-tour-hotspot_2x.png);
        background-repeat: no-repeat;
        padding-left: 80px;
        height: 86px;
      }

    }
    p {
      color: $mobile-text-color-gray;
    }
    .screen-shot {
      @media(max-width: $screen-xs-max) {
        margin: 21px -25px;
      }
      @media(min-width: $screen-sm-min) {
        margin: 42px -35px;
      }
    }
    .last {
      @media(max-width: $screen-xs-max) {
        padding-bottom: 30px;
      }
      @media(min-width: $screen-sm-min) {
        padding-bottom: 60px;
      }
    }
  }
  .shadow {
    @media(max-width: $screen-xs-max) {
      //@include retina-image("../assets/images/backgrounds/shadow", 375px 10px);
      //background-repeat: no-repeat;
    }
    @media(min-width: $screen-sm-min) {
      //background-image: url(../assets/images/backgrounds/shadow_2x.png);
      //background-repeat: no-repeat;
    }
  }
  .did-you-know {
    position: relative;
    @media(max-width: $screen-xs-max) {
      padding: 0px 10px 35px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 0px 20px 70px;
    }
    h2 {
      color: #00a1e0;
      font-family: $proximanova;
      font-weight: normal;
      @media(min-width: $screen-sm-min) {
        font-size: 44px;
      }
    }
    p {
      color: $mobile-text-color-gray;
    }

    .btn-orange {
      @media(min-width: $screen-sm-min) {
        margin-top: 10%;
      }
      @media(max-width: $screen-xs-max) {
        margin-top: 10%;
      }
    }

    .did-you-know-icon {
      position: absolute;
      @media(max-width: $screen-xs-max) {
        top: -32px;
        left: 10px;
        height: 64px;
        width: 64px;
        @include retina-image("../assets/images/icons/mobile-guided-tour-DYK-icon", 64px 64px);
      }
      @media(min-width: $screen-sm-min) {
        top: -64px;
        left: 20px;
        height: 128px;
        width: 128px;
        background-image: url(../assets/images/icons/mobile-guided-tour-DYK-icon_2x.png);
      }
      + h2 {
        @media(max-width: $screen-xs-max) {
          margin-top: 50px;
        }
        @media(min-width: $screen-sm-min) {
          margin-top: 100px;
        }
      }
    }
    .screen-shot {
      @media(max-width: $screen-xs-max) {
        margin: 21px -25px;
      }
      @media(min-width: $screen-sm-min) {
        margin: 42px -35px;
      }
    }
  }

  .did-you-know-2 {
    position: relative;
    @media(max-width: $screen-xs-max) {
      padding: 20px 10px 65px;
      background-color: #00315a;
    }
    @media(min-width: $screen-sm-min) {
      padding: 40px 20px 90px;
      background-color: #00315a;
    }
    h1 {
      color: $text-color-white;
      font-family: $proximanova;
      font-weight: bold;
      @media(min-width: $screen-sm-min) {
        font-size: 44px;
      }
    }
    p {
      color: $text-color-white;
      margin-top: 40px;
      margin-bottom: 15px;
    }
    .did-you-know-icon {
      position: absolute;
      @media(max-width: $screen-xs-max) {
        top: -32px;
        left: 10px;
        height: 64px;
        width: 64px;
        @include retina-image("../assets/images/icons/mobile-guided-tour-DYK-icon", 64px 64px);
      }
      @media(min-width: $screen-sm-min) {
        top: -64px;
        left: 20px;
        height: 128px;
        width: 128px;
        background-image: url(../assets/images/icons/mobile-guided-tour-DYK-icon_2x.png);
      }
      + h2 {
        @media(max-width: $screen-xs-max) {
          margin-top: 50px;
          color: #89b117;
        }
        @media(min-width: $screen-sm-min) {
          margin-top: 100px;
          color: #89b117;
        }
      }
    }
  }
  .did-you-know-3 {
    position: relative;
    @media(max-width: $screen-xs-max) {
      padding: 0px 10px 35px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 0px 20px 70px;
    }
    h2 {
      color: #89b117;
      font-family: $proximanova;
      font-weight: normal;
      @media(min-width: $screen-sm-min) {
        font-size: 44px;
      }
    }
    p {
      color: #444444;
    }
    .did-you-know-icon {
      position: absolute;
      @media(max-width: $screen-xs-max) {
        top: -32px;
        left: 10px;
        height: 64px;
        width: 64px;
        @include retina-image("../assets/images/icons/mobile-guided-tour-DYK-icon", 64px 64px);
      }
      @media(min-width: $screen-sm-min) {
        top: -64px;
        left: 20px;
        height: 128px;
        width: 128px;
        background-image: url(../assets/images/icons/mobile-guided-tour-DYK-icon_2x.png);
      }
      + h2 {
        @media(max-width: $screen-xs-max) {
          margin-top: 50px;
        }
        @media(min-width: $screen-sm-min) {
          margin-top: 100px;
        }
      }
    }
  }
  .blue-container {
    @media(max-width: $screen-xs-max) {
      @include retina-image("../assets/images/backgrounds/mobile-blue-container-background", 375px 555px);
      padding: 38px 11px;
    }
    @media(min-width: $screen-sm-min) {
      background-image: url(../assets/images/backgrounds/mobile-blue-container-background_2x.png);
      padding: 76px 22px;
    }
    h3 {
      color: $text-color-white;
      margin-top: 0;
      padding-top: 0;
      @media(max-width: $screen-xs-max) {
        font-size: 23px;
      }
      @media(min-width: $screen-sm-min) {
        font-size: 46px;
      }
    }
    p {
      color: $text-color-white;
      text-align: center;
    }
    &.text-left {
      p {
        text-align: left;
      }
    }
    &.next-page {
      @media(max-width: $screen-xs-max) {
        padding: 52px 11px;
      }
      @media(min-width: $screen-sm-min) {
        padding: 52px 11px;
      }
      p {
        @media(max-width: $screen-xs-max) {
          margin-bottom: 20px;
        }
        @media(min-width: $screen-sm-min) {
          margin-bottom: 40px;
        }
      }
      .btn-white {
        float: none;
      }

      .btn-white-bottom {
        float: none;
      }
      .icon {
        height: 45px;
        width: 45px;
        background-repeat: no-repeat;
        @media(max-width: $screen-xs-max) {
          float: left;
          height: 180px;
          width: 45px;
          margin-right: 15px;
          margin-left: -10px;
        }
        @media(min-width: $screen-sm-min) {
          float: left;
          height: 360px;
          width: 90px;
          margin-right: 30px;
          margin-left: -10px;
        }
        &.imc {
          @media(max-width: $screen-xs-max) {
            @include retina-image("../assets/images/icons/icon-intergrated-marketing-campaigns", 45px 45px);
          }
          @media(min-width: $screen-sm-min) {
            background-image: url(../assets/images/icons/icon-intergrated-marketing-campaigns_2x.png);
          }
        }
        &.ln {
          @media(max-width: $screen-xs-max) {
            @include retina-image("../assets/images/icons/icon-lead-nurturing", 45px 45px);
          }
          @media(min-width: $screen-sm-min) {
            background-image: url(../assets/images/icons/icon-lead-nurturing_2x.png);
          }
        }
        &.ssmr {
          @media(max-width: $screen-xs-max) {
            @include retina-image("../assets/images/icons/icon-simplified-sales-marketing-relationship", 45px 45px);
          }
          @media(min-width: $screen-sm-min) {
            background-image: url(../assets/images/icons/icon-simplified-sales-marketing-relationship_2x.png);
          }
        }
        &.ctr {
          @media(max-width: $screen-xs-max) {
            @include retina-image("../assets/images/icons/icon-campaign-tracking-and-reporting", 45px 45px);
          }
          @media(min-width: $screen-sm-min) {
            background-image: url(../assets/images/icons/icon-campaign-tracking-and-reporting_2x.png);
          }
        }
      }
    }
  }
  .graphic {
    h2 {
      color: $text-color-white;
    }
    p {
      color: $text-color-white;
    }
  }
  .screen-shot-container {
    background-color: $color-background-gray-medium;
    @media(max-width: $screen-xs-max) {
      padding: 35px 10px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 70px 10px;
    }
    h2 {
      @media(min-width: $screen-sm-min) {
        font-size: 44px;
      }
    }
    .screen-shot {
      @media(max-width: $screen-xs-max) {
        margin: 21px -25px;
      }
      @media(min-width: $screen-sm-min) {
        margin: 42px -25px;
      }
    }
    &.no-screen-shot {
      @media(max-width: $screen-xs-max) {
        border-bottom: 1px solid $text-color-white;
      }
      @media(min-width: $screen-sm-min) {
        border-bottom: 2px solid $text-color-white;
      }
      h2 {
        @media(max-width: $screen-xs-max) {
          margin-bottom: 10px;
        }
        @media(min-width: $screen-sm-min) {
          margin-bottom: 20px;
          font-size: 22px;
        }
      }
    }
  }

  /************************
    Intro Page
  ************************/
  .welcome-page {
    .hero {
      text-align: center;
      @media(max-width: $screen-xs-max) {
        padding: 10px 0 50px;
        height: 606px;
        @include retina-image("../assets/images/backgrounds/mobile-guided-tour-intro-hero", 375px 630px, "png");
      }
      @media(min-width: $screen-sm-min) {
        padding: 20px 0 100px;
        height: 832px;
        background-image: url(../assets/images/backgrounds/mobile-guided-tour-intro-hero_2x.png);
        background-position: bottom;
      }
      h1 {
        color: rgb(0, 49, 90);
        @media(max-width: $screen-xs-max) {
          font-size: 47px;
          margin-top: 10px;
          margin-bottom: 30px;
        }
        @media(max-width: 340px) {
          font-size: 40px;
        }
        @media(min-width: $screen-sm-min) {
          font-size: 95px;
          margin-top: 20px;
        }
      }
      h2 {
        color: rgb(0, 49, 90);
        @media(max-width: $screen-xs-max) {
          font-size: 36px;
          margin-top: 45px;
          margin-bottom: 0;
        }
        @media(max-width: 340px) {
          font-size: 30px;
        }
        @media(min-width: $screen-sm-min) {
          font-size: 36px;
          margin-top: 90px;
          margin-bottom: 0;
        }
      }
      .logo {
        //@include retina-image("../assets/images/logos/logo-gray-transparent_2x.png", 143px 55px);
        width: 275px;
        height: 95px;
        display: block;
        margin: 0 auto;
        background-repeat: no-repeat;
      }
    }
    .did-you-know {
      @media(max-width: $screen-xs-max) {
        padding-top: 35px;
      }
      @media(min-width: $screen-sm-min) {
        padding-top: 70px;
      }
      h2 {
        @media(max-width: $screen-xs-max) {
          margin-top: 0;
        }
        @media(min-width: $screen-sm-min) {
          margin-top: 0;
        }
      }
    }
    .welcome-container-2 {
      @media(max-width: $screen-xs-max) {
        @include retina-image("../assets/images/backgrounds/mobile-guided-tour-intro-astro-cody-img", 375px 627logopx, "png");
        padding: 38px 11px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 627px;
      }
      @media(min-width: $screen-sm-min) {
        background-image: url(../assets/images/backgrounds/mobile-guided-tour-intro-astro-cody-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1177px;
        //padding: 76px 22px;
      }
    }
    p {
      @media(max-width: $screen-xs-max) {
        font-size: 17px;
        margin-bottom: 0;
      }
      @media(min-width: $screen-sm-min) {
        font-size: 34px;
        margin-bottom: 0;
      }
    }
  }
}

/************************
  Build a Data Model
************************/
.build-a-data-model {
  .campaign-container {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 700px;
      @include retina-image("../assets/images/mobile/data-model/data-model-bg-1", 375px 716px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 1453px;
      background-image: url(../assets/images/mobile/data-model/data-model-bg-1_2x.png);
      background-repeat: no-repeat;
    }
  }

  .campaign-container-2 {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 420px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/mobile/data-model/data-model-bg-2", 375px 435px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 870px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/mobile/data-model/data-model-bg-2_2x.png);
    }
    h1 {
      color: #00a1e0;
    }
    p {
      color: #444444;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @media(max-width: $screen-xs-max) {
        height: 448px;
      }
    }
  }
  .campaign-container-3 {
   @media(max-width: $screen-xs-max) {
     padding: 0 10px;
     height: 746px;
     @include retina-image("../assets/images/mobile/data-model/data-model-bg-3", 375px 763px, "png");
   }
   @media(min-width: $screen-sm-min) {
     padding: 20px 20px;
     height: 1526px;
     background-image: url(../assets/images/mobile/data-model/data-model-bg-3_2x.png);
   }
   h1 {
     color: #00a1e0;
   }
   p {
     color: #444444;
     @media(max-width: $screen-xs-max) {
       font-size: 18px;
       line-height: 22px;
     }
   }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @media(max-width: $screen-xs-max) {
        height: 760px;
      }
    }
 }
  //.campaign-container-4 {
  //  @media(max-width: $screen-xs-max) {
  //    padding: 0 10px;
  //    height: 602px;
  //    background-repeat: no-repeat;
  //    @include retina-image("../assets/images/mobile/data-model/data-model-bg-3", 375px 623px, "png");
  //  }
  //  @media(min-width: $screen-sm-min) {
  //    padding: 0 20px;
  //    height: 928px;
  //    background-repeat: no-repeat;
  //    background-image: url(../assets/images/mobile/data-model/data-model-bg-3_2x.png);
  //  }
  //  h1 {
  //    color: #00a1e0;
  //  }
  //  p {
  //    color: #444444;
  //  }
  //  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //    @media(max-width: $screen-xs-max) {
  //      height: 466px;
  //    }
  //  }
  //}
  //.campaign-container-5 {
  //  @media(max-width: $screen-xs-max) {
  //    padding: 0 10px;
  //    height: 602px;
  //    @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-a-process-bkg-5", 375px 620px, "png");
  //  }
  //  @media(min-width: $screen-sm-min) {
  //    padding: 0 20px;
  //    height: 1358px;
  //    background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-a-process-bkg-5_2x.png);
  //  }
  //  h1 {
  //    color: #00a1e0;
  //  }
  //  p {
  //    color: #444444;
  //    @media(max-width: $screen-xs-max) {
  //      font-size: 18px;
  //      line-height: 18px;
  //    }
  //  }
  //}
  .campaign-container-4 {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 435px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/mobile/data-model/data-model-bg-4", 375px 435px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 906px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/mobile/data-model/data-model-bg-4_2x.png);
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @media(max-width: $screen-xs-max) {
        height: 525px;
      }
    }

    h1 {
      color: #00a1e0;
    }
    p {
      color: #444444;
    }
  }
  .text-center {
    .btn-orange {
      margin-top: 10%;
      @media(min-width: $screen-sm-min) {
        margin-top: 10%;
      }
    }
  }
}

/************************
  Build a Process
************************/
.build-a-process {
  .campaign-container {
    background-position: bottom;
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 700px;
      @include retina-image("../assets/images/mobile/build-a-process/build-process-bg-1", 375px 726px, "png");
    }
    @media(max-width: 352px) {
      height: 720px;
    }
    @media(min-width: $screen-sm-min) {
      padding:  20px;
      height: 1453px;
      background-image: url(../assets/images/mobile/build-a-process/build-process-bg-1_2x.png);
      background-repeat: no-repeat;
    }
  }

  .campaign-container-2 {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 420px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/mobile/build-a-process/build-process-bg-2", 375px 435px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 870px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/mobile/build-a-process/build-process-bg-2_2x.png);
    }
  }
  .campaign-container-3 {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 464px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/mobile/build-a-process/build-process-bg-3", 375px 464px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 928px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/mobile/build-a-process/build-process-bg-3_2x.png);
    }
    h1 {
      color: #00a1e0;
    }
    p {
      color: #444444;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @media(max-width: $screen-xs-max) {
        height: 466px;
      }
    }
  }
  .campaign-container-4 {
    @media(max-width: $screen-xs-max) {
      padding: 10px 10px;
      height: 770px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-a-process-bkg-4", 375px 770px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 20px 20px;
      height: 1540px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-a-process-bkg-4_2x.png);
    }
    h1 {
      color: #00a1e0;
    }
    p {
      color: #444444;
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
        line-height: 22px;
      }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @media(max-width: $screen-xs-max) {
        height: 760px;
      }
    }
  }
  .campaign-container-5 {
    background-position: bottom;
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 624px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-a-process-bkg-5", 375px 679px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 1240px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-a-process-bkg-5_2x.png);
    }
    h1 {
      color: #00a1e0;
    }
    p {
      color: #444444;
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  .campaign-container-6 {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 517px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/mobile/build-a-process/build-process-bg-6", 375px 517px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 1034px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/mobile/build-a-process/build-process-bg-6_2x.png);
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @media(max-width: $screen-xs-max) {
        height: 525px;
      }
    }

    h1 {
      color: #00a1e0;
    }
    p {
      color: #444444;
    }
  }
  .text-center {
    .btn-orange {
      margin-top: 405px;
      @media(min-width: $screen-xs-max) {
        margin-top: 130%;
      }
    }
  }
}





.add-logic {
  .hero {
    background-position: bottom;
    @media(max-width: $screen-xs-max) {
      padding: 20px 10px;
      height: 680px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-a-mobile-app-hero", 375px 701px, "png");
    }
    @media(max-width: 331px) {
      height: 700px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 30px 20px;
      height: 1360px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-a-mobile-app-hero_2x.png);
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 1404px;
      }
    }
    h1 {
      color: #00a1e0;
      padding-bottom: 5px;
    }
    //p {
    //  @media(max-width: 331px) {
    //    font-size: 16px;
    //    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    //      font-size: 20px;
    //    }
    //  }
    //}
  }

  .mobile-app-bkg-2 {
    background-position: bottom;
    @media(max-width: $screen-xs-max) {
      padding: 20px 10px;
      height: 884px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-2", 375px 915px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 874px;
        padding: 15px 10px;
      }
    }
    @media(max-width: 331px) {
      height: 924px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 30px 20px;
      height: 1780px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-2_2x.png);
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }

    ul {
      font-size: 36px;
      @media(max-width: $screen-xs-max) {
        color: #444444;
        font-size: 18px;
        margin: 0;
        padding: 10px 36px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          font-size: 20px;
        }
      }
      @media(min-width: $screen-sm-min) {
        padding: 22px 66px;
      }
    }
    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          font-size: 20px;
          line-height: 20px;
        }
      }
      @media(min-width: $screen-sm-min) {
        padding: 8px 0;
      }
    }
  }

  //.mobile-app-bkg-3 {
  //  @media(max-width: $screen-xs-max) {
  //    padding: 0 10px;
  //    height: 619px;
  //    background-repeat: no-repeat;
  //    @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-3", 375px 633px, "png");
  //    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //      height: 722px;
  //    }
  //  }
  //  @media(min-width: $screen-sm-min) {
  //    padding: 0 20px;
  //    height: 1428px;
  //    background-repeat: no-repeat;
  //    background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-3_2x.png);
  //  }
  //  h1 {
  //    color: #00a1e0;
  //    padding: 8px 0;
  //    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //      font-size: 20px;
  //      line-height: 20px;
  //    }
  //  }
  //
  //  p {
  //    @media(max-width: $screen-xs-max) {
  //      font-size: 18px;
  //      line-height: 18px;
  //      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //        font-size: 20px;
  //        line-height: 20px;
  //      }
  //    }
  //    @media(min-width: $screen-sm-min) {
  //      padding: 8px 0;
  //    }
  //  }
  //}

  //.mobile-app-bkg-4 {
  //  @media(max-width: $screen-xs-max) {
  //    padding: 0 10px;
  //    height: 596px;
  //    background-repeat: no-repeat;
  //    @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-4", 375px 608px, "png");
  //    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //      height: 760px;
  //    }
  //  }
  //  @media(min-width: $screen-sm-min) {
  //    padding: 0 20px;
  //    height: 1576px;
  //    background-repeat: no-repeat;
  //    background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-4_2x.png);
  //  }
  //  h1 {
  //    color: #00a1e0;
  //    padding: 8px 0;
  //    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //      font-size: 20px;
  //      line-height: 20px;
  //    }
  //  }
  //
  //  p {
  //    @media(max-width: $screen-xs-max) {
  //      font-size: 18px;
  //      line-height: 18px;
  //      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //        font-size: 20px;
  //        line-height: 20px;
  //      }
  //    }
  //    @media(min-width: $screen-sm-min) {
  //      padding: 8px 0;
  //    }
  //  }
  //}

  //.mobile-app-bkg-5 {
  //  @media(max-width: $screen-xs-max) {
  //    padding: 0 10px;
  //    height: 558px;
  //    background-repeat: no-repeat;
  //    @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-5", 375px 558px, "png");
  //    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //      height: 914px;
  //    }
  //  }
  //  @media(min-width: $screen-sm-min) {
  //    padding: 0 20px;
  //    height: 897px;
  //    background-repeat: no-repeat;
  //    background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-5_2x.png);
  //  }
  //  h1 {
  //    color: #00a1e0;
  //    padding: 8px 0;
  //    }
  //
  //  p {
  //    @media(max-width: $screen-xs-max) {
  //      font-size: 16px;
  //      line-height: 16px;
  //      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //        font-size: 20px;
  //        line-height: 20px;
  //      }
  //    }
  //    @media(min-width: $screen-sm-min) {
  //      padding: 8px 0;
  //    }
  //  }
  //}

  .mobile-app-instruction {
    @media(min-width: $screen-sm-min) {
      height: 398px;
    }

    @media(max-width: $screen-xs-max) {
      height: 186px;
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }

    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
      }
      @media(min-width: $screen-sm-min) {
        padding: 8px 0;
      }
    }
   }


  .mobile-app-bkg-6 {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 535px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-6", 375px 535px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 534px;
      }
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 1070px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-6_2x.png);
    }
    h1 {
      color: #00a1e0;
    }
  }

  .btn-orange {
    margin-top: 420px;
    @media(min-width: $screen-xs-max) {
      margin-top: 130%;
    }
  }


  //.mobile-app-bkg-7 {
  //  @media(max-width: $screen-xs-max) {
  //    padding: 0 10px;
  //    height: 558px;
  //    background-repeat: no-repeat;
  //    @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-7", 375px 558px, "png");
  //    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //      height: 443px;
  //    }
  //  }
  //  @media(min-width: $screen-sm-min) {
  //    padding: 0 20px;
  //    height: 885px;
  //    background-repeat: no-repeat;
  //    background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-7_2x.png);
  //  }
  //  h1 {
  //    color: #00a1e0;
  //  }
  //}

  .hotspots {
    @media(max-width: $screen-xs-max) {
      padding-bottom: 44px;
    }
    @media(min-width: $screen-sm-min) {
      padding-bottom: 100px;
    }
  }
  .dyk {
    @media(max-width: $screen-xs-max) {
      padding: 84px 10px;
      height: 438px;
      @include retina-image("../assets/images/backgrounds/mobile-landing-page-background", 375px 438px, "jpg");
    }
    @media(min-width: $screen-sm-min) {
      padding: 168px 20px;
      height: 876px;
      background-image: url(../assets/images/backgrounds/mobile-landing-page-background_2x.jpg);
    }
    h2 {
      margin-top: 0;
    }
  }
  .lp {
    @media(max-width: $screen-xs-max) {
      padding: 25px 10px;
      height: 690px;
      @include retina-image("../assets/images/backgrounds/mobile-build-a-form-did-you-know", 375px 690px, "jpg");
    }
    @media(min-width: $screen-sm-min) {
      padding: 50px 20px;
      height: 1380px;
      background-image: url(../assets/images/backgrounds/mobile-build-a-form-did-you-know_2x.jpg);
    }
    h2 {
      @media(max-width: $screen-xs-max) {
        margin-top: 15px;
      }
      @media(min-width: $screen-sm-min) {
        margin-top: 30px;
      }
    }
    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
      }
      @media(min-width: $screen-sm-min) {
        font-size: 36px;
      }
    }
  }
}

.add-app-exchange {
  .hero {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 718px;
      @include retina-image("../assets/images/mobile/add-app-exchange/add-app-exchange-bg-1", 375px 734px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 1484px;
      background-image: url(../assets/images/mobile/add-app-exchange/add-app-exchange-bg-1_2x.png);
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 1404px;
      }
    }
    h1 {
      color: #00a1e0;
      padding-bottom: 5px;
    }
    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
        line-height: 22px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          font-size: 20px;
          line-height: 20px;
        }
      }
      @media(min-width: $screen-sm-min) {
        padding: 12px 0;
      }
    }
  }

  .mobile-app-bkg-2 {
    background-position: bottom;
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 662px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/mobile/add-app-exchange/add-app-exchange-bg-2", 375px 727px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 874px;
        padding: 15px 10px;
      }
    }
    @media(max-width: 360px) {
      height: 700px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 20px 20px;
      height: 1400px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/mobile/add-app-exchange/add-app-exchange-bg-2_2x.png);
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }

    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          font-size: 20px;
        }
      }
      @media(min-width: $screen-sm-min) {
        padding: 8px 0;
      }
    }
  }

  .mobile-app-bkg-3 {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 450px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/mobile/add-app-exchange/add-app-exchange-bg-3", 375px 450px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 760px;
      }
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 900px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/mobile/add-app-exchange/add-app-exchange-bg-3_2x.png);
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        font-size: 20px;
        line-height: 20px;
      }
    }

    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
        line-height: 18px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          font-size: 20px;
          line-height: 20px;
        }
      }
      @media(min-width: $screen-sm-min) {
        padding: 8px 0;
      }
    }
  }

  //.mobile-app-bkg-5 {
  //  @media(max-width: $screen-xs-max) {
  //    padding: 0 10px;
  //    height: 558px;
  //    background-repeat: no-repeat;
  //    @include retina-image("../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-5", 375px 558px, "png");
  //    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //      height: 914px;
  //    }
  //  }
  //  @media(min-width: $screen-sm-min) {
  //    padding: 0 20px;
  //    height: 897px;
  //    background-repeat: no-repeat;
  //    background-image: url(../assets/images/backgrounds/mobile-guided-tour-build-an-app-bkg-5_2x.png);
  //  }
  //  h1 {
  //    color: #00a1e0;
  //    padding: 8px 0;
  //  }
  //
  //  p {
  //    @media(max-width: $screen-xs-max) {
  //      font-size: 16px;
  //      line-height: 16px;
  //      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //        font-size: 20px;
  //        line-height: 20px;
  //      }
  //    }
  //    @media(min-width: $screen-sm-min) {
  //      padding: 8px 0;
  //    }
  //  }
  //}

  .text-center {
    .btn-orange {
      margin-top: 20%;
      @media(min-width: $screen-sm-min) {
        margin-top: 10%;
      }
    }
  }

  .mobile-app-instruction {
    @media(min-width: $screen-sm-min) {
      height: 398px;
    }

    @media(max-width: $screen-xs-max) {
      height: 186px;
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }

    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
        line-height: 18px;
      }
      @media(min-width: $screen-sm-min) {
        padding: 8px 0;
      }
    }
  }


  .mobile-app-bkg-6 {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 443px;
      @include retina-image("../assets/images/mobile/add-app-exchange/add-app-exchange-6-bg", 375px 443px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 534px;
      }
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 887px;
      background-image: url(../assets/images/mobile/add-app-exchange/add-app-exchange-6-bg_2x.png);
    }
    h1 {
      color: #00a1e0;
    }
  }

  .hotspots {
    @media(max-width: $screen-xs-max) {
      padding-bottom: 44px;
    }
    @media(min-width: $screen-sm-min) {
      padding-bottom: 100px;
    }
  }
  .dyk {
    @media(max-width: $screen-xs-max) {
      padding: 84px 10px;
      height: 438px;
      @include retina-image("../assets/images/backgrounds/mobile-landing-page-background", 375px 438px, "jpg");
    }
    @media(min-width: $screen-sm-min) {
      padding: 168px 20px;
      height: 876px;
      background-image: url(../assets/images/backgrounds/mobile-landing-page-background_2x.jpg);
    }
    h2 {
      margin-top: 0;
    }
  }
  .lp {
    @media(max-width: $screen-xs-max) {
      padding: 25px 10px;
      height: 690px;
      @include retina-image("../assets/images/backgrounds/mobile-build-a-form-did-you-know", 375px 690px, "jpg");
    }
    @media(min-width: $screen-sm-min) {
      padding: 50px 20px;
      height: 1380px;
      background-image: url(../assets/images/backgrounds/mobile-build-a-form-did-you-know_2x.jpg);
    }
    h2 {
      @media(max-width: $screen-xs-max) {
        margin-top: 15px;
      }
      @media(min-width: $screen-sm-min) {
        margin-top: 30px;
      }
    }
    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
      }
      @media(min-width: $screen-sm-min) {
        font-size: 36px;
      }
    }
  }
}

/************************
 Customize the Action Bar
************************/

.customize-action-bar {
  .hero {
    @media(max-width: $screen-xs-max) {
      padding: 20px 10px;
      height: 686px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-customize-hero", 375px 686px, "png");
    }
    @media(max-width: 331px) {
      padding: 0 10px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 30px 20px;
      height: 1373px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-customize-hero_2x.png);
    }
    h1 {
      color: #00a1e0;
      padding-bottom: 5px;
    }
    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
      }
      @media(min-width: $screen-sm-min) {
        padding: 12px 0;
      }
    }
  }

  .customize-bkg-2 {
    background-position: bottom;
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 630px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-customize-bkg-2", 375px 683px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 20px 20px;
      height: 1300px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-customize-bkg-2_2x.png);
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }

    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
      }
      @media(min-width: $screen-sm-min) {
        padding: 8px 0;
      }
    }
  }

  .customize-bkg-3 {
    @media(max-width: $screen-xs-max) {
      padding: 0 10px;
      height: 568px;
      background-repeat: no-repeat;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-customize-bkg-3", 375px 585px, "png");
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 20px;
      height: 1170px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-customize-bkg-3_2x.png);
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }

    p {
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
      }
      @media(min-width: $screen-sm-min) {
        padding: 8px 0;
      }
    }
  }

  .btn-orange {
    @media(max-width: $screen-xs-max) {
      margin-top: 13%;
    }
    @media(min-width: $screen-sm-min) {
      margin-top: 13%;
    }
  }

  .hotspots {
    @media(min-width: $screen-sm-min) {
      padding-bottom: 105px;
    }
    @media(max-width: $screen-xs-max) {
      padding-bottom: 48px;
    }
  }

  .screen-shot-container {
    .screen-shot {
      &.content-editing {
        @media(max-width: $screen-xs-max) {
          @include retina-image("../assets/images/backgrounds/mobile-build-an-email-content-editing", 375px 439px, "jpg");
          height: 439px;
        }
        @media(min-width: $screen-sm-min) {
          background-image: url(../assets/images/backgrounds/mobile-build-an-email-content-editing_2x.jpg);
          height: 878px;
        }
      }
      &.email-builder {
        @media(max-width: $screen-xs-max) {
          @include retina-image("../assets/images/backgrounds/mobile-build-an-email-email-builder", 375px 439px, "jpg");
          height: 439px;
        }
        @media(min-width: $screen-sm-min) {
          background-image: url(../assets/images/backgrounds/mobile-build-an-email-email-builder_2x.jpg);
          height: 878px;
        }
      }
      &.email-rendering {
        @media(max-width: $screen-xs-max) {
          @include retina-image("../assets/images/backgrounds/mobile-build-an-email-email-rendering", 375px 439px, "jpg");
          height: 439px;
        }
        @media(min-width: $screen-sm-min) {
          background-image: url(../assets/images/backgrounds/mobile-build-an-email-email-rendering_2x.jpg);
          height: 878px;
        }
      }
    }
  }
}

/************************
  Customize Mobile
************************/

//.customize-mobile {
//  .hero {
//    @media(max-width: $screen-xs-max) {
//      padding: 0;
//      height: 564px;
//      @include retina-image("../assets/images/backgrounds/mobile-prospect-profile-hero", 375px 564px, "jpg");
//    }
//    @media(min-width: $screen-sm-min) {
//      padding: 0;
//      height: 1128px;
//      background-image: url(../assets/images/backgrounds/mobile-prospect-profile-hero_2x.jpg);
//    }
//    h1 {
//      color: #00a1e0;
//      padding: 8px 0;
//    }
//    p {
//      @media(max-width: $screen-xs-max) {
//        font-size: 18.5px;
//      }
//      @media(min-width: $screen-sm-min) {
//        font-size: 37px;
//      }
//    }
//  }
//  .hotspots {
//    .screen-shot {
//      &.data-table {
//        @media(max-width: $screen-xs-max) {
//          @include retina-image("../assets/images/backgrounds/mobile-prospect-profile-table", 375px 96px);
//          height: 96px;
//        }
//        @media(min-width: $screen-sm-min) {
//          background-image: url(../assets/images/backgrounds/mobile-prospect-profile-table_2x.png);
//          height: 192px;
//        }
//      }
//    }
//  }
//}

.app-in-action {
  p {
    @media(max-width: $screen-xs-max) {
      font-size: 18.5px;
      color: $text-color-white;
      padding-top: 44px;
    }
    @media(min-width: $screen-sm-min) {
      font-size: 37px;
      color: $text-color-white;
      padding-top: 70px;
    }
  }
  .hero {
    @media(max-width: $screen-xs-max) {
      padding: 0 9px;
      height: 667px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-your-app-hero", 375px 690px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 690px;
      }
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 18px;
      height: 1380px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-your-app-hero_2x.png);
    }
    p {
      color: $text-color;
      @media(max-width: $screen-xs-max) {
        font-size: 18.5px;
        padding-top: 10px;
      }
      @media(min-width: $screen-sm-min) {
        font-size: 37px;
        padding-top: 34px;
      }
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }
  }

  .your-app-bkg-2 {
    @media(max-width: $screen-xs-max) {
      padding: 0 9px;
      height: 471px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-2", 375px 471px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 470px;
      }

    }
    @media(min-width: $screen-sm-min) {
      padding: 0 18px;
      height: 942px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-2_2x.png);
    }

    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }
    p {
      @media(max-width: 321px) {
        padding-top: 40px;
      }
    }
  }

  .your-app-bkg-3 {
    @media(max-width: $screen-xs-max) {
      padding: 0 9px;
      height: 471px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-3", 375px 471px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 470px;
      }
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 18px;
      height: 942px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-3_2x.png);
    }
    p {
      color: $text-color;
      @media(max-width: 321px) {
        padding-top: 40px;
      }
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }
  }

  .your-app-bkg-4 {
    @media(max-width: $screen-xs-max) {
      padding: 0 9px;
      height: 471px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-4", 375px 471px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 505px;
      }
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 18px;
      height: 942px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-4_2x.png);
    }
    p {
      color: $text-color;
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }
  }

  .your-app-bkg-5 {
    @media(max-width: $screen-xs-max) {
      padding: 0 9px;
      height: 471px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-5", 375px 471px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 470px;
      }
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 18px;
      height: 942px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-5_2x.png);
    }

    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }
    p {
      @media(max-width: 321px) {
        padding-top: 40px;
      }
    }
  }

  .your-app-bkg-6 {
    @media(max-width: $screen-xs-max) {
      padding: 0 9px;
      height: 506px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-6", 375px 506px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 470px;
      }
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 18px;
      height: 1013px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-6_2x.png);
    }
    p {
      color: $text-color;
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }
  }

  .your-app-bkg-7 {
    @media(max-width: $screen-xs-max) {
      padding: 0 9px;
      height: 471px;
      @include retina-image("../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-7", 375px 471px, "png");
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 470px;
      }
    }
    @media(min-width: $screen-sm-min) {
      padding: 0 18px;
      height: 942px;
      background-image: url(../assets/images/backgrounds/mobile-guided-tour-your-app-bkg-7_2x.png);
    }
    p {
      color: $text-color;
    }
    h1 {
      color: #00a1e0;
      padding: 8px 0;
    }
  }

  .text-center {
    .btn-orange {
      margin-top: 20%;
      @media(min-width: $screen-sm-min) {
        margin-top: 10%;
      }
    }
  }

  .screen-shot-container {
    .screen-shot {
      &.overview {
        @media(max-width: $screen-xs-max) {
          @include retina-image("../assets/images/backgrounds/mobile-pardot-reporting-overview", 375px 444px, "jpg");
          height: 444px;
        }
        @media(min-width: $screen-sm-min) {
          background-image: url(../assets/images/backgrounds/mobile-pardot-reporting-overview_2x.jpg);
          height: 888px;
        }
      }
      &.advanced {
        @media(max-width: $screen-xs-max) {
          @include retina-image("../assets/images/backgrounds/mobile-pardot-reporting-advanced", 375px 444px, "jpg");
          height: 444px;
        }
        @media(min-width: $screen-sm-min) {
          background-image: url(../assets/images/backgrounds/mobile-pardot-reporting-advanced_2x.jpg);
          height: 888px;
        }
      }
      &.client-report {
        @media(max-width: $screen-xs-max) {
          @include retina-image("../assets/images/backgrounds/mobile-pardot-reporting-client-report", 375px 444px, "jpg");
          height: 444px;
        }
        @media(min-width: $screen-sm-min) {
          background-image: url(../assets/images/backgrounds/mobile-pardot-reporting-client-report_2x.jpg);
          height: 888px;
        }
      }
      &.click-through {
        @media(max-width: $screen-xs-max) {
          @include retina-image("../assets/images/backgrounds/mobile-pardot-reporting-click-through-rate", 375px 444px, "jpg");
          height: 444px;
        }
        @media(min-width: $screen-sm-min) {
          background-image: url(../assets/images/backgrounds/mobile-pardot-reporting-click-through-rate_2x.jpg);
          height: 888px;
        }
      }
    }
  }
  .blue-container {
    &.next-page {
      @media(max-width: $screen-xs-max) {
        padding: 52px 0px;
      }
      @media(min-width: $screen-sm-min) {
        padding: 52px 0px;
      }
      p {
        margin: 0;
      }
    }
  }
  .screen-shot-container {
    @media(max-width: $screen-xs-max) {
      padding: 25px 10px 35px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 50px 20px 70px;
    }
    h2 {
      @media(max-width: $screen-xs-max) {
        font-size: 23px;
        line-height: 1.25;
      }
      @media(min-width: $screen-sm-min) {
        font-size: 46px;
        line-height: 1.25;
      }
    }
    &.no-screen-shot {
      h2 {
        @media(max-width: $screen-xs-max) {
          margin-bottom: 10px;
        }
        @media(min-width: $screen-sm-min) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

