@import "_base";

body > div ~ div {
  background: #ffffff;
}

.container-fluid {
  &.mobile {
    .top-nav-container,
    .product-tour {
      // display: none;
    }
    .btn {
      background: #0176d3;
      border: none;
    }
    .mobile-view {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);

      img {
        margin: 0 auto;
      }
    }
  }
}


@media(max-width: $screen-sm-max) {
  .drawer-no-scroll {
    overflow: visible !important;
  }
  .drawer-bg {
    &.active {
      display: none !important;
    }
  }
}

.mobile {
  #outro & {
    min-height: initial;
  }
  h1 {
    font-family: $avantgarde;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.004em;
    margin-top: 20px;
    margin-bottom: 7px;
    color: $color-text-header;
    @media(min-width: $screen-sm-min) {
      font-size: 50px;
      margin-top: 40px;
    }
    @media(max-width: 374px) {
      font-size: 20px;
    }
  }
  h2 {
    color: $color-text-header;
    font-family: $proximanova;
    font-weight: bold;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
    @media(min-width: $screen-sm-min) {
      font-size: 22px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  h3 {
    color: $color-text-header;
    font-family: $proximanova;
    font-weight: bold;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 5px;
    @media(min-width: $screen-sm-min) {
      font-size: 36px;
      margin-bottom: 20px;
      padding-right: 22px;
      padding-top: 10px;
    }
  }
  p {
    color: $color-text-header;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    @media(min-width: $screen-sm-min) {
      font-size: 38px;
      line-height: 48px;
    }
    + p {
      margin-top: 20px;
      @media(min-width: $screen-sm-min) {
        margin-top: 20px;
      }
    }
  }
  .pb {
    @media(max-width: $screen-xs-max) {
      padding-bottom: 45px !important;
    }
    @media(min-width: $screen-sm-min) {
      padding-bottom: 90px !important;
    }
  }
  .pt {
    @media(max-width: $screen-xs-max) {
      padding-top: 45px !important;
    }
    @media(min-width: $screen-sm-min) {
      padding-top: 90px !important;
    }
  }
  .hotspots {
    @media(max-width: $screen-xs-max) {
      padding: 30px 10px 19px;
      background-color: $color-background-gray-medium;
    }
    @media(min-width: $screen-sm-min) {
      padding: 60px 20px 38px;
      background-color: $color-background-gray-medium;
    }
    h3 {
      @media(max-width: $screen-xs-max) {
        @include retina-image("../assets/images/icons/mobile-guided-tour-hotspot", 14px 22px);
        background-repeat: no-repeat;
        padding-left: 19px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            padding-left: 42px;
          }
      }
      @media(min-width: $screen-sm-min) {
        background-image: url(../assets/images/icons/mobile-guided-tour-hotspot_2x.png);
        background-repeat: no-repeat;
        padding-left: 80px;
        height: 86px;
      }

    }
    p {
      color: $mobile-text-color-gray;
    }
    .screen-shot {
      @media(max-width: $screen-xs-max) {
        margin: 21px -25px;
      }
      @media(min-width: $screen-sm-min) {
        margin: 42px -35px;
      }
    }
    .last {
      @media(max-width: $screen-xs-max) {
        padding-bottom: 30px;
      }
      @media(min-width: $screen-sm-min) {
        padding-bottom: 60px;
      }
    }
  }
  .shadow {
    @media(max-width: $screen-xs-max) {
      //@include retina-image("../assets/images/backgrounds/shadow", 375px 10px);
      //background-repeat: no-repeat;
    }
    @media(min-width: $screen-sm-min) {
      //background-image: url(../assets/images/backgrounds/shadow_2x.png);
      //background-repeat: no-repeat;
    }
  }
  .did-you-know {
    position: relative;
    @media(max-width: $screen-xs-max) {
      padding: 0px 10px 35px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 0px 20px 70px;
    }
    h2 {
      color: #00a1e0;
      font-family: $proximanova;
      font-weight: normal;
      @media(min-width: $screen-sm-min) {
        font-size: 44px;
      }
    }
    p {
      color: $mobile-text-color-gray;
    }

    .btn-orange {
      @media(min-width: $screen-sm-min) {
        margin-top: 10%;
      }
      @media(max-width: $screen-xs-max) {
        margin-top: 10%;
      }
    }

    .did-you-know-icon {
      position: absolute;
      @media(max-width: $screen-xs-max) {
        top: -32px;
        left: 10px;
        height: 64px;
        width: 64px;
        @include retina-image("../assets/images/icons/mobile-guided-tour-DYK-icon", 64px 64px);
      }
      @media(min-width: $screen-sm-min) {
        top: -64px;
        left: 20px;
        height: 128px;
        width: 128px;
        background-image: url(../assets/images/icons/mobile-guided-tour-DYK-icon_2x.png);
      }
      + h2 {
        @media(max-width: $screen-xs-max) {
          margin-top: 50px;
        }
        @media(min-width: $screen-sm-min) {
          margin-top: 100px;
        }
      }
    }
    .screen-shot {
      @media(max-width: $screen-xs-max) {
        margin: 21px -25px;
      }
      @media(min-width: $screen-sm-min) {
        margin: 42px -35px;
      }
    }
  }

  .did-you-know-2 {
    position: relative;
    @media(max-width: $screen-xs-max) {
      padding: 20px 10px 65px;
      background-color: #00315a;
    }
    @media(min-width: $screen-sm-min) {
      padding: 40px 20px 90px;
      background-color: #00315a;
    }
    h1 {
      color: $text-color-white;
      font-family: $proximanova;
      font-weight: bold;
      @media(min-width: $screen-sm-min) {
        font-size: 44px;
      }
    }
    p {
      color: $text-color-white;
      margin-top: 40px;
      margin-bottom: 15px;
    }
    .did-you-know-icon {
      position: absolute;
      @media(max-width: $screen-xs-max) {
        top: -32px;
        left: 10px;
        height: 64px;
        width: 64px;
        @include retina-image("../assets/images/icons/mobile-guided-tour-DYK-icon", 64px 64px);
      }
      @media(min-width: $screen-sm-min) {
        top: -64px;
        left: 20px;
        height: 128px;
        width: 128px;
        background-image: url(../assets/images/icons/mobile-guided-tour-DYK-icon_2x.png);
      }
      + h2 {
        @media(max-width: $screen-xs-max) {
          margin-top: 50px;
          color: #89b117;
        }
        @media(min-width: $screen-sm-min) {
          margin-top: 100px;
          color: #89b117;
        }
      }
    }
  }
  .graphic {
    h2 {
      color: $text-color-white;
    }
    p {
      color: $text-color-white;
    }
  }
  .screen-shot-container {
    background-color: $color-background-gray-medium;
    @media(max-width: $screen-xs-max) {
      padding: 35px 10px;
    }
    @media(min-width: $screen-sm-min) {
      padding: 70px 10px;
    }
    h2 {
      @media(min-width: $screen-sm-min) {
        font-size: 44px;
      }
    }
    .screen-shot {
      @media(max-width: $screen-xs-max) {
        margin: 21px -25px;
      }
      @media(min-width: $screen-sm-min) {
        margin: 42px -25px;
      }
    }
    &.no-screen-shot {
      @media(max-width: $screen-xs-max) {
        border-bottom: 1px solid $text-color-white;
      }
      @media(min-width: $screen-sm-min) {
        border-bottom: 2px solid $text-color-white;
      }
      h2 {
        @media(max-width: $screen-xs-max) {
          margin-bottom: 10px;
        }
        @media(min-width: $screen-sm-min) {
          margin-bottom: 20px;
          font-size: 22px;
        }
      }
    }
  }

  .slide-intro {
    .slide-header {
      h1 {
        font-size: 24px;
        line-height: 28px;
        @media (min-width: $screen-sm-min) {
          font-size: 40px;
          line-height: 38px;
        }
      }
    }
  }

  .transition-copy {
    background-color: #BEC7F6;
    min-height: 115px;
    display: flex;
    align-items: center;
    padding: 40px;
    position: relative;
    bottom: 0;
    z-index: 1;
    p {
      color: #181818;
      font-size: 16px;
      line-height: 24px;
      @media (min-width: $screen-sm-min) {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .transition-arrow {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #BEC7F6;
      position: absolute;
      bottom: -19px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
  }

  /************************
    Intro Page
  ************************/
  .welcome-page {
    .hero {
      text-align: center;
      @media(max-width: $screen-xs-max) {
        padding: 10px 0 50px;
        height: 182vw;
        // background-image: url(../assets/images/chapters/welcome/intro-background-mobile.png);;
      }
      @media(min-width: $screen-sm-min) {
        padding: 20px 0 100px;
        height: 1445px;
        background-image: url(../assets/images/chapters/welcome/intro-background-mobile-2x.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
      }
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        height: 1310px;
      }
      h1 {
        color: #321d71;
        @media(max-width: $screen-xs-max) {
          font-family: $avantgarde;
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 30px;
          text-align: center;
          letter-spacing: -0.004em;
          width: 280px;
          margin: 0 auto;
        }
        @media(max-width: 340px) {
          font-size: 40px;
        }
        @media(min-width: $screen-sm-min) {
          font-size: 64px;
          margin-top: 20px;
          margin: 60px auto 50px;
          max-width: 490px;
        }
      }
      h2 {
        color: rgb(0, 49, 90);
        @media(max-width: $screen-xs-max) {
          font-size: 36px;
          margin-top: 45px;
          margin-bottom: 0;
        }
        @media(max-width: 340px) {
          font-size: 30px;
        }
        @media(min-width: $screen-sm-min) {
          font-size: 36px;
          margin-top: 90px;
          margin-bottom: 0;
        }
      }
      .logo {
        //@include retina-image("../assets/images/logos/logo-gray-transparent_2x.png", 143px 55px);
        width: 160px;
        height: 44px;
        display: block;
        margin: 45px auto 30px;
        background-repeat: no-repeat;
        background-position: center;
        @media (min-width: $screen-sm-min) {
          width: 320px;
          height: 88px;
        }
      }
    }
    .did-you-know {
      @media(max-width: $screen-xs-max) {
        padding-top: 35px;
      }
      @media(min-width: $screen-sm-min) {
        padding-top: 70px;
      }
      h2 {
        @media(max-width: $screen-xs-max) {
          margin-top: 0;
        }
        @media(min-width: $screen-sm-min) {
          margin-top: 0;
        }
      }
    }
    .welcome-container-2 {
      @media(max-width: $screen-xs-max) {
        @include retina-image("../assets/images/backgrounds/mobile-guided-tour-intro-astro-cody-img", 375px 627logopx, "png");
        padding: 38px 11px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 627px;
      }
      @media(min-width: $screen-sm-min) {
        background-image: url(../assets/images/backgrounds/mobile-guided-tour-intro-astro-cody-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1177px;
        //padding: 76px 22px;
      }
    }
    p {
      @media(max-width: $screen-xs-max) {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
      }
      @media(min-width: $screen-sm-min) {
        font-size: 38px;
        margin-bottom: 65px;
        line-height: 48px;
      }
    }
  }
}

.mobile {
  .slide {
    position: relative;
  }
  .slide-text {
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
    h1 {
      font-size: 24px;
      line-height: 28px;
      @media (min-width: $screen-sm-min) {
        font-size: 40px;
        line-height: 38px;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #181818;
      @media (min-width: $screen-sm-min) {
        font-size: 36px;
        line-height: 46px;
      }
    }
  }
  .slide-bg-image {
    max-width: 100%;
    height: auto;
    min-width: 100%;
  }
}
