@import '_base';


.app-in-action {

  .step-0, .step-1, .step-2, .step-3, .step-4, .step-5, .step-6, .step-7, .step-8, .step-9, .step-10 {
    background-image:url('../assets/images/chapters/app-in-action/background.png');
  }

  .welcome-copy .welcome-copy-block {
    transform: translateY(-61%)
  }

  .app-in-action-mobile-gif {
    width: 194px;
    top: 69px;
    left: 123px;
    opacity: 1;
    position: absolute;
  }

  .app-in-action-initial-screen {
    width: 194px;
    top: 66px;
    left: 123px;
    opacity: 1;
    position: absolute;
  }

  .success {
    background-image:url('../assets/images/chapters/app-in-action/congrats-background.png');

    .btn {
      position:absolute;
      padding: 10px 30px;
      bottom:85px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}