@import "_base";

.build-lightning-app {
  .step-0,
  .step-1 {
    background: url("../assets/images/chapters/build-lightning-app/screen-bkg-1.png")
      center center no-repeat;
  }

  .step-1 {
    .click-box {
      top: 17px;
      right: 173px;
      width: 148px;
      height: 33px;
    }
  }

  .step-2 {
    background: url("../assets/images/chapters/build-lightning-app/screen-bkg-2a.png")
      center center no-repeat;
    &.step2b {
      background: url("../assets/images/chapters/build-lightning-app/screen-bkg-2b.png")
        center center no-repeat;
    }

    form {
      &.form-horizontal {
        .controls {
          input {
            position: absolute;
            top: 241px;
            left: 148px;
            height: 25px;
            border-radius: 4px;
            width: 232px;
            font-size: 10px;
            line-height: 25px;
            color: #2b3d69;
            font-weight: 500;
            &::placeholder {
              color: #2b3d69;
              font-weight: 500;
            }

            @media all and (-ms-high-contrast:none)
            {
              line-height: 23px;
            }
          }
        }
      }
    }

    .click-box {
      bottom: 24px;
      right: 94px;
      width: 43px;
      height: 23px;
    }
  }

  .step-3 {
    background: url("../assets/images/chapters/build-lightning-app/screen-bkg-3.png")
      center center no-repeat;

    .click-box {
      top: 268px;
      left: 198px;
      width: 175px;
      height: 26px;
    }
    .click-box-1 {
      bottom: 130px;
      left: 384px;
      width: 23px;
      height: 23px;
    }
  }
  .step-4 {
    background: url("../assets/images/chapters/build-lightning-app/screen-bkg-4a.png")
      center center no-repeat;
    &.step4b,
    &.step4c {
      background: url("../assets/images/chapters/build-lightning-app/screen-bkg-4b.png")
        center center no-repeat;
    }
    .click-box {
      top: 294px;
      left: 198px;
      width: 175px;
      height: 26px;
    }
    .click-box-1 {
      bottom: 130px;
      left: 384px;
      width: 23px;
      height: 23px;
    }
    .click-box-2 {
      top: 375px;
      left: 198px;
      width: 175px;
      height: 26px;
    }
    .click-box-3 {
      bottom: 130px;
      left: 384px;
      width: 23px;
      height: 23px;
    }
  }

  .step-5 {
    background: url("../assets/images/chapters/build-lightning-app/screen-bkg-5.png")
      center center no-repeat;

    .click-box {
      top: 425px;
      left: 605px;
      width: 88px;
      height: 23px;
    }
  }

  .step {
    &.success {
      p {
        padding: 0 21%;
      }
    }
  }
}

.build-lightning-app-drawer {

  p.continue {
    text-align: center;

    a.btn-continue {
      margin:30px auto;
    }
  }

}