@import '_base';

.chapter-data {

  .step-0, .step-1{
    background: url('../assets/images/chapters/chapter-data/screen-bkg-1.png') center center no-repeat;
  }
  .step-2 {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-2.png') center top no-repeat;
  }
  .step-2a, .step-3 {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-3.png') center top no-repeat;
  }

  .step-1 {
    .click-box {
      top: 210px;
      left: 139px;
      width: 80px;
      height: 22px;
    }
  }

  .step-2 {
    .click-box {
      top: 48px;
      left: 210px;
      width: 480px;
      height: 30px;
    }
  }

  .step-3 {
    .click-box {
      top: 455px;
      left: 728px;
      width: 50px;
      height: 30px;
    }
  }
}

.chapter-data-drawer {

  p.continue {
    text-align: center;

    a.btn-continue {
      margin:30px auto;
    }
  }

}