@import "_base";

.chapter-customer-app {
  .step-0,
  .step-1,
  .step-1a {
    background: url("../assets/images/chapters/chapter-customer-app/customer-app-0.png")
      center center no-repeat;
  }
  .step-1b,
  .step-2 {
    background: url("../assets/images/chapters/chapter-customer-app/customer-app-1b.png")
      center center no-repeat;
  }

  .step-3 {
    background: url("../assets/images/chapters/chapter-customer-app/customer-app-3.png")
      center center no-repeat;
  }
  .step-4a,
  .step-4 {
    background: url("../assets/images/chapters/chapter-customer-app/customer-app-4.png")
      center center no-repeat;
  }

  .step {
    background-size: contain;
  }

  .step-1a {
    .click-box {
      top: 40px;
      right: 9px;
      width: 47px;
      height: 26px;
    }    
  }
  .step-2 {
    .click-box {
      bottom: 131px;
      right: 238px;
      width: 159px;
      height: 29px;
    }    
  }

  .step-3 {
    .click-box {
      bottom: 75px;
      left: 183px;
      width: 90px;
      height: 15px;
    }    
  }

  .step-4 {
    .click-box {
      bottom: 48px;
      right: 181px;
      width: 68px;
      height: 19px;
    }    
  }
  &.mobile {
    height: 100%;
    .slides {
      min-height: 600px;
    }
    .slide-image {
      height: 560px;
      position: relative;
      background-size: cover;
      @media (min-width: $screen-sm-min) {
        height: 1152px;
      }
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        height: 1158px;
      }
    }
    .slide-0 {
      margin-top: 80px;
      @media (min-width: $screen-sm-min) {
        margin-top: 230px;
      }
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        margin-top: 220px;
      }
      .slide-image {
        background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-0.png) center center no-repeat;
        background-size: cover;
        height: 694px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-0-2x.png) center bottom no-repeat;
          background-position: center bottom;
          background-size: cover;
          height: 1074px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1360px;
        }
      }
      .slide-intro {
        position: absolute;
        padding: 0 15px 0 30px;
        top: 20px;
        width: 100%;
        @media (min-width: $screen-sm-min) {
          padding: 0 15px 0 60px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          top: -30px;
          padding: 0 15px 0 90px;
        }
        .slide-header {
          margin-bottom: 30px;
          h1 {
            color: #000000;
            font-size: 28px;
            margin-bottom: 0;
            @media (min-width: $screen-sm-min) {
              font-size: 40px;
              line-height: 38px;
            }
          }
        }
        .slide-copy {
          max-width: 330px;
          @media (min-width: $screen-sm-min) {
            max-width: 650px;
          }
          p {
            color: #000000;
            font-size: 18px;
            line-height: 26px;
            @media (min-width: $screen-sm-min) {
              font-size: 32px;
              line-height: 40px;
            }
          }
        }
      }
      .transition-copy {
        @media (min-width: $screen-sm-min) {
          bottom: 103px;
        }
      }
    }
    .slide-1 {
      margin-top: -70px;
      @media (min-width: $screen-sm-min) {
        margin-top: -90px;
      }
      .slide-image {
        background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-1.png) center center no-repeat;
        background-size: contain;
        height: 630px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-1-2x.png) center top no-repeat;
          background-size: contain;
          height: 934px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1240px;
        }
      }
      .transition-copy {
        bottom: 103px;
        @media (min-width: $screen-sm-min) {
          bottom: 80px;
        }
      }
    }
    .slide-2 {
      position: relative;
      top: -90px;
      @media (min-width: $screen-sm-min) {
      }
      .slide-image {
        background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-2.png) center top no-repeat;
        background-size: contain;
        height: 560px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-2-2x.png) center top no-repeat;
          background-size: contain;
          height: 1152px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1441px;
        }
      }
      .transition-copy {
        bottom: 102px;
        @media (min-width: $screen-sm-min) {
          bottom: 284px;
        }
      }
    }
    .slide-3 {
      position: relative;
      top: -180px;
      @media (min-width: $screen-sm-min) {
        top: -385px;
      }
      .slide-image {
        background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-3.png) center top no-repeat;
        background-size: contain;
        height: 560px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-3-2x.png) center top no-repeat;
          background-size: contain;
          height: 1162px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1441px;
        }
      }
      .transition-copy {
        bottom: 103px;
        @media (min-width: $screen-sm-min) {
          bottom: 295px;
        }
      }
    }
    .slide-4 {
      position: relative;
      top: -270px;
      @media (min-width: $screen-sm-min) {
        top: -700px;
      }
      .slide-image {
        background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-4.png) center top no-repeat;
        background-size: contain;
        height: 500px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/chapter-customer-app/mobile-slide-4-2x.png) center top no-repeat;
          background-size: contain;
          height: 934px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1441px;
        }
      }
      .transition-copy {
        bottom: 103px;
      }
    }
    .success {
      position: relative;
      top: -415px;
      min-height: 300px;
      @media (min-width: $screen-sm-min) {
        top: -767px;
        min-height: 530px;
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          top: -83px;
          min-height: 430px;
        }
      }
      .confetti-container {
        .content-container{
          top: 50px;
        }
        .confettii-still {
          min-height: 330px;
          @media (min-width: $screen-sm-min) {
            min-height: 530px;
          }
        }
      }
    }
    .transition-copy {
      background-color: #00315a;
      min-height: 115px;
      display: flex;
      align-items: center;
      padding: 40px;
      position: relative;
      bottom: 0;
      z-index: 1;
      p {
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        @media (min-width: $screen-sm-min) {
          font-size: 32px;
          line-height: 40px;
        }
      }
      .transition-arrow {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #00315a;
        position: absolute;
        bottom: -19px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
    }
  }
}
