@import "_base";

.chapter-flow {
  .step-0,
  .step-1 {
    background: url("../assets/images/chapters/chapter-flow/screen-bkg-1.png") center center no-repeat;
  }
  .step-1a,
  .step-2 {
    background: url("../assets/images/chapters/chapter-flow/screen-bkg-1a.png") center top no-repeat;
  }
  .step-3 {
    background: url("../assets/images/chapters/chapter-flow/screen-bkg-3.png") center top no-repeat;
  }
  .step-4 {
    background: url("../assets/images/chapters/chapter-flow/screen-bkg-4.png") center top no-repeat;
  }

  .step {
    background-size: contain;
  }

  .step-1 {
    .click-box {
      top: 80px;
      left: 574px;
      width: 90px;
      height: 80px;
    }
  }

  .step-2 {
    .currency-drag {
      position: absolute !important;
      bottom: 261px;
      left: 6px;
      border-radius: 4px;
      -webkit-user-select:none;
      -webkit-touch-callout:none;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: move;
      }
    }
    .drop-box {
      top: 70px;
      left: 165px;
      width: 402px;
      height: 21px;
    }
  }

  .step-3 {
    .control-group {
      margin-bottom: 0;
    }

    .currency-label {
      position: absolute;
      left: 586px;
      top: 111px;
      width: 192px !important;
      opacity: 1;
      font-size: 10px;
      border-radius: 3px !important;
      height: 26px !important;
    }
  }
  .step-4 {
    .click-box {
      top: 388px;
      left: 730px;
      width: 47px;
      height: 25px;
    }
  }
}
