@import "_base";

.chapter-customer-app {
  .step-0,
  .step-1,
  .step-1a {
    background: url("../assets/images/chapters/chapter-customer-app/customer-app-0.png")
      center center no-repeat;
  }
  .step-1b,
  .step-2 {
    background: url("../assets/images/chapters/chapter-customer-app/customer-app-1b.png")
      center center no-repeat;
  }

  .step-3 {
    background: url("../assets/images/chapters/chapter-customer-app/customer-app-3.png")
      center center no-repeat;
  }
  .step-4a,
  .step-4 {
    background: url("../assets/images/chapters/chapter-customer-app/customer-app-3a.png")
      center center no-repeat;
  }

  .step-1a {
    .click-box {
      top: 41px;
      right: 9px;
      width: 47px;
      height: 26px;
    }    
  }
  .step-2 {
    .click-box {
      bottom: 134px;
      right: 239px;
      width: 155px;
      height: 26px;
    }    
  }

  .step-3 {
    .click-box {
      bottom: 72px;
      left: 183px;
      width: 90px;
      height: 15px;
    }    
  }

  .step-4 {
    .click-box {
      bottom: 48px;
      right: 181px;
      width: 68px;
      height: 19px;
    }    
  }
}

.chapter-customer-app-drawer {
  p.continue {
    text-align: center;

    a.btn-continue {
      margin: 30px auto;
    }
  }
}
