@import '_base';

.chapter-data {
  .step-0,
  .step-1 {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-1.png') center center no-repeat;
  }
  .step-2 {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-2.jpg') center top no-repeat;
  }
  .step-2a,
  .step-3 {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-2a.png') center top no-repeat;
  }
  .step-3a {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-3a.png') center top no-repeat;
  }
  .step-4 {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-4.jpg') center top no-repeat;
  }
  .step-4a {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-4a.jpg') center top no-repeat;
  }
  .step-4b,
  .step-5 {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-4b.png') center top no-repeat;
  }
  .step-5a {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-5a.png') center top no-repeat;
  }
  .step-5b {
    background: url('../assets/images/chapters/chapter-data/screen-bkg-5b.png') center top no-repeat;
  }
  .step {
    background-size: contain;
  }

  .step-1 {
    .click-box {
      top: 210px;
      left: 139px;
      width: 80px;
      height: 22px;
    }
  }

  .step-2 {
    .click-box {
      top: 49px;
      left: 260px;
      width: 424px;
      height: 30px;
    }
  }

  .step-3 {
    .click-box {
      top: 455px;
      left: 728px;
      width: 50px;
      height: 27px;
    }
  }

  .step-4 {
    .click-box {
      top: 148px;
      left: 8px;
      width: 770px;
      height: 19px;
    }
  }

  .step-5 {
    .click-box {
      top: 134px;
      left: 63px;
      width: 176px;
      height: 70px;
    }
  }
}

