@import "_base";

.chapter-mobile {
  .step-0,
  .step-1 {
    background: url("../assets/images/chapters/chapter-mobile/bkg-1.png") center center
      no-repeat;
  }

  .step-2 {
    background: url("../assets/images/chapters/chapter-mobile/bkg-2.png") center center
      no-repeat;
  }
  .step-3 {
    background: url("../assets/images/chapters/chapter-mobile/bkg-3.png") center center
      no-repeat;
  }

  .step-4 {
    background: url("../assets/images/chapters/chapter-mobile/bkg-4.png") center center
      no-repeat;
  }

  .step-5 {
    background: url("../assets/images/chapters/chapter-mobile/bkg-5.png") center center
      no-repeat;
  }

  .step-6 {
    background: url("../assets/images/chapters/chapter-mobile/bkg-6.gif") center center
      no-repeat;
  }

  .step-1 {
    .flyout {
      bottom: 310px;
      width: 350px;
    }
  }

  .step-2 {
    .flyout {
      bottom: 310px;
    }
  }

  .step-3 {
    .flyout {
      bottom: 300px;
      width: 346px;
    }
  }

  .step-4 {
    .flyout {
      bottom: 20px;
    }
  }

  .step-5 {
    .flyout {
      bottom: 310px;
    }
  }
}

.chapter-mobile-drawer {

  p.continue {
    text-align: center;

    a.btn-continue {
      margin:30px auto;
    }
  }

}