@import '_base';

.chapter-voice {

  .step-0, .step-1 {
    background: url("../assets/images/backgrounds/generic-phone-backdrop.png") center center no-repeat;
  }

  .phone-step-0 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-0.png") center center no-repeat;
  }

  .phone-step-1 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-1.png") center center no-repeat;
  }

  .phone-step-2 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-2.png") center center no-repeat;
  }

  .phone-step-3 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-3.png") center center no-repeat;
  }

  .phone-step-1 {
    .flyout {
      width: 240px;
      left: 280px;
      bottom: 100px;
    }
  }

  .phone-step-2 {
    .flyout {
      width: 240px;
      left: 280px;
      bottom: 100px;
    }
  }
}

.chapter-voice-drawer {

  .btn.next {
    padding: 10px 80px;
  }

  p.continue {
    text-align: center;
    margin-top: 40px;
  }
}