@import '_base';

.chapter-voice {

  .step-0, .step-1 {
    background: url("../assets/images/backgrounds/generic-phone-backdrop.png") center center no-repeat;
  }

  .phone-step-0 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-0.png") center center no-repeat;
  }

  .phone-step-1 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-1.png") center center no-repeat;
  }

  .phone-step-2 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-2.png") center center no-repeat;
  }

  .phone-step-3 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-3.png") center center no-repeat;
  }

  .step {
    background-size: contain;
  }

  .phone-step-1 {
    .astro-click-area {
      width: 150px;
      height: 280px;
      left: 280px;
      bottom: -10px;
      cursor: pointer;
      background-color: rgba($color: #ff0000, $alpha: 0.0);
    }
  }

  .phone-step-2 {
    .flyout {
      width: 380px;
      left: 280px;
      bottom: 70px;
    }
  }

  .phone-step-3 {
    .flyout {
      width: 330px;
      left: 280px;
      bottom: 70px;
    }
  }
  &.mobile {
    height: 100%;
    .slides {
      min-height: 600px;
    }
    .slide-image {
      height: 560px;
      position: relative;
      background-size: cover;
      @media (min-width: $screen-sm-min) {
        height: 1152px;
      }
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        height: 1158px;
      }
    }
    .slide-0 {
      margin-top: 10px;
      @media (min-width: $screen-sm-min) {
        margin-top: 230px;
      }
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        margin-top: 220px;
      }
      .slide-image {
        background: url(../assets/images/chapters/chapter-voice/mobile-slide-0.png) center center no-repeat;
        background-size: cover;
        height: 733px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/chapter-voice/mobile-slide-0-2x.png) center bottom no-repeat;
          background-position: center bottom;
          background-size: cover;
          height: 1154px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1360px;
        }
      }
      .slide-intro {
        position: absolute;
        padding: 0 40px 0 40px;
        top: 20px;
        width: 100%;
        @media (min-width: $screen-sm-min) {
          padding: 0 15px 0 60px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          top: -30px;
          padding: 0 15px 0 90px;
        }
        .slide-header {
          margin-bottom: 30px;
          h1 {
            color: #000000;
            font-size: 28px;
            margin-bottom: 0;
            @media (min-width: $screen-sm-min) {
              font-size: 40px;
              line-height: 38px;
            }
          }
        }
        .slide-copy {
          max-width: 330px;
          @media (min-width: $screen-sm-min) {
            max-width: 650px;
          }
          p {
            color: #000000;
            font-size: 18px;
            line-height: 26px;
            @media (min-width: $screen-sm-min) {
              font-size: 32px;
              line-height: 40px;
            }
          }
        }
      }
      .transition-copy {
        bottom: 71px;
        @media (min-width: $screen-sm-min) {
          bottom: 103px;
        }
      }
    }
    .slide-1 {
      margin-top: -170px;
      position: relative;
      @media (min-width: $screen-sm-min) {
        margin-top: -90px;
      }
      .slide-image {
        background: url(../assets/images/chapters/chapter-voice/mobile-slide-1-bckg-sky.png) center center no-repeat;
        background-size: contain;
        height: 973px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/chapter-voice/mobile-slide-1-bckgd-sky-2x.png) center top no-repeat;
          background-size: contain;
          height: 934px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1240px;
        }
      }
      .phone-background {
        background: url(../assets/images/chapters/chapter-mobile/mobile-slide-0-phone.png) center center no-repeat;
        background-size: contain;
        width: 100%;
        height: 570px;
        position: absolute;
        top: 140px;
        z-index: 2;
        pointer-events: none;
        @media (min-width: $screen-sm-min) {
          bottom: -517px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          bottom: -970px;
        }
      }
      .phone-placeholder {
        background: url(../assets/images/chapters/chapter-voice/mobile-slide-1-bckgd.png) center center no-repeat;
        background-size: contain;
        height: 559px;
        top: 145px;
        position: absolute;
        width: 100%;
        z-index: 1;
        left: 50.8%;
        transform: translateX(-50%);
        border-radius: 25%;
        @media (min-width: $screen-sm-min) {
          top: initial;
          height: 560px;
          bottom: -519px;
          left: 3px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          bottom: -970px;
        }
      }
      .play-button {
        position: absolute;
        top: 213px;
        left: 52%;
        transform: translateX(-52%);
        z-index: 1;
      }
      .gif-holder {
        position: absolute;
        top: 145px;
        left: 50.8%;
        transform: translateX(-50%);
        z-index: 1;
        width: 64%;
        img {
          width: 100%;
          border-radius: 4%;
        }
      }
      .transition-copy {
        bottom: 283px;
        z-index: 2;
        @media (min-width: $screen-sm-min) {
          bottom: 285px;
        }
      }
    }
    .slide-2 {
      position: relative;
      top: -280px;
      @media (min-width: $screen-sm-min) {
        top: -280px;
      }
      .slide-image {
        background: url(../assets/images/chapters/chapter-voice/mobile-slide-2.png) center top no-repeat;
        background-size: contain;
        height: 579px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/chapter-voice/mobile-slide-2-2x.png) center top no-repeat;
          background-size: contain;
          height: 934px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1441px;
        }
      }
      .transition-copy {
        bottom: 102px;
        @media (min-width: $screen-sm-min) {
          bottom: 284px;
        }
      }
    }
    .slide-3 {
      position: relative;
      top: -375px;
      @media (min-width: $screen-sm-min) {
        top: -560px;
      }
      .slide-image {
        background: url(../assets/images/chapters/chapter-voice/mobile-slide-3.png) center top no-repeat;
        background-size: contain;
        height: 550px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/chapter-voice/mobile-slide-3-2x.png) center top no-repeat;
          background-size: contain;
          height: 934px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1441px;
        }
      }
      .transition-copy {
        bottom: 103px;
        @media (min-width: $screen-sm-min) {
          bottom: 286px;
        }
      }
    }
    .slide-4 {
      position: relative;
      top: -270px;
      @media (min-width: $screen-sm-min) {
        top: -840px;
      }
      .slide-image {
        background: url(https://via.placeholder.com/375x600.png?text=Placeholder) center top no-repeat;
        background-size: contain;
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1441px;
        }
      }
      .transition-copy {
        bottom: 103px;
      }
    }
    .success {
      position: relative;
      top: -498px;
      min-height: 370px;
      @media (min-width: $screen-sm-min) {
        top: -66px;
        min-height: 430px;
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          top: -83px;
          min-height: 430px;
        }
      }
      .confetti-container {
        .content-container{
          top: 50px;
        }
        .confettii-still {
          min-height: 330px;
        }
      }
    }
    .transition-copy {
      background-color: #00315a;
      min-height: 115px;
      display: flex;
      align-items: center;
      padding: 40px;
      position: relative;
      bottom: 0;
      p {
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        @media (min-width: $screen-sm-min) {
          font-size: 32px;
          line-height: 40px;
        }
      }
      .transition-arrow {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #00315a;
        position: absolute;
        bottom: -19px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
    }
  }
}
