@import '_base';

.chapter-voice {

  .step-0, .step-1 {
    background: url("../assets/images/backgrounds/generic-phone-backdrop.png") center center no-repeat;
  }

  .phone-step-0 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-0.png") center center no-repeat;
  }

  .phone-step-1 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-1.png") center center no-repeat;
  }

  .phone-step-2 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-2.png") center center no-repeat;
  }

  .phone-step-3 {
    background: url("../assets/images/chapters/chapter-voice/phone-bkg-3.png") center center no-repeat;
  }

  .step {
    background-size: contain;
  }

  .phone-step-1 {
    .astro-click-area {
      width: 150px;
      height: 280px;
      left: 280px;
      bottom: -10px;
      cursor: pointer;
      background-color: rgba($color: #ff0000, $alpha: 0.0);
    }
  }

  .phone-step-2 {
    .flyout {
      width: 380px;
      left: 280px;
      bottom: 70px;
    }
  }

  .phone-step-3 {
    .flyout {
      width: 330px;
      left: 280px;
      bottom: 70px;
    }
  }
}
