@import "_base";

.chapter-mobile {

  .phone-step-0, .phone-step-1, .phone-step-2 {
    background: url("../assets/images/chapters/chapter-mobile/ch4-img1.png") center center no-repeat;
  }

  .phone-step-3 {
    background: url("../assets/images/chapters/chapter-mobile/ch4-img2.png") center center no-repeat;
  }

  /* RFP: cleanup */
  .step-0,
  .step-1 {
    background: url("../assets/images/backgrounds/generic-phone-backdrop.png") center center
      no-repeat;
  }

  .phone-step-1 {
    .flyout {
      width: 240px;
      left: 280px;
      bottom: 100px;
    }
  }

  .phone-step-2 {
    .click-box {
      top: 333px;
      left: 104px;
      width: 79px;
      height: 32px;
    }    
  }

  .phone-step-3 {
    .flyout {
      width: 380px;
      left: 280px;
      bottom: 80px;
    }
  }
}

.chapter-mobile-drawer {

  p.continue {
    text-align: center;

    a.btn-continue {
      margin:30px auto;
    }
  }

}