@import '_base';

.chapter-ai {

  .step-0, .step-1{
    background: url('../assets/images/chapters/chapter-ai/step1.png') center center no-repeat;
  }

  .step-2 {
    background: url('../assets/images/chapters/chapter-ai/step2.png') center top no-repeat;
  }

  .step-3 {
    background: url("../assets/images/backgrounds/generic-phone-backdrop.png") center center no-repeat;
  }

  .phone-step-2a  {
    background: url("../assets/images/chapters/chapter-ai/step2a-mobile.png") center center no-repeat;

    .flyout {
      width: 309px;
      left: 280px;
      bottom: 70px;
    }
  }

  .phone-step-3  {
    background: url("../assets/images/chapters/chapter-ai/step2a-mobile.png") center center no-repeat;
  }

  .phone-step-4  {
    background: url("../assets/images/chapters/chapter-ai/step4-mobile.png") center center no-repeat;

    .flyout {
      width: 309px;
      left: 280px;
      bottom: 70px;
    }    
  }
  .step {
    background-size: contain;
  }
  .step-1 {
    .prediction-drag {
      position: absolute !important;
      bottom: 158px;
      left: 2px;
      border-radius: 4px;
      -webkit-user-select:none;
      -webkit-touch-callout:none;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: move;
      }
    }
    .drop-box {
      top: 190px;
      left: 288px;
      width: 200px;
      height: 13px;
    }
  }  

  .step-2 {
    .click-box {
      bottom: 435px;
      left: 711px;
      width: 64px;
      height: 19px;
    }
  }

  .phone-step-3 {
    .click-box {
      top: 454px;
      left: 25px;
      width: 79px;
      height: 32px;
    }    
  }  
}