@import '_base';

.chapter-data {

  .step-0, .step-1 {
    background: url('../assets/images/chapters/chapter-flow/screen-bkg-1.png') center center no-repeat;
  }
  .step-1a, .step-2 {
    background: url('../assets/images/chapters/chapter-flow/screen-bkg-1a.png') center top no-repeat;
  }
  .step-3 {
    background: url('../assets/images/chapters/chapter-flow/screen-bkg-3.png') center top no-repeat;
  }
  .step-4 {
    background: url('../assets/images/chapters/chapter-flow/screen-bkg-4.png') center top no-repeat;
  }

  .step-1 {
    .click-box {
      top: 80px;
      left: 574px;
      width: 90px;
      height: 80px;
    }
  }

  .step-2 {
    .click-box {
      top: 48px;
      left: 210px;
      width: 480px;
      height: 30px;
    }
  }

  .step-3 {
    .click-box {
      top: 455px;
      left: 728px;
      width: 50px;
      height: 30px;
    }
  }

  .step-4 {
    .click-box {
      top: 400px;
      left: 694px;
      width: 45px;
      height: 25px;
    }
  }

  .step-5 {
    .click-box {
      top: 371px;
      left: 483px;
      width: 77px;
      height: 26px;
    }
  }
}

.chapter-data-drawer {

  p.continue {
    text-align: center;

    a.btn-continue {
      margin:30px auto;
    }
  }

}