#onetrust-consent-sdk div {
  &#optanon-popup-bg {
    background: #fff;
    opacity: 0.75;
  }

  &#onetrust-pc-sdk {
    margin-top: 0 !important;
    width: 1008px;
    max-width: 1008px;
    height: 549px;
    position: fixed;
    top: 50px !important;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);

    .pc-header {
      .pc-logo-container {
        margin-left: 0;

        .pc-logo {
          margin-top: 35px;
        }
      }

      #pc-title {
        font-family: "SalesforceSansLight", Helvetica, Arial, sans-serif;
        font-size: 42px !important;
        font-weight: 100;
        color: #222;
        top: 25px;
        left: 130px;
        position: absolute;
      }
    }

    section#vendors-list {
      background-color: #fff;
      height: 98%;

      .pc-header {
        background-color: #f4f4f4 !important;
      }

      .vendor-content {
        nav#vendors-list-header h3 {
          color: #215ca0;
          text-transform: uppercase;
          font-family: "SalesforceSansBold", Helvetica, Arial, sans-serif;
          font-size: .9em !important;
          line-height: 1 !important;
        }

        .action-container {
          #search-container {
            background-color: unset;

            input {
              border-radius: 0;
            }
          }

          #filter-container svg path {
            fill: #215ca0;
          }
        }

        .navigation-container svg path {
          fill: #215ca0;
        }

        .vendor-option {
          .checkbox label {
            width: 17px;

            &:after {
              top: 0;
            }
          }

          p {
            line-height: 36px !important;
          }
        }

        #vendor-list-content {
          .host-title {
            font-size: .8em !important;
            font-weight: normal;
          }

          .host-description {
            font-size: .69em !important;
            font-weight: normal;
          }
        }
      }

      .button-group-parent {
        background-color: #f4f4f4 !important;

        .optanon-ghost-button {
          background-color: transparent !important;
          color: #215ca0 !important;
          text-transform: uppercase;
        }

        .footer-logo {
          display: none;
        }
      }
    }

    div {
      &.pc-header {
        height: 137px;
        border-bottom: 0;
        padding: 0;
      }

      &.pc-content {
        #pc-privacy-header {
          font-family: "SalesforceSansBold", Helvetica, Arial, sans-serif;
          font-size: 22px !important;
          line-height: 2.36 !important;
          color: #032e61;
        }

        .group.category-menu-switch-handler {
          border-left: 4px solid transparent;
        }

        .category-group {
          padding: 0 2%;

          li.category-item .category-menu-switch-handler {
            border-bottom: 0;
            min-height: 45px;
            padding-right: 21px;
            background-color: transparent !important;
            border-left: 4px solid transparent;

            &.active-group {
              border-left: 4px solid #00a1e0;
              background-color: #fff !important;
              width: 100%;

              h3 {
                color: #000;
                font-family: "SalesforceSansBold", Helvetica, Arial, sans-serif;
              }
            }

            .preference-menu-item {
              padding: 13px 0 13px 0;
              margin: 0 0 0 30px;

              button, a {
                font-family: "SalesforceSansRegular", Helvetica, Arial, sans-serif;
                font-size: 15px;
                color: #215ca0;
                font-weight: normal;
              }
            }

            .preference-menu-text button {
              color: #000;
              font-family: "SalesforceSansBold", Helvetica, Arial, sans-serif;
            }

            h3 {
              font-family: "SalesforceSansRegular", Helvetica, Arial, sans-serif;
              font-size: 15px !important;
              line-height: 21px !important;
              color: #215ca0;
              font-weight: normal;
            }
          }
        }

        .description-container {
          height: auto;
          min-height: 340px;
          background-color: #fff;
          padding: 1% 2%;
          margin-left: 0;
          width: 69%;

          p.group-description {
            font-family: "SalesforceSansRegular", Helvetica, Arial, sans-serif;
            font-size: 15px;
            line-height: 1.6;
            color: #222;
            word-break: normal !important;
          }

          h3.category-header {
            font-family: "SalesforceSansBold", Helvetica, Arial, sans-serif;
            font-size: 22px !important;
            line-height: 2.36 !important;
            color: #032e61;
          }

          .category-host-list-container > a {
            font-weight: normal;
          }

          .cookie-subgroups-container h3.first-party-cookie-header {
            font-size: .82em !important;
            line-height: 1.4 !important;
            font-weight: normal;
          }

          .toggle-group > .toggle {
            background-color: #fff !important;

            .checkbox {
              background-color: #fff !important;

              > label {
                width: 37px;
                height: 23px;
                background-color: #c1b9b4;

                &:after {
                  background-color: white;
                  width: 19px;
                  height: 19px;
                  top: 2px;
                  left: 3px;
                }
              }
            }

            input:checked + label {
              background-color: #215ca0;

              &:after {
                background-color: white;
                top: 2px;
                left: 15px;
              }
            }
          }
        }

        .groups-container {
          #pc-policy-text {
            font-family: "SalesforceSansRegular", Helvetica, Arial, sans-serif;
            font-size: 15px;
            line-height: 1.6;
            color: #222;
          }

          > .ot-sdk-row > .ot-sdk-column {
            padding: 0 2%;

            .category-menu-switch-handler {
              border-bottom: 0;
              min-height: 45px;
              padding-right: 21px;
              background-color: transparent !important;
              padding: 12px;

              &.active-group {
                border-left: 4px solid #00a1e0;
                background-color: #fff !important;

                h3 {
                  color: #000;
                  font-family: "SalesforceSansBold", Helvetica, Arial, sans-serif;
                }
              }

              h3 {
                font-family: "SalesforceSansRegular", Helvetica, Arial, sans-serif;
                font-size: 15px !important;
                line-height: 21px !important;
                color: #215ca0;
                font-weight: normal;
              }
            }
          }
        }
      }
    }

    .button-group-parent {
      border-top: 0;
      padding-top: 0;
      padding-bottom: 20px;

      .footer-logo {
        display: none;
      }

      .button-group {
        margin: 0;

        button {
          &#accept-recommended-btn-handler {
            display: inline-block !important;
            float: right;
            height: 47px;
            min-width: 155px;
            text-transform: uppercase;
            font-size: .8em;
            font-weight: normal;
            line-height: 1.1;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            color: white;
            border-radius: 4px;
          }

          &.save-preference-btn-handler {
            //visibility: hidden;
            font-size: 14px;
            font-weight: normal;
            height: 48px;
            padding: 14px 24px;
            border-radius: 4px;

            &.visible {
              visibility: visible !important;
            }
          }
        }

        .onetrust-close-btn-handler {
          color: white !important;
          text-transform: uppercase;
        }

        .optanon-white-button-middle {
          border-radius: 4px;
          padding: 14px 24px;
          border: 1px solid #215ca0;

          button:first-child {
            background-color: #215ca0;
            border-radius: 4px;
            padding: 14px;
            border: 1px solid #215ca0;
            font-family: "SalesforceSansRegular", Helvetica, Arial, sans-serif;
            font-size: 15px;
            line-height: 100%;
            text-transform: uppercase;
          }
        }

        .optanon-ghost-button {
          background-color: transparent !important;
          color: #215ca0 !important;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk {
    width: auto;
    height: auto;
    max-height: 95vh;
    margin-left: 10px;
    margin-right: 10px;
    top: 10px !important;
    overflow: scroll;
    bottom: unset;
  }
}

@media (max-width: 1023px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk .pc-header .pc-logo-container .pc-logo {
    margin-top: 15px;
  }
}

@media (max-width: 1023px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk .pc-header #pc-title {
    top: 20px;
    font-size: 21px !important;
  }
}

@media (max-width: 768px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk section#vendors-list {
    height: 100vh;
    width: 95vw;
  }
}

@media (max-width: 1023px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk div.pc-header {
    background-color: #f4f4f4;
    height: 83px;
  }
}

@media (max-width: 1024px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk div.pc-content {
    height: 100%;
    max-height: 85vh;
  }
}

@media (max-width: 1024px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk div.pc-content .category-group {
    background-color: #f4f4f4;
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 1023px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk div.pc-content .category-group li.category-item .category-menu-switch-handler {
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk div.pc-content .description-container {
    min-height: 130px;
    width: 100%;
    padding: 16px;
  }
}

@media (max-width: 1024px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk div.pc-content .groups-container > .ot-sdk-row > .ot-sdk-column {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk div.pc-content .groups-container > .ot-sdk-row > .ot-sdk-column .category-menu-switch-handler {
    padding-right: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk div.pc-content .button-group-parent {
    height: auto;
    padding-bottom: 15px;
  }
}

@media (max-width: 1023px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk .button-group-parent {
    padding-bottom: 0;
    padding-top: calc(0.5%);
  }
}

@media (max-width: 1023px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk .button-group-parent .button-group {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 768px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk .button-group-parent .button-group button#accept-recommended-btn-handler {
    float: none;
  }
}

@media (max-width: 1023px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk .button-group-parent .button-group .optanon-white-button-middle {
    margin-bottom: 20px;
  }
}

@media (max-width: 1023px) {
  #onetrust-consent-sdk div#onetrust-pc-sdk .button-group-parent .button-group .optanon-white-button-middle button:first-child {
    margin-bottom: 20px;
  }
}

div#onetrust-banner-sdk {
  width: 900px !important;
  max-width: none !important;
  min-height: 194px;
  top: 160px !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

  .optanon-alert-box-bottom-top {
    height: 0;
  }

  #onetrust-policy {
    margin-top: 0;
  }

  .ot-sdk-container {
    p {
      color: #000 !important;
      font-size: 11pt !important;
      line-height: 16pt !important;
      margin: 0 30px !important;
      font-family: "SalesforceSansRegular", Helvetica, Arial, sans-serif;
      padding-bottom: 0;
      padding-top: 30px;

      a {
        text-decoration: none !important;
        font-family: "SalesforceSansBold", Helvetica, Arial, sans-serif;
        color: #215ca0;
        cursor: pointer;
      }
    }

    #onetrust-button-group-parent {
      padding: 15px 30px 0 30px;

      #onetrust-button-group {
        float: left;
      }

      #onetrust-accept-btn-handler {
        background-color: #215ca0;
        height: 47px;
        border-radius: 4px;
        padding: 14px 24px;
        font-size: 14px;
        border: 0;
        width: auto;
        line-height: 100%;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 768px) {
  div#onetrust-banner-sdk {
    width: calc(100% - 20px) !important;
    display: table;
    height: auto;
    top: 10px !important;
    margin-left: 10px;
    margin-right: 10px;
    transform: none !important;
  }
}

@media (max-width: 768px) {
  div#onetrust-banner-sdk .ot-sdk-container p {
    color: #222 !important;
    font-size: 15px !important;
    line-height: 24px !important;
  }
}

@media (max-width: 767px) {
  div#onetrust-banner-sdk .ot-sdk-container #onetrust-button-group-parent {
    top: 0;
    padding: 20px 30px;
  }
}