@import '_base';

.create-a-new-lightning-page {

  .step-0, .step-1 {
    background: url('../assets/images/chapters/create-a-new-lightning-page/screen-bkg-1.png') center center no-repeat;
  }

  .step-2 {
    background: url('../assets/images/chapters/create-a-new-lightning-page/screen-bkg-2.png') center center no-repeat;
  }

  .step-3 {
    background: url('../assets/images/chapters/create-a-new-lightning-page/screen-bkg-3.png') center center no-repeat;
  }

  .step-4 {
    background: url('../assets/images/chapters/create-a-new-lightning-page/screen-bkg-4.png') center center no-repeat;
  }

  .step-1 {
    .click-box {
      top: 175px;
      left: 172px;
      width: 45px;
      height: 25px;
    }
  }

  .step-2 {
    .click-box {
      bottom: 72px;
      right: 85px;
      width: 58px;
      height: 31px;
    }
  }

  .step-3 {
    .click-box {
      bottom: 72px;
      right: 85px;
      width: 58px;
      height: 31px;
    }
    .form {
      &.form-horizontal {
        position: absolute;
        top: 237px;
        left: 63px;
        .controls {
          input {
            width: 316px;
          }
        }
      }
    }
  }

  .step-4 {
    .click-box {
      bottom: 72px;
      right: 85px;
      width: 58px;
      height: 31px;
    }
  }

}

.create-a-new-lightning-page-drawer {

  .btn.next {
    padding: 10px 80px;
  }

  p.continue {
    text-align: center;
    margin-top: 40px;
  }
}