@import '_base';

.custom-objects {

  .step-0, .step-1{
    background: url('../assets/images/chapters/custom-objects/screen-bkg-1.png') center center no-repeat;
  }

  .step-2, .step-3 {
    background: url('../assets/images/chapters/custom-objects/screen-bkg-2.png') center top no-repeat;
  }

  .step-1 {
    .click-box {
      top: 81px;
      left: 676px;
      width: 90px;
      height: 32px;
    }
    .click-box-1 {
      top: 218px;
      left: 620px;
      width: 148px;
      height: 30px;
      opacity: 0;
      pointer-events: none;
      &.active {
        opacity: 1;
        cursor: pointer;
        pointer-events: all;
      }
    }
    .custom-object {
      position: absolute;
      top: 117px;
      left: 618px;
      opacity: 0;
      pointer-events: none;
      border-radius: 5px;
      &.active {
        opacity: 1;
        cursor: pointer;
        pointer-events: all;
      }
    }
  }

  .step-2 {
    height: 1040px !important;
    transition: transform 1.7s linear 0.3s;
    .form {
      &.form-horizontal {
        position: absolute;
        top: 166px;
        left: 1px;
        .control-label {
          width: 155px;
          padding-top: 7px;
          color: #000;
        }
        .controls {
          input {
            &.text {
              width: 316px;
            }
            &.plural-label {
              margin-top: 17px;
            }
            &.object-name {
              margin-top: 104px;
            }
            &.record-name {
              margin-top: 301px;
            }
          }
        }
      }
    }
    &.active {
      transform: translateY(-549px);
    }
  }

  .step-3 {
    height: 1010px !important;
    transform: translateY(-549px);
    .click-box {
      bottom: 34px;
      left: 308px;
      width: 39px;
      height: 22px;
    }
    .form {
      &.form-horizontal {
        position: absolute;
        top: 166px;
        left: 1px;
        .control-label {
          width: 155px;
          padding-top: 7px;
          color: #000;
        }
        .controls {
          input {
            &.text {
              width: 316px;
            }
            &.plural-label {
              margin-top: 17px;
            }
            &.object-name {
              margin-top: 104px;
            }
            &.record-name {
              margin-top: 301px;
            }
          }
        }
      }
    }
  }
}

.custom-objects-drawer {

  p.continue {
    text-align: center;

    a.btn-continue {
      margin:30px auto;
    }
  }

}