.getting-started-view {
  z-index: 1;
  position: relative;
}

.getting-started {
  height: 100%;
  position: fixed;
  width: 100%;
  margin-left: -15px;
  z-index: 2500;

  .background-splash {
    background-color: rgba(0,0,0,0.5);
    min-height: 100%;
    min-width: 100%;
  }

  .info-block {
    position: absolute;
    z-index: 100;
    h3 {
      color: $text-color-white;
      font-family: $salesforcesans;
      font-weight: bold;
      font-size: 14px;
      margin: 0;
      text-transform: uppercase;
    }
    p {
      color: $text-color-white;
      font-family: $salesforcesans;
      font-size: 14px;
      line-height: 1.2;
      margin: 0;
    }
    .info-block-arrow {
      position: absolute;
    }
  }

  #dyk {
    top: 70px;
    left: 50%;
    padding-top: 85px;
    padding-right: 25px;
    margin-left: -320px;
    @media (min-width: $screen-lg-min) {
      top: 70px;
      margin-left: -330px;
    }

    p {
      width: 200px;
    }
    .info-block-arrow {
      top: 0;
      right: 0;
      width: 108px;
      height: 77px;
      background-image: url(../assets/images/icons/info-block-arrow-dyk.png);
      background-repeat: no-repeat;
    }

  }

  #hs {
    top: 75px;
    right: 50%;
    padding-top: 85px;
    padding-left: 25px;
    margin-right: -304px;
    @media(min-width: $screen-lg-min) {
      top: 75px;
      margin-right: -304px;
    }

    p {
      width: 200px;
    }
    .info-block-arrow {
      top: 0;
      left: -20px;
      width: 63px;
      height: 72px;
      background-image: url(../assets/images/icons/info-block-arrow-hs.png);
      background-repeat: no-repeat;
    }
  }

  #steps {
    top: 275px;
    right: 155px;
    padding-top: 90px;
    p {
      width: 175px;
    }
    .info-block-arrow {
      top: 0;
      right: 27px;
      width: 92px;
      height: 100px;
      background-image: url(../assets/images/icons/info-block-arrow-steps.png);
      background-repeat: no-repeat;
    }
  }

  #timeline {
    top: 215px;
    left: 120px;
    padding-top: 30px;
    padding-left: 70px;
    @media (max-width: $screen-md-max) {
      top: 368px;
    }
    p {
      width: 200px;
    }
    i {

    }
    .info-block-arrow {
      top: 0;
      left: 0;
      width: 63px;
      height: 33px;
      background-image: url(../assets/images/icons/info-block-arrow-timeline.png);
      background-repeat: no-repeat;
    }
  }

  #sald {
    top: 18px;
    right: 216px;
    padding-bottom: 20px;
    padding-right: 25px;
    p {
      width: 175px;
    }
    .info-block-arrow {
      bottom: 10px;
      right: 0;
      width: 79px;
      height: 20px;
      background-image: url(../assets/images/icons/info-block-arrow-sald.png);
      background-repeat: no-repeat;
    }
  }



}


@keyframes beginButton {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg) scale3d(1, 1, 1);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -30deg) scale3d(1.55, 1.55, 1.55);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg) scale3d(1, 1, 1);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg) scale3d(1.07, 1.07, 1.07);
  }

  100% {
    transform: perspective(400px)  scale3d(1, 1, 1);
    opacity: 1;
  }
}


@keyframes flapIn {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px);
    opacity: 1;
  }
}



@keyframes flapDown {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(400px);
    opacity: 1;
  }
}


/**************/
/* Animations */
/**************/


#dyk, #hs, #steps, #timeline, #sald, #mv, #begin-the-tour {
  opacity:0;
}

#dyk, #hs, #mv {
  animation: flapDown 1s forwards;
}

#dyk {
  animation-delay: 0.25s;
}

#hs {
  animation-delay: 0.55s;
}

#mv {
  animation-delay: 0.75s;
}

#dyk, #hs, #mv {
  transform-origin: top center;
}

#timeline {
  transform-origin:left center;
}

#steps {
  transform-origin:right center;
}

#steps, #timeline {
  animation: flapIn 1s;
  animation-fill-mode: forwards;
}

#steps {
  animation-delay: 0.75s;
}

#timeline {
  animation-delay: 0.95s;
}

#begin-the-tour {
  // background-image:url('../assets/images/begin.png');
  background-repeat: no-repeat;
  // animation: beginButton 700ms 1s forwards, heartbeat 1300ms ease infinite normal;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  display: inline-block;
  position: relative;
  height: 64px;
  line-height: 64px;
  padding: 0 42px;
  text-align: center;
  text-decoration: none;
  transition: color .2s ease-in-out, background .2s ease-in-out;
  transform: translate(1px);
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: 4px;
  color: #00a1e0;
  animation: borderActive 1.5s infinite;

  &:hover {
  }

  a {
    height: 64px;
    line-height: 64px;
    text-decoration:none;

    > text {    
      fill: #00a1e0;
    }

    &:hover {
      > text {    
        fill: white;
      }
    }
  }

  
}

#sald {
  animation: flapIn 1s;
  animation-delay: 5.25s;
  animation-fill-mode: forwards;
}

@keyframes heartbeat {
  0%  { transform: scale(1);   }
  14% { transform: scale(1.1); }
  28% { transform: scale(1);   }
  42% { transform: scale(1.1); }
  70% { transform: scale(1);   }
}