@import "_base";

.heroku-connect {
  .step-0,
  .step-1 {
    background: url("../assets/images/chapters/heroku-connect/screen-bkg-1.png")
      center center no-repeat;
  }

  .step-2 {
    background: url("../assets/images/chapters/heroku-connect/screen-bkg-2.png")
      center center no-repeat;
  }

  .step-3 {
    background: url("../assets/images/chapters/heroku-connect/screen-bkg-3.png")
      center top no-repeat;
    &.active {
      background: url("../assets/images/chapters/heroku-connect/screen-bkg-4.png")
        center top no-repeat;
    }
  }

  .step-4 {
    background: url("../assets/images/backgrounds/phone-screen-background.png")
      center top no-repeat;
  }

  .step-5 {
    background: url("../assets/images/chapters/heroku-connect/screen-bkg-5.gif")
      center top no-repeat;
  }

  .step-1 {
    .click-box {
      bottom: 8px;
      left: 50px;
      width: 687px;
      height: 28px;
    }
  }

  .step-2 {
    .click-box {
      bottom: 83px;
      left: 148px;
      width: 37px;
      height: 28px;
    }
    .check {
      position: absolute;
      bottom: 90px;
      left: 159px;
    }
  }

  .step-3 {
    .click-box {
      top: 53px;
      right: 44px;
      width: 63px;
      height: 28px;
    }
    .form {
      &.form-horizontal {
        position: absolute;
        bottom: 15px;
        left: 170px;
      }
    }
  }

  .step-4 {
    a {
      top: 400px;
      text-transform: none;
    }

    img {
      width: 195px;
      top: 70px;
      left: 140px;
      position: absolute;
    }
  }

  .step-5 {
    a {
      top: 400px;
      text-transform: none;
    }
  }
}
