@import "_base";

.outro {
  .recap-0 {
    background: url("../assets/images/chapters/outro/recap-0-text-2x-2.jpg")
      center center no-repeat;
    position: relative;
    background-size: contain;
    h3 {
      margin: 0;
      padding: 30px 20px 20px;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.002em;
      color: #FFFFFF;
    }
  }

  .recap-1 {
    background: url("../assets/images/chapters/outro/recap-1-new.png")
      center center no-repeat;
    background-size: contain;
  }

  .recap-0,
  .recap-1 {
    .recap-buttons {
      display: flex;
      position: absolute;
      bottom: 190px;
      align-items: center;
      .btn {
        background: #ffffff;
        color: #0176d3;
        border: 2px solid #0176d3;
        padding: 10px 30px;
        margin-top: 0;
        margin-right: 25px;
        &:hover {
            background-color: #EAF5FE;
            color: #032D60;
            border: 2px solid #032D60;
        }
      }
    }
  }
  .recap-0 {
    .recap-buttons {
      left: 50%;
      transform: translateX(-50%);
      bottom: 338px;
      width: 460px;
      .text {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;

        .carat {
          display: inline-flex;
          margin-bottom: 0;
          i {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANBAMAAABSlfMXAAAALVBMVEUAAAD///////////////////////////////////////////////////////+hSKubAAAADnRSTlMAQJ9/7zAg3xDPv5BwYJrNQHMAAAA9SURBVAjXYwCBXgYo2GcAZaQ/hjLY6pCFhJSAQPOdAYPdOzDwYEgUBAKpJwEQNXauEJoZXYDhSACUwQHEAEFeEguTgGcUAAAAAElFTkSuQmCC');
            background-repeat: no-repeat;
            width: 15px;
            height: 12px;
            display: inline-block;
          }
        }
      }
    }
  }
  .recap-1 {
    .recap-buttons {
      bottom: 100px;
      justify-content: center;
      width: 100%;
    }
  }
  &.mobile {
    height: 100%;
    .slide-0 {
      position: relative;
      p {
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 30px;
      }
      .recap-buttons {
        display: flex;
        flex-flow: column;
        //position: absolute;
        //top: 110px;
        //left: 0px;
        @media (min-width: $screen-sm-min) {
          padding-top: 50px;
        }
        .btn {
          background: #ffffff;
          color: #0176d3;
          border: 2px solid #0176d3;
          padding: 10px 30px;
          margin-bottom: 20px;
          @media (min-width: $screen-sm-min) {
            padding: 24px 75px;
            font-size: 28px;
            margin-bottom: 33px;
          }
        }
        .text {
          color: #0176d3;
          text-align: center;
          font-size: 16px;
          line-height: 28px;
          font-weight: 700;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 0;
          i {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAM1BMVEUAAAABdtMBd9MAedQBd9QAeM8Cd9QBdtQCdtIAcM8BdtMDddIAdtIEeNMAetUAeNcBdtNsRu7zAAAAEHRSTlMAgL9f3yCfz28Qr2BQQDAgv91mxQAAAEBJREFUGNOtzLcRACAMwEByDt5/WjgafJgKo/ILiadCoZYBNEFrfmmXOA9LK5CaiApnpslzmi7mGBa27aJfxm8ANGYDtqxrijwAAAAASUVORK5CYII=');
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-left: 5px;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 28px;
            i {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}
