@import "_base";

.outro {
  .recap-0 {
    background: url("../assets/images/chapters/outro/recap-0-text-2x-2.jpg")
      center center no-repeat;
    position: relative;
    background-size: contain;
    h3 {
      margin: 0;
      padding: 30px 20px 20px;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.002em;
      color: #FFFFFF;
    }
  }

  .recap-1 {
    background: url("../assets/images/chapters/outro/recap-1-new.png")
      center center no-repeat;
    background-size: contain;
  }

  .recap-0,
  .recap-1 {
    .recap-buttons {
      display: flex;
      position: absolute;
      bottom: 190px;
      align-items: center;
      .btn {
        background: #ffffff;
        color: #0176d3;
        border: 2px solid #0176d3;
        padding: 10px 30px;
        margin-top: 0;
        margin-right: 25px;
        &:hover {
            background-color: #EAF5FE;
            color: #032D60;
            border: 2px solid #032D60;
        }
      }
    }
  }
  .recap-0 {
    .recap-buttons {
      left: 50%;
      transform: translateX(-50%);
      bottom: 350px;
      width: 460px;
      .text {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;

        .carat {
          display: inline-flex;
          margin-bottom: 0;
          i {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANBAMAAABSlfMXAAAALVBMVEUAAAD///////////////////////////////////////////////////////+hSKubAAAADnRSTlMAQJ9/7zAg3xDPv5BwYJrNQHMAAAA9SURBVAjXYwCBXgYo2GcAZaQ/hjLY6pCFhJSAQPOdAYPdOzDwYEgUBAKpJwEQNXauEJoZXYDhSACUwQHEAEFeEguTgGcUAAAAAElFTkSuQmCC');
            background-repeat: no-repeat;
            width: 15px;
            height: 12px;
            display: inline-block;
          }
        }
      }
    }
  }
  .recap-1 {
    .recap-buttons {
      bottom: 100px;
      justify-content: center;
      width: 100%;
    }
  }
  &.mobile {
    height: 100%;
    .slide-0 {
      position: relative;
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        margin-top: -30px;
      }
      .slide-image {
        background: url(../assets/images/chapters/outro/mobile-outro-0.png) center bottom no-repeat;
        background-size: contain;
        height: 570px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/outro/mobile-outro-0.png) center bottom no-repeat;
          background-position: center bottom;
          background-size: cover;
          height: 1000px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 1170px;
        }
      }
      .slide-container {
        position: absolute;
        top: 33px;
        left: 45px;
        @media (min-width: $screen-sm-min) {
          top: 73px;
        }
        .slide-copy {
          max-width: 330px;
          @media (min-width: $screen-sm-min) {
            max-width: 650px;
          }
          p {
            color: #000000;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 40px;
            display: block;
            text-align: center;
            @media (min-width: $screen-sm-min) {
              font-size: 32px;
              line-height: 40px;
            }
          }
        }
      }
      .recap-buttons {
        display: flex;
        flex-flow: column;
        //position: absolute;
        //top: 110px;
        //left: 0px;
        @media (min-width: $screen-sm-min) {
          padding-top: 50px;
        }
        .btn {
          background: #ffffff;
          color: #0176d3;
          border: 2px solid #0176d3;
          padding: 10px 30px;
          margin-bottom: 20px;
          @media (min-width: $screen-sm-min) {
            padding: 24px 75px;
            font-size: 28px;
            margin-bottom: 33px;
          }
        }
        .text {
          color: #0176d3;
          text-transform: capitalize;
          text-align: center;
          i {
            font-family: "SalesforceIcons";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 9px;
            display: inline-block;
            &:after {
              content: "\E924";
            }
          }
          @media (min-width: $screen-sm-min) {
            font-size: 28px;
            i {
              font-size: 22px;
            }
          }
        }
      }
    }
    .slide-1 {
      position: relative;
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        margin-top: -30px;
      }
      .slide-image {
        background: url(../assets/images/chapters/outro/mobile-outro-1.png) center center no-repeat;
        background-size: cover;
        height: 979px;
        @media (min-width: $screen-sm-min) {
          background: url(../assets/images/chapters/outro/mobile-outro-1-2x.png) center top no-repeat;
          background-size: cover;
          height: 1915px;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          height: 2553px;
        }
        @media (max-width: 360px) {
          height: 923px;
        }
      }
      .recap-buttons {
        position: absolute;
        bottom: 230px;
        left: 30px;
        .btn {
          background: #ffffff;
          color: #0176d3;
          border: 1px solid #0176d3;
          padding: 10px 30px;
        }
        @media (min-width: $screen-sm-min) {
          bottom: 430px;
          left: 45px;
          .btn {
            font-size: 28px;
            padding: 21px 33px;
          }
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          bottom: 540px;
          left: 60px;

        }
      }

    }

  }
}
