@import "_base";

.outro {
  .recap-0 {
    background: url("../assets/images/chapters/outro/recap-0-new-new.jpg")
      center center no-repeat;
    position: relative;
    background-size: contain;
  }

  .recap-1 {
    background: url("../assets/images/chapters/outro/recap-1-new.jpg")
      center center no-repeat;
    background-size: contain;
  }

  .recap-0,
  .recap-1 {
    .recap-buttons {
      display: flex;
      position: absolute;
      bottom: 190px;
      align-items: center;
      .btn {
        background: #e67300;
        color: #ffffff;
        padding: 10px 30px;
        margin-top: 0;
        margin-right: 25px;
        &:hover {
          background: #d26b03;
          color: #ffffff;
        }
      }
    }
  }
  .recap-0 {
    .recap-buttons {
      left: 50%;
      transform: translateX(-50%);
      bottom: 330px;   
      .text {
        color: #000000;
        text-transform: uppercase;
        i {
          font-family: "SalesforceIcons";
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          font-size: 9px;
          display: inline-block;
          vertical-align: middle;
          &:after {
            content: "\E924";
          }
        }
      }
    }
  }
  .recap-1 {
    .recap-buttons {
      bottom: 100px;
      justify-content: center;
      width: 100%;
    }
  }
}
