@import '_base';

.setup-a-workflow {


  .step-0, .step-1 {
    background: url('../assets/images/chapters/setup-a-workflow/screen-bkg-1.png') center center no-repeat;
  }

  .step-2,
  .step-3,
  .step-4 {
    background: url('../assets/images/chapters/setup-a-workflow/screen-bkg-2.png') center center no-repeat;
  }

  .step-0, .step-1 {
    .form-actions {
      position: absolute;
      top: 50px;
      right: 86px;
      .btn-primary {
        padding: 5px 12px 6px;
        font-size: 10px;
      }
    }
  }

  .step-2,
  .step-3,
  .step-4 {
    .form {
      position: absolute;
      top: 173px;
      left: -10px;
      #name {
        width: 227px;
      }
      #api {
        position: absolute;
        top: 0;
        left: 412px;
        width: 229px;
      }
      #process-starts {
        margin-top: 82px;
        width: 473px;
      }
    }
    .form-actions {
      position: absolute;
      bottom: 79px;
      right: 148px;
    }
  }

}

.setup-a-workflow-drawer {

  p.continue {
    text-align: center;

    a.btn-continue {
      margin:30px auto;
    }
  }

}