@import "_base";

.main {
  .monitor {
    .welcome {
      // background: url("../assets/images/backgrounds/intro-screen.jpg") center
      //   center repeat;
      background-color: #032e61;
    }
  }
}

.welcome-page {
  overflow: hidden;
  h1 {
    color: $color-text-header;
    font-family: $salesforcesans;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 7px;
    line-height: 1;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 50px;
      margin-top: 40px;
    }
  }
  h2 {
    color: $color-text-header;
    font-family: $salesforcesans;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
    font-weight: bold;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 46px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      font-size: 46px;
    }
  }
  h3 {
    color: #00315a;
    font-family: $salesforcesans;
    font-size: 19px;
    line-height: 29px;
    margin: 0 auto 10px;
    padding: 10px;
    font-weight: normal;
    max-width: 340px;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 38px;
      margin-bottom: 20px;
      padding-top: 10px;
    }
    @media (min-width: $screen-sm-min) {
      max-width: 670px;
      font-size: 36px;
      line-height: 46px;
    }
  }
  p {
    color: $color-text-header;
    font-size: 19px;
    line-height: 24px;
    margin: 0;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 38px;
      line-height: 48px;
    }
    + p {
      margin-top: 20px;
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-top: 20px;
      }
    }
  }
  .hero {
    position: relative;
    text-align: center;
    overflow: hidden;
    @media (max-width: $screen-xs-max) {
      padding: 10px 0 50px;
      height: 323px;
      background-image: url(../assets/images/chapters/welcome/intro-background-mobile-2x.png);
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (min--moz-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 1.3 / 1),
        only screen and (min-resolution: 125dpi),
        only screen and (min-resolution: 1.3dppx) {
        // background-image: url(../assets/images/backgrounds/mobile-intro-hero_2x.jpg);
        // background-size: 375px 303px;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding: 10px 0 0px;
      height: 636px;
      // background-image: url(../assets/images/backgrounds/mobile-intro-hero_2x.jpg);
      background-size: contain;
    }
    @media (min-width: $screen-md-min) {
      height: 475px;
      background-image: url(../assets/images/backgrounds/desktop-intro-hero.jpg);
      background-position: center top;
    }
    h1 {
      color: $text-color-white;
      @media (max-width: $screen-xs-max) {
        font-size: 47px;
        margin-top: 10px;
        margin-bottom: 30px;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 94px;
        margin-top: 20px;
        margin-bottom: 24px;
      }
      @media (min-width: $screen-md-min) {
        font-size: 74px;
        margin-top: 0;
      }
    }
    h2 {
      color: $text-color-white;
      @media (max-width: $screen-xs-max) {
        font-size: 18px;
        margin-top: 45px;
        margin-bottom: 0;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 36px;
        margin-top: 90px;
        margin-bottom: 0;
      }
      @media (min-width: $screen-md-min) {
        font-size: 33px;
        margin-top: 100px;
      }
    }
    .logo {
      background-image: url(../assets/images/logos/salesforce-logo.svg);
      width: 275px;
      height: 95px;
      display: block;
      margin: 0 auto;
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (min--moz-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 1.3 / 1),
        only screen and (min-resolution: 125dpi),
        only screen and (min-resolution: 1.3dppx) {
        background-image: url(../assets/images/logos/salesforce-logo.svg);
        // background-size: 275px 95px;
        background-size: contain;
      }
      @media (min-width: $screen-md-min) {
        margin: 20px 0;
      }
    }
    .tray {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 390px;
      transition: top 0.3s ease-in-out;
      &.active {
        top: 0;
        .tray-btn {
          transform: translateY(40px);
          span {
            transform: rotate(-270deg);
          }
          p {
            margin-top: 30px;
            opacity: 0;
            visibility: hidden;
          }
        }
      }
      .tray-btn {
        position: relative;
        z-index: 1;
        background-color: $color-salesforce-blue;
        height: 85px;
        width: 165px;
        margin: 0 auto;
        padding-top: 10px;
        cursor: pointer;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: transform 0.3s ease-in-out;
        span {
          display: block;
          color: $text-color-white;
          font-size: 36px;
          font-family: $salesforcesans;
          font-weight: bold;
          line-height: 1;
          transform: rotate(-90deg);
          transition: transform 0.3s ease-in-out;
        }
        p {
          color: $text-color-white;
          font-size: 18px;
          font-family: $salesforcesans;
          font-weight: bold;
          line-height: 1;
          margin-top: 0;
          opacity: 1;
          visibility: visible;
        }
      }
      .tray-container {
        position: relative;
        z-index: 2;
        background-color: $color-salesforce-blue;
        height: 400px;
        width: 800px;
        margin: 0 auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }

  .mission {
    background: #ffffff;
    padding: 25px;
    .btn {
      margin-bottom: 40px;
      padding: 15px 45px;
      font-size: 14px;
      background: #032e61;
      @media (min-width: $screen-sm-min){
        margin-bottom: 80px;
        padding: 23px 75px;
        font-size: 28px;
      }
    }
  }
  .did-you-know {
    position: relative;
    @media (max-width: $screen-xs-max) {
      padding: 35px 10px 35px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding: 70px 20px 70px;
    }
    @media (min-width: $screen-md-min) {
      padding: 60px 0px 60px;
    }
    h2 {
      color: $color-salesforce-blue;
      font-family: $salesforcesans;
      @media (max-width: $screen-xs-max) {
        margin-top: 0;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-top: 0;
        font-size: 42px;
      }
      @media (min-width: $screen-md-min) {
        text-align: center;
        margin-top: 0;
        font-size: 42px;
      }
    }
    p {
      color: $mobile-text-color-gray;
      @media (min-width: $screen-md-min) {
        font-size: 22px;
      }
    }
  }
  .btn-white {
    @media (max-width: $screen-xs-max) {
      margin-top: 18%;
      width: 211px;
      background-color: rgb(255, 255, 255);
      border-radius: 51px;
      padding: 23px 0px;
      color: rgb(0, 119, 187);
      font-family: $salesforcesans;
      font-size: 16px;
      display: inline-block;
      float: right;
    }
    @media (min-width: $screen-sm-min) {
      background-color: rgb(255, 255, 255);
      border-radius: 51px;
      width: 325px;
      padding: 23px 0px;
      color: rgb(0, 119, 187);
      font-family: $salesforcesans;
      font-size: 22px;
      display: inline-block;
      float: right;
      margin: 0;
    }
  }

  .btn-white-bottom {
    @media (min-width: $screen-sm-min) {
      background-color: rgb(255, 255, 255);
      border-radius: 51px;
      width: 325px;
      padding: 23px 0px;
      color: rgb(0, 119, 187);
      font-family: $salesforcesans;
      font-size: 22px;
      display: inline-block;
      float: right;
      margin: 0;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 18%;
      width: 211px;
      background-color: rgb(255, 255, 255);
      border-radius: 51px;
      padding: 23px 0px;
      color: rgb(0, 119, 187);
      font-family: $salesforcesans;
      font-size: 16px;
      display: inline-block;
      float: right;
    }
  }


  .text-center {
    .btn-white {
      float: none;
      padding-top: 28px;
      margin-top: 71px;
      text-decoration: none;
    }
    .btn-white-bottom {
      float: none;
      padding-top: 28px;
      margin-top: 132%;
      text-decoration: none;
      @media (max-width: $screen-xs-max) {
        margin-top: 465px;
      }
    }
  }

  #footer {
    padding-top: 10px;
    img {
      padding: 50px;
    }
    height: 444px;
    background: #c2c2c2;
    // color: #444444;
    @media (max-width: $screen-xs-max) {
      height: 344px;
    }
    #sub-floor {
      padding: 10px 0;
    }
    #sub-floor,
    a,
    .phone-button {
      background: #c2c2c2;;
      font-size: 28px;
      margin-top: 20px;
      // color: #444444;
      @media (max-width: $screen-xs-max) {
        font-size: 18px;
      }
    }
    h3,
    h4 {
      color: #00315a;
    }
    #sub-floor #credit {
      padding: 0px;
      color: #444444;
    }
    #footer-links {
      float: left;
    }
    #credit {
      float: none;
      text-align: center;
      width: 705px;
      @media (max-width: $screen-xs-max) {
        width: 330px;
      }
    }
  }

  #sub-floor a {
    color: #005290;
    display: block;
  }

  #footer {
    #sub-floor #credit a,
    .phone-button {
      color: #005290;
    }
    .span12 {
      padding: 0 20px;
    }
    .social-icons {
      float: left;
      .btn {
        border: 0px;
      }
    }
    #menu-main-navigation {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
    }
    #sub-floor #credit a:hover {
      color: inherit;
    }
    .navbar .nav > li > a {
      padding: 0px 10px 0px;
    }
  }

  .clearall {
    clear: both;
  }

  #footer {
    .navbar .nav > li {
      float: left;
    }
  }
}

.welcome {
  .step-1,
  .step-2 {
    background-image: url("../assets/images/chapters/welcome/intro-background.jpg");
    background-size: cover;
  }

  .step-3 {
    background-image: url("../assets/images/chapters/welcome/intro.gif");
    background-size: cover;
  }
}

.welcome-copy {
  text-align: left;
  color: white;
  width: 273px;
  height: 360px;
  left: 470px;
  position: absolute;
  top: 17px;

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 15px;
  }

  a {
    position: absolute;
    top: 360px;
    left: 0px;
    width: auto;
  }
  a.continue-button-1 {
    top: 310px;
  }

  .welcome-copy-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
