@import '_fonts';
@import '_base';
@import '_animated-icons';
@import '_buttons';
@import '_forms';
@import '_sprites';
@import '_click-box';
@import '_drop-box';
@import '_flyout';

* {
  user-select: none;
  input, .html-editor *, .headline-modal {
    user-select: auto;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  @media(max-width: $screen-sm-max) {
    height: initial !important;
    min-height: 100vh !important;
    overflow: hidden !important;
    display: block !important;
    position: relative !important;
  }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    height: initial !important;
    min-height: 100vh !important;
    overflow: hidden !important;
    display: block !important;
    position: relative !important;
  }
}

.atlwdg-trigger {
  z-index: 99999;
}

h2 {
  font-size: $header2-font-size;
  line-height: $header2-line-space;
  font-family: $header2-font-family;
  color: $color-text-header;
  font-weight: $header2-font-weight;
}

.intro-text {
  color: #ffffff;
  font-family: $avantgarde;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.004em;
}

.intro-copy {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.001em;
  margin-bottom: 10px;
}

p {
  font-family: $salesforcesans;
  font-size: 20px;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  > iframe {
    height: 0;
  }
}


.main {
  min-height: 100%;
  overflow-x: hidden;
  &.background {
    background-image: url('../assets/images/backgrounds/monitor.png');
    background-position: top center;
    background-repeat: repeat;
    @media screen and (min-width: $screen-1080p) {
      background-image: url('../assets/images/backgrounds/monitor-big.png');
      background-position: center center;
      background-repeat: repeat;
    }
  }
  &.desktop {
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      display: none !important;
    }
  }

  .monitor {
    width: $monitor-width;
    height: $monitor-height;
    overflow: hidden;
    background-color: white;
    position:relative;
    margin-top: 58px;
    left: 5px;
    border-radius: 14px;
    top: -2px;

    @media screen and (min-width: $screen-1080p) {
      position: absolute;
      //z-index: $z-index-monitor;
      left: 50%;
      top: 50%;
      margin: -267px auto 0 -396px;
      border-radius: 14px;
      #chapter-blockchain & {
        overflow: visible;
      }
    }
  }

  .monitor-height {
    height:$monitor-height;
    position:relative;
  }

  .phone-height {
    height: $phone-height;
    position: relative;
  }

  .top-nav-container {
    height:70px;
  }

  &.mobile {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    .top-nav-container {
      height: auto;
      .product-tour {
        padding-left: 15px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 10px;
        background-color: #321D71;
        background-size: 375px 56px;
        @media(max-width: $screen-xs-max) {
          padding-left: 0;
          padding-top: 0;
          padding-bottom: 0;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
          position: relative;
          top: -15px;
          z-index: 1;
        }
      }
      h1 {
        font-family: $salesforcesans;
        font-size: 40px;
        font-weight: bold;
        color: $text-color-white;
        margin: 0;
        line-height: 56px;
        text-align: center;
        @media(max-width: $screen-xs-min) {
          font-size: 16px;
          text-align: center;
        }
      }
    }
    &.hidden-md {
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        display: block !important;
      }
    }
  }
}



footer {
  background-color:#032d60;
  position:fixed;
  bottom:0;
  width: 100%;
  z-index: $z-index-footer;
  display: block;
  justify-content: space-between;
  align-items: center;


  ul {
    margin: 0 0 0 55px;
    padding: 0;
    list-style: none;
    float: left;

    @media(max-width: $screen-xs-max) {
      margin-left: 25px !important;
    }

    li {
      float: left;
      color:$text-color-white;
      padding: 20px 5px 10px 5px;
      font-family: $salesforcesans;
      font-size: $footnotes-font-size;
      line-height: 1.5;
      a {
        &:link, &:visited {
          color: #00a1e0;
          //font-size: 14px;
        }
      }
    }
  }

  .copyright {
    float: left;
    width: 100%;
  }
  .links {
    width: 100%;

    ul {

      margin: 10px 0 20px 55px;

      li {
        padding: 0px 5px 5px 5px;
        a {
          padding-right: 4px;
          margin-right: 4px;

          &:link, &:visited {
            color: white;
          }
        }
        &:last-child {
          a {
            border: 0;
            padding-right: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}
