@import '../../base';

.create-an-app-from-base-and-custom-lightning-components-drawer {

    .btn.next {
      padding: 10px 80px;
    }

    p.continue {
      text-align: center;
      margin-top: 40px;
    }
}