@import '../../base';

.build-an-email {

  .step-0, .step-1 {
    background: url('../app/3-build-your-app/assets/2-install-a-pre-built-component-from-appexchange-screen-bkg-1.png') center center no-repeat;
  }

  .step-2 {
    background: url('../app/3-build-your-app/assets/2-install-a-pre-built-component-from-appexchange-screen-bkg-2.png') left center no-repeat;
  }

  .step-3 {
    background: url('../app/3-build-your-app/assets/2-install-a-pre-built-component-from-appexchange-screen-bkg-3.png') center center no-repeat;
  }

  .step-4 {
    background: url('../app/3-build-your-app/assets/2-install-a-pre-built-component-from-appexchange-screen-bkg-4.png') center center no-repeat;
  }

  .step-1 {
    .click-box {
      position: absolute;
      top: 451px;
      left: 10px;
      width: 188px;
      height: 30px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

  .step-2, .step-3 {
    .form {
      &.form-horizontal {
        position: absolute;
        top: 58px;
        left: 246px;
        .controls {
          input {
            &.text {
              width: 292px;
              border-radius: 4px;
              background-image: url("../app/1-build-a-data-model/assets/2-add-an-external-object-magnifying-glass.svg");
              background-size: 12px;
              background-position: 5% 50%;
              background-repeat: no-repeat;
              padding-left: 45px;
              font-size: 12px;
              height: 32px;
              &::placeholder {
                color: black;
              }
            }
          }
        }
      }
    }
  }

  .step-3 {
    .click-box {
      position: absolute;
      top: 211px;
      left: 95px;
      width: 134px;
      height: 75px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

  .step-4 {
    .click-box {
      position: absolute;
      bottom: 34px;
      right: 84px;
      width: 109px;
      height: 31px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

}