@import '../../base';

.add-custom-components {

  .step-0, .step-1 {
    background: url('../app/3-build-your-app/assets/4-add-custom-components-screen-bkg-1.png') center center no-repeat;
  }

  .step-1 {
    .backlog-drag {
      position: absolute !important;
      bottom: 69px;
      left: 18px;
      border-radius: 4px;
      -webkit-user-select:none;
      -webkit-touch-callout:none;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: move;
      }
    }
    .drop-box {
      top: 362px;
      left: 262px;
      width: 237px;
      height: 115px;
    }
    .backlog {
      position: absolute;
      top: 85px;
      left: 262px;
    }
  }

}