@import '../../base';

.customize-a-page-layout {

  .step-0, .step-1 {
    background: url('../app/3-build-your-app/assets/1-create-a-new-lightning-page-screen-bkg-1.png') center center no-repeat;
  }

  .step-2 {
    background: url('../app/3-build-your-app/assets/1-create-a-new-lightning-page-screen-bkg-2.png') center center no-repeat;
  }

  .step-3 {
    background: url('../app/3-build-your-app/assets/1-create-a-new-lightning-page-screen-bkg-3.png') center center no-repeat;
  }

  .step-4 {
    background: url('../app/3-build-your-app/assets/1-create-a-new-lightning-page-screen-bkg-4.png') center center no-repeat;
  }

  .step-1 {
    .click-box {
      position: absolute;
      top: 175px;
      left: 172px;
      width: 45px;
      height: 25px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

  .step-2 {
    .click-box {
      position: absolute;
      bottom: 72px;
      right: 85px;
      width: 58px;
      height: 31px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

  .step-3 {
    .click-box {
      position: absolute;
      bottom: 72px;
      right: 85px;
      width: 58px;
      height: 31px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
    .form {
      &.form-horizontal {
        position: absolute;
        top: 237px;
        left: 63px;
        .controls {
          input {
            width: 316px;
          }
        }
      }
    }
  }

  .step-4 {
    .click-box {
      position: absolute;
      bottom: 72px;
      right: 85px;
      width: 58px;
      height: 31px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

}