@import '../../base';

.customize-navigation {
  .step-0,
  .step-1 {
    background: url('../app/3-build-your-app/assets/6-customize-navigation-screen-bkg-1.png')
      center center no-repeat;
  }

  .step-2 {
    background: url('../app/3-build-your-app/assets/6-customize-navigation-screen-bkg-2.png')
      center center no-repeat;
    &.active {
      background: url('../app/3-build-your-app/assets/6-customize-navigation-screen-bkg-3.png')
        center center no-repeat;
    }
  }

  .step-3 {
    background: url('../app/3-build-your-app/assets/6-customize-navigation-screen-bkg-4.png')
      center center no-repeat;
    &.step3a {
      background: url('../app/3-build-your-app/assets/6-customize-navigation-screen-bkg-5.png')
        center center no-repeat;
    }
    &.step3b {
      background: url('../app/3-build-your-app/assets/6-customize-navigation-screen-bkg-6.png')
        center center no-repeat;
    }
  }

  .step-4 {
    background: url('../app/3-build-your-app/assets/6-customize-navigation-screen-bkg-7.png')
      center center no-repeat;
    &.active {
      background: url('../app/3-build-your-app/assets/6-customize-navigation-screen-bkg-8.png')
        center center no-repeat;
    }
  }

  .step-5 {
    background: url('../app/3-build-your-app/assets/6-customize-navigation-screen-bkg-9.png')
      center center no-repeat;
  }

  .step-6,
  .step-7,
  .step-8 {
    background-image: url('../app/0-intro/assets/intro-background.png');

    .outro-copy {
      text-align: center;
      color: white;
      width: 333px;
      left: 380px;
      position: absolute;

      h2 {
        font-size: 26px;
      }

      > p {
        margin-top: 30px;

        &:nth-of-type(1) {
          margin-top: 70px;
        }
      }

      p {
        font-size: 18px;
      }

      a {
        position: absolute;
        top: 360px;
        left: 60px;
        width: 200px;

        &.start-a-trial,
        &.calculate-your-roi {
          position: relative;
          top: auto;
          left: auto;
        }
      }
    }
  }

  .step-1 {
    .click-box {
      position: absolute;
      top: 48px;
      right: 44px;
      width: 80px;
      height: 26px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

  .step-2 {
    .click-box {
      position: absolute;
      top: 264px;
      left: 432px;
      width: 37px;
      height: 14px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
    .click-box-1 {
      position: absolute;
      top: 180px;
      left: 184px;
      width: 39px;
      height: 37px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

  .step-3 {
    .click-box {
      position: absolute;
      top: 146px;
      left: 219px;
      width: 130px;
      height: 29px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
    .click-box-1 {
      position: absolute;
      top: 310px;
      left: 491px;
      width: 80px;
      height: 21px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
    .click-box-2 {
      position: absolute;
      top: 426px;
      right: 110px;
      width: 37px;
      height: 20px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

  .step-4 {
    .click-box {
      position: absolute;
      top: 146px;
      left: 363px;
      width: 89px;
      height: 29px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
    .click-box-1 {
      position: absolute;
      top: 310px;
      left: 491px;
      width: 80px;
      height: 21px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }

  .step-5 {
    .click-box {
      position: absolute;
      top: 426px;
      right: 110px;
      width: 37px;
      height: 20px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
        cursor: pointer;
      }
    }
  }
}
