<div class="drawer-content chapter-builder-drawer" ng-controller="ChapterBuilderController">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    
    <wizard name="drawer">
      <wz-step>
        <h2>Build Apps Fast</h2>
        <p>Deliver seamless experiences for your employees and customers without code.</p>
        <p>Goals change? You can modify or even rebuild the app to fit your needs with simple clicks to reach time to value fast.</p>
        <p class="continue">
          <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
        </p>
      </wz-step>
    </wizard>
  </div>


  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
      <drawer-panel-tab heading="01">
        <h2>Did You Know?</h2>
        <p>
          Heroku Connect is a two-way integration of data between Salesforce Lightning and Heroku.
        </p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

</div>