<section success="true">
  <div class="row chapter-builder mobile" ng-open="scrollToTop()">
    <div class="col-lg-12">
      <div class="row">
        <div class='slide'>
          <div class='slide-text'>
            <h1>Low Code</h1>
            <p>Code Builder helps dev teams customize directly from the web and code faster with generative
              Al options.<br /><br />
              We can use Einstein for
              Developers to generate code and assist us with application development.<br /><br />
              Let's use Einstein to create a Lightning Web Component that would allow a seller to quickly
              compare pricing options.</p>
          </div>
          <img src='/assets/images/chapters/chapter-builder/builder-slide-0.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              We can give Einstein instructions to generate code for the Lightning Web Component we'd like to create.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-builder/builder-slide-2-new-mobile.png' alt=''
            class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              We can deploy the source code that Einstein has generated to the org.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-builder/builder-slide-3-new-mobile.png' alt=''
            class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              We can add price quote logic to our app and then activate it to see it live.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class='slide'>
          <img src='/assets/images/chapters/chapter-builder/builder-slide-1.png' alt='' class='slide-bg-image'>
          <div class="transition-copy">
            <p>
              Now we can drag and drop our newly created Price Comparator component to our mobile layout.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
      </div>
      <div class='slide'>
        <img src='/assets/images/chapters/chapter-builder/builder-slide-4-new.png' alt='' class='slide-bg-image'>
      </div>
      <div class="slides success" success="true">
        <div class="confetti-container" ng-open="renderConfetti()">
          <div class="confettii-still"></div>
          <div class="content-container">
            <div class="success-text">
              <h3>Chapter summary</h3>
              <p>
                You sped up your workflow significantly using generative Al. And with Lightning App Builder, it only
                took a few clicks to give your employees the tools they need to provide seamless, personalized
                customer experiences.
                <br /><br />Now, let's see how your work looks on a mobile app.
              </p>
            </div>
            <div class="mobile-success-ctas">
              <a ui-sref="chapter-mobile" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
              <div class="text-link">
                <a href="https://www.salesforce.com/products/platform/features/app-builder" class="success-text-link"
                  target="_blank" rel="noopener noreferrer">Learn more about customizing apps <span
                    class="carat"><i></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>