@import '../../base';

#step-container {

  &.engagement-studio-steps {

    .step-one {
      &.active {
          height: 110px;
        }
    }

   .step-two {
      &.active {
        height: 90px;
      }
    }

    .step-three {
      &.active {
        height: 90px;
      }
    }

    .step-four {
      &.active {
        height: 90px;
      }
    }
  }
}