@import '../../base';

.engagement-studio-rule {
  font-family: $salesforcesans;
  #hotspots-container {
    .hotspot-1 {
      animation-delay: 1.5s;
    }
    .hotspot-2 {
      animation-delay: 1.75s;
    }
  }

  .step-0 {
    background: url('../assets/images/stories/5-engagement-studio/engagement-studio-rule-bkg.png') top center no-repeat;
    height: 792px !important;
  }

  .steps {
    > section {
      background: url('../assets/images/stories/5-engagement-studio/engagement-studio-bkg-no-header.png') top center no-repeat;
    }
  }

  .step {
    &.translate-up {
      transform: translateY(-210px);
      transition: transform .2s ease-in-out;
      .line-area {
        &.svg-bottom {
          top: 689px;
          transition: top .2s ease-in-out;
        }
      }
      #node-end-container {
        top: 765px;
      }
      #node-end-button {
        top: 475px;
      }
    }
    &.translate-up-2 {
      transform: translateY(-270px);
      transition: transform .2s ease-in-out;
    }
  }

  .line-area.svg-bottom {
    height: 450px;
    top: 389px;
    left: 52px;
    background: white;
    width: 740px;
  }

  .step-1, .step-2, .step-3, .step-4 {
    height: 792px !important;
  }

  //#vertical-line, #node-end-container {
  //  transition: all 1s ease-in-out;
  //}

  #rule-container {
    left: 393px;
    top: 240px;
  }

  #node-end-button {
    left: 0px;
    top: 175px;
    transition: top .2s ease-in-out;
  }

  #node-end-container {
    left: 393px;
    top: 465px;
    transition: top .2s ease-in-out;
    &.step-2 {
      left: 393px;
      top: 765px;
    }
  }

  #vertical-line {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .2s ease-in-out;
    &.step-2 {
      transform: scaleY(4.5);
      transform-origin: top;
    }
  }

  #trigger {
    position: absolute;
    top: 165px;
    left: 0px;
  }

  .step-2 {
    #new-node-container {
      opacity: 0;
      &.step-2 {
        position: absolute;
        top: 165px;
        opacity: 1;
        transition: opacity .2s ease-in-out .2s;
        &.new-node.opening .node-new {
          animation-delay: .4s;
        }
      }
    }
  }

  #finish {
    position: absolute;
    top: 570px;
    left: 380px;
    z-index: 10000;
  }

  input {
    &.active {
      animation: borderActive 1.5s infinite;
    }
  }

  .new-node {
    position: absolute;
  }

  .timeout {
    .form-group {
      margin-left: 0;
      margin-right: 0;
    }
  }

  #send-email-container {
    left: 393px;
    top: 140px;
  }


  .step-3, .step-4 {
    transform: translateY(-210px);
    .line-area {
      &.svg-bottom {
        top: 689px;
      }
    }
    #node-end-container {
      top: 765px;
    }
    #node-end-button {
      top: 475px;
    }
  }

  .step-5 {
    transform: translateY(0);
    background: white;
    #image-container {
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: center;
        transition: all .2s linear;
        min-width: 100%;
        max-width: inherit;
        width: 1550px
      }
    }
    &.active {
      #image-container {
        img {
          width: 792px;
        }
      }
    }
  }

  .step-4 {
    form.form-horizontal .controls {
      margin-left: 0;
      select {
        width: 100%;
      }
    }
    .radio {
      pointer-events: none;
    }
    .slds-button {
      pointer-events: none;
      &.active {
        pointer-events: all;
      }
    }
  }

}

