@import '../../base';

#step-container {

  &.engagement-studio-test-steps {

    .step-one {
      &.active {
          height: 130px;
        }
    }

   .step-two {
      &.active {
        height: 90px;
      }
    }

    .step-three {
      &.active {
        height: 150px;
      }
    }

  }
}