@import '../../base';

#step-container {

  &.engage-campaigns-steps {

    .step-one {
      &.active {
        height: 110px;
      }
    }

    .step-two {
      &.active {
        height: 160px;
      }
    }

    .step-three {
      &.active {
        height: 180px;
      }
    }

  }
}