@import '../../base';

.engage-campaigns {

  .step-0, .step-1, .step-2{
    background: url('../assets/images/stories/8-sales-edge/8-screen-send-report.png') center center no-repeat;
  }

  .step-1 {
    #send-engage-email {
      position: absolute;
      width: 78px;
      height: 17px;
      left: 418px;
      top: 129px;
      &.active {
        @include animation(borderActive 1.5s infinite);
      }
    }
  }

  .step-2{
    #preview {
      position: absolute;
      width: 51px;
      height: 25px;
      left: 317px;
      top: 127px;
    }

  }

  .step-3 {
    background: url('../assets/images/stories/8-sales-edge/8-screen-pick-template.png') center center no-repeat;

    #send {
      position: absolute;
      width: 75px;
      height: 23px;
      left: 726px;
      top: 88px;
    }
  }

}