@import '../../base';

.select-template {

  .step-0, .step-1{
    background: url('../assets/images/stories/8-sales-edge/8-screen-pick-template-edit.png') center center no-repeat;

    &.edit {
      background: url('../assets/images/stories/8-sales-edge/8-screen-pick-template-edit.png') center center no-repeat;
    }

    &.preview {
      background: url('../assets/images/stories/8-sales-edge/8-screen-pick-template-preview.png') center center no-repeat;
    }

    #preview-email {
      position: absolute;
      left: 299px;
      top: 167px;
      width: 65px;
      height: 28px;
      &.active {
        @include animation(borderActive 1.5s infinite);
      }
    }


    #edit-email {
      position: absolute;
      left: 365px;
      top: 132px;
      width: 67px;
      height: 20px;
    }

    #send-email {
      position: absolute;
      left: 704px;
      top: 103px;
      width: 80px;
      height: 23px;
      &.active {
        @include animation(borderActive 1.5s infinite);
      }
    }


  }

  .step-1 {
    #send-engage-email {
      position: absolute;
      width: 63px;
      height: 17px;
      left: 314px;
      top: 100px;
    }
  }

  .step-2{
    #preview {
      position: absolute;
      width: 51px;
      height: 25px;
      left: 317px;
      top: 127px;
    }

  }

  .step-3 {
    background: url('../assets/images/stories/8-sales-edge/8-screen-pick-template.png') center center no-repeat;

    #send {
      position: absolute;
      width: 75px;
      height: 23px;
      left: 726px;
      top: 88px;
    }
  }

}