<section class="set-up-a-lead-nurturing-campaign">
  <div class="row hero">
    <div class="col-xs-12">
      <h1>Lead Nurturing Campaign</h1>
      <p>Build nurturing campaigns to keep your prospects engaged over time. Use Pardot’s drag-and-drop drip builder to automatically send out the right messages at the right time.</p>
    </div>
  </div>
  <div class="row blue-container text-left pb">
    <div class="col-xs-12">
      <p>Let’s say a prospect has filled out a few forms to download some of your marketing content, but isn’t quite ready to talk to a sales rep yet. This is the perfect use case for lead nurturing, which allows you to continue to build rapport and stay top of mind with prospects without wasting valuable time sending one-to-one emails.</p>
      <p>Pardot’s drag-and-drop drip builder makes it easy for marketers to assemble quick, intuitive nurturing programs.</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>You can use personalized variable tags so that your drip emails will address a prospect by their first name, mention their company, and have the assigned sales rep’s specific contact information included in the salutation.</p>
      <p>You can also use plain text emails in sales drip programs in order to create a more personal feel, as if a sales rep personally composed them.</p>
    </div>
  </div>
  <div class="row graphic dyk">
    <div class="col-xs-12">
      <h2>Did You Know?</h2>
      <p>Lead nurturing isn't only used to nurture leads who aren't ready to talk to sales. You can also use lead nurturing to stay top of mind throughout a long sales process, re-engage cold leads, or enable your internal teams.</p>
    </div>
  </div>
  <div class="row blue-container next-page text-left">
    <div class="col-xs-12">
      <p>As leads interact with your nurturing programs, Pardot will track their responses. Let’s see what happens after a prospect has interacted with a lead nurturing program and is ready to be assigned to a sales rep. </p>
      <div class="text-center">
        <a ui-sref="assign-your-leads-to-sales" class="btn-orange">Continue</a>
      </div>
    </div>
  </div>
</section>