<div class="drawer-content set-up-a-lead-nurturing-campaign-drawer" >

  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <wizard name="drawer" on-finish="beginStory()">
      <wz-step>
        <h2>Lead Nurturing Campaign</h2>
        <p>Let's say a prospect has filled out a few forms to download some of your marketing content, but isn't quite ready
          to talk to a sales rep yet. This is the perfect use case for lead nurturing, which allows
          you to continue to build rapport and stay top of mind with prospects without wasting
          valuable time sending one-to-one emails.</p>
        <p class="continue">
          <a class="btn btn-rounded blue next" wz-next>Next</a>
        </p>
      </wz-step>
      <wz-step>
        <h2>Lead Nurturing Campaign</h2>
        <p>Pardot's drag-and-drop drip builder makes it easy for marketers to assemble quick, intuitive
          nurturing programs.</p>
        <p>We've started to assemble a sample sales nurturing program. Let's view the initial setup.</p>
        <p class="continue">
          <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
        </p>
      </wz-step>
    </wizard>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
        <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
          <span class="first"></span>
          <span class="second"></span>
        </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
      <drawer-panel-tab heading="01">
        <h2>Send Email</h2>
        <img src="assets/images/stories/5-set-up-a-lead-nurturing-campaign/5-drawer-send-email-01.png">
        <p>Emails are the foundation of your drip campaigns. Using the dropdown menu in the drip builder, you can choose from any Pardot email template that you have designated as a &ldquo;drip email.&ldquo;</p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="02">
        <h2>Pause 9 Days</h2>
        <img src="assets/images/stories/5-set-up-a-lead-nurturing-campaign/5-drawer-pause-9-days.png">
        <p>
          A &ldquo;pause&rdquo; indicates how long Pardot will wait before carrying out the next step in your drip program.
        </p>
        <p>
          For sales nurturing campaigns, an email every week is too frequent, but an email every two weeks may not be enough. Nine days is a good cadence to help maintain a balance between &ldquo;too much communication&rdquo; and &ldquo;not enough.&rdquo;
        </p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="03">
        <h2>Assign to User</h2>
        <img src="assets/images/stories/5-set-up-a-lead-nurturing-campaign/5-drawer-assign-to-user.png">
        <p>
          If the prospect engaged with your email, it might be a good time for a sales rep to follow up. Assign them to a sales user to let your sales reps know that a follow-up is needed.
        </p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="04">
        <h2>Send Email</h2>
        <img src="assets/images/stories/5-set-up-a-lead-nurturing-campaign/5-drawer-send-email-04.png">
        <p>
          Prospect didn't open your first email? Let's try again &mdash; this time with a different piece of content.
        </p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
      <drawer-panel-tab heading="01">
        <h2>Did You Know?</h2>
        <p>
          You can use personalized variable tags so that your drip emails will address a prospect by their first name, mention their company, and have the assigned sales rep's specific contact information included in the salutation.
        </p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="02">
        <h2>Did You Know?</h2>
        <p>
          You can use plain text emails in sales drip programs in order to create a more personal feel, as if emails were personally composed by a sales rep.
        </p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

</div>