@import '../../base';

#step-container {

  &.personalized-email-steps {

    .step-one {
      &.active {
        height: 110px;
      }
    }

    .step-two {
      &.active {
        height: 118px;
      }
    }

    .step-three {
      &.active {
        height: 110px;
      }
    }

  }
}