@import '../../base';

.personalized-email {

  .down-arrow {
    &.fade-out {
      @include transition(all 800ms);
      opacity:0;
    }
  }

  .monitor-height {
  }

  .step-0, .step-1, .step-2 {
    @include transform(translateY(-698px));
    background: url('../assets/images/stories/7-sales-view-in-salesforce/7-screen-sales-view-in-salesforce-full.png') center top no-repeat;
    height: 1231px !important;

    select {
      position: absolute;
      top: 1049px;
      left: 185px;
      width: 237px !important;
      height: 23px !important;
      line-height: 23px !important;
    }

    .form-actions {
      position: absolute;
      top: 1163px;
      left: 686px;

      .btn {
        padding: 6px 27px;
      }
    }

  }

  .step-0, .step-1 {
    @include transform(translateY(-520px));
  }

  .step-1 {
    #page-view {
      position:absolute;
      width: 285px;
      height: 33px;
      left: 507px;
      top: 218px;
    }
  }


  section {
    &.step {

      &.current {

        .step-1 {
          @include transform(translateY(0px));
          @include transition-duration(500ms);
          @include transition-timing-function(ease-in);
          @include transition-delay(0s);
          @include transform(translateY(-698px));
        }
      }
    }
  }

}
