@import '../../base';

#step-container {

  &.sales-view-in-salesforce-steps {

    .step-one {
      &.active {
        height: 150px;
      }
    }

    .step-two {
      &.active {
        height: 118px;
      }
    }

    .step-three {
      &.activate {
        height: 110px;
      }
    }

  }
}