@import "../../../app/base";

nav.top-navbar {

  height:50px;

  nav.tips {
    margin:15px auto 0 auto;
    width: 180px;

    ul.tips-icons {
      li {
        position: relative;
        margin-right: 30px;
        float:left;
        list-style-type: none;

        &.icon-did-you-know, &.icon-hot-spots {
          

          span.count {
            position:absolute;
            left:-2px;
            top:-2px;
            font-size:13px;
            display: block;
            width:20px;
            height:20px;
            text-align: center;
            line-height: 20px;
            border-radius: 20px;
          }
        }

        &.icon-did-you-know {
          span.count {
            background-color: $color-salesforce-blue;
            color: white;
          }
        }

        &.icon-hot-spots {
          span.count {
            background-color: $color-marketing-cloud-orange;
            color:white;
          }
        }

        &.active, &.ng-click-active, &.enabled {
          cursor:pointer;
        }

        &.last {
          margin-right:0px;
        }

        .active, .ng-click-active {
          cursor:pointer;
        }
      }
    }
  }
  .navbar-link {
    @media(min-width: $screen-md-min) {
      position: absolute;
      top: 15px;
      right: 35px;
      background-color: $color-marketing-cloud-orange-medium;
      border-radius: 22px;
      padding: 0 2%;
      color: white;
      font-family: $proximanova;
      font-weight: bold;
      font-size: 15px;
      line-height: 45px;
      display: inline-block;
      float: right;
      transition: all 0.2s ease-in-out;
    }
    &:hover, &:focus {
      @media(min-width: $screen-md-min) {
        background-color: darken($color-marketing-cloud-orange-medium, 5%);
        text-decoration: none;
      }
    }
  }
}

.mobile {
  @media (min-width: 376px) and (max-width: $screen-xs-max) {
    width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: $screen-sm-min) {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  nav {
    &.top-navbar {
      height: 70px;
      margin-bottom: 0;
      .navbar-header {
        @media (min-width: $screen-sm-min){
          width: 100%;
        }

      }
      .navbar-brand {
        padding: 10px 15px;
        height: 70px;
        .logo {
          background-image: url(../../../assets/images/logos/logo-mobile-gray-transparent.png);
          width: 143px;
          height: 55px;
          display: block;
          background-repeat: no-repeat;
          @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
            background-image: url(../../../assets/images/logos/logo-mobile-gray-transparent_2x.png);
            background-size: 143px 55px;
          }
          @media(max-width: 374px) {
            width: 90px;
            height: 35px;
            background-size: cover;
            margin-top: 9px;
          }
        }
      }
      .navbar-link {
        background-color: $color-marketing-cloud-orange-medium;
        border-radius: 22px;
        padding: 0 5%;
        color: white;
        font-family: $proximanova;
        font-weight: bold;
        font-size: 15px;
        line-height: 45px;
        display: inline-block;
        float: right;
        margin-top: 12px;
        margin-right: 15px;
        @media (min-width: $screen-sm-min) {
          margin-right: 0;
        }
        @media (min-width: $screen-md-min) {
          margin-top: 0;
        }
      }
    }
  }
}