<section class="engagement-studio">
  <div class="row hero">
    <div class="col-xs-12">
      <h1>Engagement Campaigns</h1>
      <p>Build nurturing campaigns to keep your prospects engaged over time. </p>
    </div>
  </div>
  <div class="row blue-container text-left pb">
    <div class="col-xs-12">
      <p>Let’s say a prospect has filled out a few forms, downloaded some of your marketing content, but isn’t quite ready to talk to a sales rep yet. This is the perfect use case for lead nurturing, which allows you to encourage engagement and stay top of mind with your customers. Engagement campaigns are personalized and dynamic, allowing you to build relationship at scale.</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>Engagement Studio is a streamlined way to build complex campaigns and deliver them to highly segmented audiences. The more you learn about your audience, the better your campaign gets!</p>
    </div>
  </div>
  <div class="row screen-shot-container pb">
    <div class="col-xs-12">
      <h2>Build Smarter Campaigns</h2>
      <div class="screen-shot build-smarter-campaigns"></div>
      <p>Pardot’s visual campaign canvas makes building your perfect engagement campaign a snap. At a glance you can understand exactly which path your customers will take as they interact with your brand.</p>
    </div>
  </div>
  <div class="row blue-container">
    <div class="col-xs-12">
      <p>Create and customize your lead nurturing campaign by adding actions, triggers and rules.</p>
    </div>
  </div>
  <div class="row screen-shot-container">
    <div class="col-xs-12">
      <h2>Add an Action</h2>
      <p>Add a new email to the engagement campaign.</p>
      <div class="screen-shot send-email"></div>
    </div>
  </div>
  <div class="row screen-shot-container white">
    <div class="col-xs-12">
      <h2>Add a Trigger</h2>
      <p>Triggers listen for something to happen, and then react accordingly.</p>
      <div class="screen-shot add-trigger"></div>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Actions and Triggers</h3>
      <p>You can add more than 50 different actions and triggers to customize your campaign.</p>
    </div>
  </div>
  <div class="row screen-shot-container white">
    <div class="col-xs-12">
      <h2>Add a Rule</h2>
      <p>Rules look for specific criteria that’s important to your business.</p>
      <div class="screen-shot add-rule"></div>
    </div>
  </div>
  <div class="row hotspots pb">
    <div class="col-xs-12">
      <h3>Assign to User</h3>
      <p>When a prospect shows buying interest, automatically assign them to a rep in Salesforce. You can also alert the rep and schedule a follow-up task.</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>You can use variable tags and dynamic content to personalize emails for each prospect — including who the message comes from.</p>
    </div>
  </div>
  <div class="row screen-shot-container pb">
    <div class="col-xs-12">
      <h2>Testing</h2>
      <div class="screen-shot testing"></div>
      <p>Once your campaign is complete, test it and make sure it’s going to perform perfectly.</p>
      <p>Your test log gives you a quick summary of the engagement path your customer will follow.</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>Engagement Studio was built with you in mind. We asked marketers what stressed them out most about creating campaigns, and many said that it was hard to visualize all of the options a complex campaign might include.</p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>End Points</h3>
      <p>Didn’t end up where you expected? Just hop back to ‘Build’ to make a change before you go live!</p>
    </div>
  </div>
  <div class="row hotspots shadow last">
    <div class="col-xs-12">
      <h3>Start Over Button</h3>
      <p>Want to try another path? You can start over and make different choices!</p>
    </div>
  </div>
  <div class="row graphic dyk">
    <div class="col-xs-12">
      <h2>Did You Know?</h2>
      <p>See the future: testing your campaigns allows you to “Choose Your Own Adventure” and understand the outcome in advance!</p>
    </div>
  </div>
  <div class="row screen-shot-container pb">
    <div class="col-xs-12">
      <h2>Reporting</h2>
      <div class="screen-shot reporting"></div>
      <p>Campaign reporting is overlaid right on your campaign canvas to help you visualize success and quickly address problem areas.</p>
      <p>At a glance, understand the health of your campaign and see where you might need to adjust your tactics.</p>
      <p>Key data like open rates and clickthroughs are available right on the canvas.</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>Engagement campaigns can be paused at any time and can be used during all phases of the customer lifecycle, from reviving cold leads to onboarding new customers! </p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Low Performing Number</h3>
      <p>Offer not performing as well as you’d hoped? Just a few clicks and you can make a change!</p>
    </div>
  </div>
  <div class="row blue-container next-page text-left">
    <div class="col-xs-12">
      <p>Your campaign is off to the races! It looks great and you are driving lots of qualified interest. Let’s get sales involved.</p>
      <div class="text-center">
        <a ui-sref="assign-your-leads-to-sales" class="btn-orange">Continue</a>
      </div>
    </div>
  </div>
</section>