<div class="row monitor-height engagement-studio-trigger">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">

              <svg class="line-area">
                <path id="vertical-line" class="canvas-path" d="M418,55 418,250" style="stroke-dasharray: none;"></path>
              </svg>

              <div id="node-start-container" class="canvas-node" style="left: 393px;top: 30px;">
                <div id="node-start" class="node-click-zone ">
                  <svg id="node-start-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-start clickable">
                    <g><circle cx="25" cy="25" r="21"></circle><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="node-start-text" class="node-info text-left" style="top: -14px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="Start">Start</strong>
                    <br>
                    <span id="ember1444" class="">
                      <div id="ember1445" data-hint="" class="hint--rounded hint--title hint--no-animate hint--bottom-right">
                        <span class="elide-within"><a href="javascript:"></a></span>
                      </div>
                    </span>
                  </div>
                </div>
                <div id="new-node-container" class="node-path">
                  <div id="new-node" class="new-node closed" style="left: 0px; top: 60px;">
                    <a>
                      <svg id="new-node-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-new clickable">
                        <g><circle cx="25" cy="25" r="10"></circle><text x="25" y="29.8" style="font-size: 12px;"></text></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div id="send-email-container" class="canvas-node">
                <div class="node-click-zone" data-ember-action="1210">
                  <svg id="ember1211" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-action clickable">
                    <g><rect x="4" y="4" ry="8" rx="8" height="42" width="42"></rect><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="ember1212" class="node-info text-left" style="top: -16px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="Send Email">Send Email</strong><br>
                    <span id="ember1213" class="has-email-template">
                      <span id="ember1214" class="preview-email-anchor">
                        <span class="fa fa-photo"></span>
                      </span>
                      <div id="ember1215" data-hint="Introduction Email" class="hint--rounded hint--title hint--no-animate hint--bottom-right">
                        <span class="elide-within"><a href="javascript:">Introduction Email</a></span>
                      </div>
                    </span>
                  </div>
                </div>
                <div id="ember983" class="node-path">
                  <div id="ember984" class="new-node closed" style="left: 0px; top: 60px;">
                    <a wz-next class="active" ng-click="nextStep()">
                      <svg id="ember986" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-new clickable">
                        <g><circle cx="25" cy="25" r="10"></circle><text x="25" y="29.8" style="font-size: 12px;"></text></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div id="node-end-container" class="canvas-node">
                <div class="node-click-zone">
                  <svg id="node-end-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-end clickable">
                    <g><circle cx="25" cy="25" r="21"></circle><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="node-end-text" class="node-info text-left" style="top: -15px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="End">End</strong><br>&nbsp;
                  </div>
                </div>
              </div>

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2" ng-class="wizard.stateIndex == 2 ? 'translate-up': ''">

              <svg class="line-area">
                <path id="vertical-line" class="canvas-path" ng-class="wizard.stateIndex == 2 ? 'step-2': ''" d="M418,55 418,175" style="stroke-dasharray: none;"></path>
              </svg>

              <div id="node-start-container" class="canvas-node" style="left: 393px;top: 30px;">
                <div id="node-start" class="node-click-zone ">
                  <svg id="node-start-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-start clickable">
                    <g><circle cx="25" cy="25" r="21"></circle><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="node-start-text" class="node-info text-left" style="top: -14px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="Start">Start</strong>
                    <br>
                    <span id="ember1444" class="">
                      <div id="ember1445" data-hint="" class="hint--rounded hint--title hint--no-animate hint--bottom-right">
                        <span class="elide-within"><a href="javascript:"></a></span>
                      </div>
                    </span>
                  </div>
                </div>

                <div id="new-node-container" class="new-node" ng-class="wizard.stateIndex == 2 ? 'opening open step-2': ''" style="left: 0px; top: 165px;">
                  <div id="ember1880" class="node-card well">
                    <div class="header text-center">
                      <svg id="ember1882" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-new clickable">
                        <g><circle cx="25" cy="25" r="10"></circle><text x="25" y="29.8" style="font-size: 12px;"></text></g>
                      </svg>
                    </div>
                    <div class="node-blocks clearfix">
                      <div class="node-block-action">
                        <svg id="ember1884" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-action center-block clickable">
                          <g><rect x="4" y="4" ry="8" rx="8" height="42" width="42"></rect></g>
                        </svg>
                        <h4>Action</h4>
                        <p>
                          Do <strong>something</strong>...<br>
                          <em>For example:</em><br>
                          Send an email today<br>
                          (or after a few days)
                        </p>
                      </div>

                      <div class="node-block-trigger active" wz-next ng-click="nextStep()">
                        <svg id="ember1886" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-trigger center-block clickable">
                          <g>
                            <path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path>
                            <path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path>
                          </g>
                        </svg>
                        <h4>Trigger</h4>
                        <p>
                          Listen for <strong>something</strong>...<br>
                          <em>For example:</em> A prospect<br>
                          opens an email today<br>
                          (or within a few days)
                        </p>
                      </div>

                      <div class="node-block-rule">
                        <svg id="ember1888" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-decision center-block clickable">
                          <g><rect x="2" y="2" ry="8" rx="8" height="31.81818181818182" width="31.81818181818182" transform="translate(25, 0) rotate(45)"></rect></g>
                        </svg>
                        <h4>Rule</h4>
                        <p>
                          Check <strong>something</strong>...<br>
                          <em>For example:</em><br>
                          A prospect’s score, list,<br>
                          or a field value
                        </p>
                      </div>

                      <div disabled="true" class="node-block-end node-block-disabled">
                        <svg id="ember1890" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-end center-block clickable">
                          <g><circle cx="25" cy="25" r="21"></circle><text x="25" y="33" style="font-size: 20px;"></text></g>
                        </svg>
                        <h4>End</h4>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="new-node-container" class="node-path">
                  <div id="new-node" class="new-node closed" style="left: 0px; top: 60px;">
                    <a>
                      <svg id="new-node-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-new clickable">
                        <g><circle cx="25" cy="25" r="10"></circle><text x="25" y="29.8" style="font-size: 12px;"></text></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div id="send-email-container" class="canvas-node">
                <div class="node-click-zone" data-ember-action="1210">
                  <svg id="ember1211" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-action clickable">
                    <g><rect x="4" y="4" ry="8" rx="8" height="42" width="42"></rect><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="ember1212" class="node-info text-left" style="top: -16px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="Send Email">Send Email</strong><br>
                    <span id="ember1213" class="has-email-template">
                      <span id="ember1214" class="preview-email-anchor">
                        <span class="fa fa-photo"></span>
                      </span>
                      <div id="ember1215" data-hint="Introduction Email" class="hint--rounded hint--title hint--no-animate hint--bottom-right">
                        <span class="elide-within"><a href="javascript:">Introduction Email</a></span>
                      </div>
                    </span>
                  </div>
                </div>
                <div id="ember983" class="node-path">
                  <div id="ember984" class="new-node closed" style="left: 0px; top: 60px;">
                    <a wz-next>
                      <svg id="ember986" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-new clickable">
                        <g><circle cx="25" cy="25" r="10"></circle><text x="25" y="29.8" style="font-size: 12px;"></text></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div id="node-end-container" class="canvas-node" ng-class="wizard.stateIndex == 2 ? 'step-2': ''">
                <div class="node-click-zone">
                  <svg id="node-end-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-end clickable">
                    <g><circle cx="25" cy="25" r="21"></circle><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="node-end-text" class="node-info text-left" style="top: -15px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="End">End</strong><br>&nbsp;
                  </div>
                </div>
              </div>

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">

              <svg class="line-area">
                <path id="vertical-line" class="canvas-path" ng-class="wizard.stateIndex == 2 ? 'step-2': ''" d="M418,55 418,175" style="stroke-dasharray: none;"></path>
              </svg>

              <div id="node-start-container" class="canvas-node" style="left: 393px;top: 30px;">
                <div id="node-start" class="node-click-zone ">
                  <svg id="node-start-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-start clickable">
                    <g><circle cx="25" cy="25" r="21"></circle><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="node-start-text" class="node-info text-left" style="top: -14px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="Start">Start</strong>
                    <br>
                    <span id="ember1444" class="">
                      <div id="ember1445" data-hint="" class="hint--rounded hint--title hint--no-animate hint--bottom-right">
                        <span class="elide-within"><a href="javascript:"></a></span>
                      </div>
                    </span>
                  </div>
                </div>

                <div id="trigger-container" class=" node-path">
                  <div id="trigger" class=" new-node open">
                    <div id="ember1342" class=" node-card well">
                      <div class="header text-center">
                        <svg id="ember1344" width="50" height="50" viewBox="0 0 50 50" class=" node-icon node-trigger clickable">
                          <g>
                            <path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path>
                            <path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path>
                          </g>
                        </svg>
                      </div>
                      <div id="ember1354" class="">
                        <div class="row padded">
                          <a class="pull-left"><i class="fa fa-arrow-left"></i> Change Step</a>
                          <a class="pull-right">Cancel</a>
                        </div>

                        <div class="row">
                          <div class="form-group has-feedback">
                            <input id="ember1357" placeholder="Search" type="text" class="form-control input-sm  ember-text-field">
                            <i class="fa fa-search form-control-feedback"></i>
                          </div>
                        </div>
                      </div>
                      <div id="ember1358" class="">
                        <div class="list-group">
                          <a class="list-group-item clearfix">
                            <svg id="ember1361" width="28" height="28" viewBox="0 0 50 50" class=" node-icon node-trigger clickable"><!----><g><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path><text x="25" y="33" style="font-size: 20px;"></text></g></svg>
                            <div class="item-label" title="Custom Redirect Click">
                              Custom Redirect Click
                            </div>
                          </a>
                          <a class="list-group-item clearfix">
                            <svg id="ember1364" width="28" height="28" viewBox="0 0 50 50" class=" node-icon node-trigger clickable"><!----><g><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path><text x="25" y="33" style="font-size: 20px;"></text></g></svg>
                            <div class="item-label" title="Email Link Click">
                              Email Link Click
                            </div>
                          </a>
                          <a wz-next class="list-group-item clearfix active" ng-click="nextStep()">
                            <svg id="ember1367" width="28" height="28" viewBox="0 0 50 50" class=" node-icon node-trigger clickable"><!----><g><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path><text x="25" y="33" style="font-size: 20px;"></text></g></svg>
                            <div class="item-label" title="Email Open">
                              Email Open
                            </div>
                          </a>
                          <a class="list-group-item clearfix">
                            <svg id="ember1370" width="28" height="28" viewBox="0 0 50 50" class=" node-icon node-trigger clickable"><!----><g><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path><text x="25" y="33" style="font-size: 20px;"></text></g></svg>
                            <div class="item-label" title="File Download">
                              File Download
                            </div>
                          </a>
                          <a class="list-group-item clearfix">
                            <svg id="ember1373" width="28" height="28" viewBox="0 0 50 50" class=" node-icon node-trigger clickable"><!----><g><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path><text x="25" y="33" style="font-size: 20px;"></text></g></svg>
                            <div class="item-label" title="Form">
                              Form
                            </div>
                          </a>
                          <a class="list-group-item clearfix">
                            <svg id="ember1376" width="28" height="28" viewBox="0 0 50 50" class=" node-icon node-trigger clickable"><!----><g><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path><text x="25" y="33" style="font-size: 20px;"></text></g></svg>
                            <div class="item-label" title="Form Handler Complete">
                              Form Handler Complete
                            </div>
                          </a>
                          <a class="list-group-item clearfix">
                            <svg id="ember1379" width="28" height="28" viewBox="0 0 50 50" class=" node-icon node-trigger clickable"><!----><g><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path><path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path><text x="25" y="33" style="font-size: 20px;"></text></g></svg>
                            <div class="item-label" title="Landing Page">
                              Landing Page
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="new-node-container" class="node-path">
                  <div id="new-node" class="new-node closed" style="left: 0px; top: 60px;">
                    <a>
                      <svg id="new-node-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-new clickable">
                        <g><circle cx="25" cy="25" r="10"></circle><text x="25" y="29.8" style="font-size: 12px;"></text></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div id="send-email-container" class="canvas-node">
                <div class="node-click-zone" data-ember-action="1210">
                  <svg id="ember1211" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-action clickable">
                    <g><rect x="4" y="4" ry="8" rx="8" height="42" width="42"></rect><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="ember1212" class="node-info text-left" style="top: -16px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="Send Email">Send Email</strong><br>
                    <span id="ember1213" class="has-email-template">
                      <span id="ember1214" class="preview-email-anchor">
                        <span class="fa fa-photo"></span>
                      </span>
                      <div id="ember1215" data-hint="Introduction Email" class="hint--rounded hint--title hint--no-animate hint--bottom-right">
                        <span class="elide-within"><a href="javascript:">Introduction Email</a></span>
                      </div>
                    </span>
                  </div>
                </div>
                <div id="ember983" class="node-path">
                  <div id="ember984" class="new-node closed" style="left: 0px; top: 60px;">
                    <a>
                      <svg id="ember986" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-new clickable">
                        <g><circle cx="25" cy="25" r="10"></circle><text x="25" y="29.8" style="font-size: 12px;"></text></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div id="node-end-container" class="canvas-node" ng-class="wizard.stateIndex == 2 ? 'step-2': ''">
                <div class="node-click-zone">
                  <svg id="node-end-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-end clickable">
                    <g><circle cx="25" cy="25" r="21"></circle><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="node-end-text" class="node-info text-left" style="top: -15px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="End">End</strong><br>&nbsp;
                  </div>
                </div>
              </div>

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">

              <svg class="line-area">
                <path id="vertical-line" class="canvas-path" ng-class="wizard.stateIndex == 2 ? 'step-2': ''" d="M418,55 418,175" style="stroke-dasharray: none;"></path>
              </svg>

              <div id="node-start-container" class="canvas-node" style="left: 393px;top: 30px;">
                <div id="node-start" class="node-click-zone ">
                  <svg id="node-start-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-start clickable">
                    <g><circle cx="25" cy="25" r="21"></circle><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="node-start-text" class="node-info text-left" style="top: -14px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="Start">Start</strong>
                    <br>
                    <span id="ember1444" class="">
                      <div id="ember1445" data-hint="" class="hint--rounded hint--title hint--no-animate hint--bottom-right">
                        <span class="elide-within"><a href="javascript:"></a></span>
                      </div>
                    </span>
                  </div>
                </div>

                <div id="trigger-container" class=" node-path">
                  <div id="trigger" class=" new-node open">
                    <div id="ember1342" class=" node-card well">
                      <div class="header text-center">
                        <svg id="ember1344" width="50" height="50" viewBox="0 0 50 50" class=" node-icon node-trigger clickable">
                          <g>
                            <path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z" class="shadow"></path>
                            <path transform="translate(25,25)" d="m-17,0l8.499999999999998,14.722431864335457l17,1.7763568394002505e-15l8.500000000000004,-14.72243186433545l-8.499999999999993,-14.72243186433546l-16.999999999999996,-1.2434497875801753e-14l-8.50000000000001,14.722431864335444z"></path>
                            <text x="25" y="33" style="font-size: 20px;"></text>
                          </g>
                        </svg>
                      </div>
                      <div id="ember1381" class="">
                        <div class="row padded">
                          <a class="pull-left"><i class="fa fa-arrow-left"></i> Change Trigger</a>
                          <a class="pull-right">Cancel</a>
                        </div>
                      </div>
                      <div class="row padded">
                        <div class="asset-title">
                          Email Open
                        </div>
                      </div>
                      <div class="row padded">
                        <form id="ember1384" class="form form-horizontal action">
                          <label>Email is opened</label>
                          <div class="control-group">
                            <div class="controls">
                              <select name="" id="" ng-class="{active:list.sendEmail == null}" ng-model="list.sendEmail" ng-options="opt as opt.label for opt in sendEmailOptions">
                                <option value="">Select an email template</option>
                              </select>
                            </div>
                          </div>
                          <div class="timeout">
                            <div id="ember1410" class="">
                              <div class="form-group">
                                <label>Wait up to a maximum of</label>
                                <div id="ember1419" class="">
                                  <div class="input-group" data-qa="build-card-days-input">
                                    <div id="ember1420" data-hint="Enter a number between 0 and 365" class=" hint--rounded hint--never hint--info hint--top-right hint--near-addon">
                                      <input id="ember1429" type="text" class="form-control" ng-class="{active:list.sendEmail != null && triggerDays.done == false}" li-autofocus="list.sendEmail != null && triggerDays.done == false" ng-model="triggerDays.value">
                                    </div>
                                    <span class="input-group-addon">days</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                        <div id="ember1430" class="">
                          <div class="align-bottom">
                          <button class="slds-button slds-button--brand btn-fill" ng-class="{active:triggerDays.done}" li-autofocus="triggerDays.done" ui-sref="engagement-studio-rule">
                            <i class="fa fa-check"></i> Save
                          </button>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="new-node-container" class="node-path">
                  <div id="new-node" class="new-node closed" style="left: 0px; top: 60px;">
                    <a>
                      <svg id="new-node-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-new clickable">
                        <g><circle cx="25" cy="25" r="10"></circle><text x="25" y="29.8" style="font-size: 12px;"></text></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div id="send-email-container" class="canvas-node">
                <div class="node-click-zone" data-ember-action="1210">
                  <svg id="ember1211" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-action clickable">
                    <g><rect x="4" y="4" ry="8" rx="8" height="42" width="42"></rect><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="ember1212" class="node-info text-left" style="top: -16px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="Send Email">Send Email</strong><br>
                    <span id="ember1213" class="has-email-template">
                      <span id="ember1214" class="preview-email-anchor">
                        <span class="fa fa-photo"></span>
                      </span>
                      <div id="ember1215" data-hint="Introduction Email" class="hint--rounded hint--title hint--no-animate hint--bottom-right">
                        <span class="elide-within"><a href="javascript:">Introduction Email</a></span>
                      </div>
                    </span>
                  </div>
                </div>
                <div id="ember983" class="node-path">
                  <div id="ember984" class="new-node closed" style="left: 0px; top: 60px;">
                    <a wz-next>
                      <svg id="ember986" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-new clickable">
                        <g><circle cx="25" cy="25" r="10"></circle><text x="25" y="29.8" style="font-size: 12px;"></text></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div id="node-end-container" class="canvas-node" ng-class="wizard.stateIndex == 2 ? 'step-2': ''">
                <div class="node-click-zone">
                  <svg id="node-end-svg" width="50" height="50" viewBox="0 0 50 50" class="node-icon node-end clickable">
                    <g><circle cx="25" cy="25" r="21"></circle><text x="25" y="33" style="font-size: 20px;"></text></g>
                  </svg>
                  <div id="node-end-text" class="node-info text-left" style="top: -15px; left: 50px;">
                    <span>&nbsp;</span>
                    <strong title="End">End</strong><br>&nbsp;
                  </div>
                </div>
              </div>

            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  <img src="assets/images/badge.png"/>
                </p>
                <h2>Congratulations!</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium, nunc pellentesque <br/>
                  lobortis luctus, dolor leo sodales erat, et porta odio metus at arcu. Integer in erat elit. Sed suscipit.
                </p>
                <p>
                  <a ui-sref="engagement-studio-rule" li-autofocus="wizard.stateIndex == 5" class="btn btn-rounded">Continue</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
