<div class="drawer-content engagement-studio-test-drawer" >

  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <wizard name="drawer">
      <wz-step>
        <h2>Engagement Studio</h2>
        <p>Your campaign looks great! Let’s test it and make sure it’s going to perform perfectly.</p>
        <p class="continue">
          <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
        </p>
      </wz-step>
    </wizard>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
        <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
          <span class="first"></span>
          <span class="second"></span>
        </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
      <drawer-panel-tab heading="01">
        <!--<h2>Lorem Ipsum</h2>-->
        <p>Didn’t end up where you expected? Just hop back to ‘Build’ to make a change before you go live!</p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="02">
        <!--<h2>Lorem Ipsum</h2>-->
        <p>Want to try another path? You can start over and make different choices!</p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
      <drawer-panel-tab heading="01">
        <h2>Did You Know?</h2>
        <p>
          Engagement Studio was built with you in mind. We asked marketers what stressed them out most about creating campaigns, and many said that it was hard to visualize all of the options a complex campaign might include.
        </p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="02">
        <h2>Did You Know?</h2>
        <p>
          See the future: testing your campaigns allows you to “Choose Your Own Adventure” and understand the outcome in advance!
        </p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

</div>