<div class="row monitor-height customize-action-bar">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <img src="../../assets/images/chapters/customize-action-bar/new-customer-feedback-drag.png" alt="new customer insights"
                   class="new-customer-feedback-drag active" data-drag="true" jqyoui-draggable="{index: 0, animate:true}" data-jqyoui-options="{revert: 'invalid'}">
              <div class="drop-box active" data-drop="true" jqyoui-droppable="{index: 1 , onDrop:'next'}"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <img src="../../assets/images/chapters/customize-action-bar/new-customer-feedback-drag.png" alt="new customer insights"
                   class="new-customer-feedback-drag">
              <img src="../../assets/images/chapters/customize-action-bar/new-note.png" alt="new note"
                   class="new-note-drag active" data-drag="true" jqyoui-draggable="{index: 2, animate:true}" data-jqyoui-options="{revert: 'invalid'}">
              <div class="drop-box active" data-drop="true" jqyoui-droppable="{index: 3 , onDrop:'next'}"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <img src="../../assets/images/chapters/customize-action-bar/new-customer-feedback-drag.png" alt="new customer insights"
                   class="new-customer-feedback-drag">
              <img src="../../assets/images/chapters/customize-action-bar/new-note.png" alt="new note"
                   class="new-note-drag active">
              <div class="click-box active" ng-click="next()"></div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  <img src="../../assets/images/success.png"/>
                </p>
                <h2>Success!</h2>
                <p>
                  The action bar will let users tackle business tasks from within the app. After all, business process efficiency is one of the best perks of Salesforce platform.
                  <br>
                  Now that our Lightning page is complete, we can build a custom Lightning Application to house it.
                </p>
                <p>
                  <a ui-sref="build-lightning-app" li-autofocus="wizard.stateIndex == 5" class="btn btn-rounded active">Continue</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
