<section class="customize-action-bar">
  <div class="row hero">
    <div class="col-xs-12">
      <h1>View a Prospect Profile</h1>
      <p>See how prospects are interacting with your marketing campaigns by viewing their activities, lead score, and lead grade in their prospect profiles.</p>
    </div>
  </div>
  <div class="row blue-container text-left">
    <div class="col-xs-12">
      <p>Let's say you've set up some forms, landing pages, and email templates.</p>
      <p>What happens when users interact with your marketing programs by submitting their information via a Pardot form, viewing a landing page, or clicking on a link in one of your emails?</p>
      <p>All of this information is tracked in Pardot and displayed in each prospect’s profile, so you can stay up to date on your hottest prospects.</p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Lead Score and Grade</h3>
      <div class="screen-shot data-table"></div>
      <p>Here, you can see both a lead score and grade. A prospect’s score indicates how interested they are in your product or service. The score increases as prospects accumulate activities.</p>
      <p>A prospect’s grade, on the other hand, indicates whether or not they fit your ideal prospect profile.</p>
      <p>This is determined by comparing the prospect’s demographic information to criteria you set, including job titles, industries, location, and more. </p>
      <p>Together, score and grade help you identify your most qualified leads.</p>
    </div>
  </div>
  <div class="row hotspots shadow">
    <div class="col-xs-12">
      <h3>Prospect's Activities</h3>
      <p>Pardot will compile a detailed list of your prospect’s activities and display them on the prospect profile.</p>
      <p>You can see how they’ve been interacting with your email content, what pages they’ve viewed on your website, and more.</p>
    </div>
  </div>
  <div class="row blue-container next-page text-left">
    <div class="col-xs-12">
      <p>Feel good about the prospect profile? Next we'll take a look at lead nurturing!</p>
      <div class="text-center">
        <a ui-sref="build-lightning-app" class="btn-orange">Continue</a>
      </div>
    </div>
  </div>
</section>