.mobile {
  background-color: #B8C8D1;
  width: 100%;
}

.mobile-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #B8C8D1;
  width: 300px;
  text-align: center;
  p {
    color: #122B4E;
  }
}