<div class="row monitor-height chapter-customer-app">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0"></div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="flyout active">
                <span
                  >All the data from Salesforce will be synced to the customer
                  app.</span
                >
                <a ng-click="GoToFirstStep()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1a">
              <div class="click-box active" ng-click="NextSlideNoTab()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1b">
              <div class="flyout active">
                <span
                  >Your customer, Mike, can now buy or customize his car with ease on an engaging app built on Heroku.</span
                >
                <a ng-click="GoToStep2()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <div class="click-box active" ng-click="GoToStep3()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <div class="click-box active" ng-click="NextSlideNoTab()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4a">
              <div class="flyout active">
                <span>Adding that selection increased the price by $3,000</span>
                <a ng-click="GoToStep4()">continue</a>
                <span class="carat"><i></i></span>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="click-box active" ng-click="NextSlideNoTab()"></div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
                <div class="confetti-container" ng-open="renderConfetti()">
                  <canvas id="success-confetti"></canvas>
                </div>
              <li-center>
                <h3>Chapter Summary</h3>
                <h4>Customer App</h4>
                <p class="customer-app">
                  You've created an engaging, personalized app experience for your customers, delivering real-time customer magic. And you can empower your employees to do the same, all with low-code tools that help you do more with less.<br /><br />Ready to discover more about what the Salesforce Platform can do for you?
                </p>
                <div class="btn-container">
                  <a ui-sref="outro" li-autofocus="wizard.stateIndex == 8" class="btn btn-rounded active">Continue</a>
                  <a href="https://www.salesforce.com/products/heroku/overview" class="success-text-link" target="_blank" rel="noopener noreferrer">Learn More About Heroku <span class="carat"><i></i></span></a>
                </div>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
