<section success="true">
  <div class="row chapter-customer-app mobile" ng-open="scrollToTop()">
    <div class="col-lg-12">
      <div class="row">
        <div class="slides slide-0">
          <div class="slide-image"></div>
          <div class="slide-container">
            <div class="slide-intro">
              <div class="slide-header">
                <h1>Create Customer Magic</h1>
              </div>
              <div class="slide-copy">
                <p>
                  Generate a seamless, connected experience for your customers using Heroku.
                  <br><br>
                  Now, any order update your customer makes will be updated across all systems automatically. And thanks to Genie, all of the information about your customer and their actions is harmonized into a unified profile, allowing you to treat them like people and not like a number.
                </p>
              </div>
            </div>
            <div class="transition-copy">
              <p>
                To start, all the data from Salesforce will be synced to the customer app.
              </p>
              <div class="transition-arrow"></div>
            </div>
          </div>
        </div>
        <div class="slides slide-1">
          <div class="slide-image"></div>
          <div class="transition-copy">
            <p>
              Your customer, Mike, can now buy or customize his car with ease on an engaging app built on Heroku.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class="slides slide-2">
          <div class="slide-image"></div>
          <div class="transition-copy">
            <p>
              If Mike adds customizations, such as “Self Driving Capability,” he can see the price quote change automatically.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class="slides slide-3">
          <div class="slide-image"></div>
          <div class="transition-copy">
            <p>
              Mike can see the update in real time and choose to purchase his customized vehicle.
            </p>
            <div class="transition-arrow"></div>
          </div>
        </div>
        <div class="slides slide-4">
          <div class="slide-image"></div>
        </div>
        <div class="slides success" success="true">
          <div class="confetti-container" ng-open="renderConfetti()">
            <div class="confettii-still"></div>
            <div class="content-container">
              <div class="success-text">
                <p>
                  You've created an engaging, personalized app experience for your customers, delivering real-time customer magic. And you can empower your employees to do the same, all with low-code tools that help you do more with less.
                  <br><br>
                  Ready to discover more about what the Salesforce Platform can do for you?
                </p>
              </div>
              <div class="mobile-success-ctas">
                <a ui-sref="outro" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                <div class="text-link">
                  <a
                    href="https://www.salesforce.com/products/heroku/overview"
                    class="success-text-link"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Learn more about Heroku</a
                  >
                  <span class="carat"><i></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
