<section success="true">
        <div class="row monitor-height chapter-customer-app mobile" ng-open="scrollToTop()">
          <div class="col-lg-12 monitor-height">
            <div class="row monitor-height">
              <div class="slides slide-0">
                <div class="slide-image"></div>
                <div class="slide-container">
                  <div class="slide-intro">
                    <div class="slide-header">
                      <h1>Supercharge your customer experience.</h1>
                    </div>
                    <div class="slide-copy">
                      <p>
                        With Heroku, you can create a connected experience for your customers.
                        <br><br>
                        This enables any order update your customer makes to be updated across all systems automatically.
                      </p>
                    </div>
                  </div>
                  <div class="transition-copy">
                    <p>
                            To start, all the data from Salesforce will be synced to the customer app.
                    </p>
                    <div class="transition-arrow"></div>
                  </div>
                </div>
              </div>
              <div class="slides slide-1">
                <div class="slide-image"></div>
                <div class="transition-copy">
                  <p>
                    Our customer, Mike, can now buy or customize his car on an engaging app built on Heroku.
                  </p>
                  <div class="transition-arrow"></div>
                </div>
              </div>
              <div class="slides slide-2">
                <div class="slide-image"></div>
                <div class="transition-copy">
                  <p>
                    If we add customizations, such as “Self Driving Capability,” we can see the price quote change automatically.
                  </p>
                  <div class="transition-arrow"></div>
                </div>
              </div>
              <div class="slides slide-3">
                <div class="slide-image"></div>
                <div class="transition-copy">
                  <p>
                    Mike can see the update in real time and choose to purchase his customized vehicle.
                  </p>
                  <div class="transition-arrow"></div>
                </div>
              </div>
              <div class="slides slide-4">
                <div class="slide-image"></div>
              </div>
              <div class="slides success" success="true">
                <div class="confetti-container" ng-open="renderConfetti()">
                  <div class="confettii-still"></div>
                  <div class="content-container">
                    <div class="success-text">
                      <p>
                        Your customers have all the tools they need to make any updates in one engaging app. Let’s see how we can make the experience even better by adding transparency with blockchain.
                      </p>
                    </div>
                    <div class="mobile-success-ctas">
                      <a ui-sref="chapter-blockchain" li-autofocus="wizard.stateIndex == 11" class="btn btn-rounded">Continue</a>
                      <div class="text-link">
                        <a
                          href="https://www.salesforce.com/products/heroku/overview"
                          class="success-text-link"
                          target="_blank"
                          rel="noopener noreferrer"
                          >Learn more about Heroku</a
                        >
                        <span class="carat"><i></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>