<div class="row monitor-height chapter-voice">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0"></div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <form class="form form-horizontal">
                <div class="control-group">
                  <div class="controls">
                    <input
                      autocomplete="off"
                      type="text"
                      name="name"
                      id="name"
                      ng-model="lightning.input"
                      class="text"
                      maxlength="80"
                      ng-disabled="!input.active"
                      ng-class="{active:input.active}"
                      li-autofocus="wizard.stateIndex == 3"
                    />
                  </div>
                </div>
              </form>
              <div
                class="click-box"
                ng-click="Next()"
                ng-class="{active:!input.active}"
              ></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="click-box active" wz-next></div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <canvas id="success-confetti" ng-open="RenderConfetti()"></canvas>
              <li-center>
                <p>
                  You just created a responsive design for a mobile app with 2
                  columns. Wasn’t that easy? Now let’s start building the user
                  interface of your app.
                </p>
                <p>
                  <a
                    ui-sref="add-base-lightning-components"
                    class="btn btn-rounded active"
                    li-autofocus="wizard.stateIndex == 3"
                    >Next</a
                  >
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
