<div class="row monitor-height chapter-voice">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0"></div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
                <div class="confetti-container" ng-open="renderConfetti()">
                    <canvas id="success-confetti"></canvas>
                  </div>
              <li-center>
                <p>
                  Now your reps can save time and check off their to-do lists faster with intelligent voice commands. Want to see how Heroku can provide a seamless, connected experience for you and your customers?
                </p>
                <p>
                  <a ui-sref="chapter-customer-app" li-autofocus="wizard.stateIndex == 1" class="btn btn-rounded active">Continue</a>
                  <a href="https://www.salesforce.com/products/platform/einstein/einstein-voice/" class="success-text-link">Learn more about voice &gt;</a>
                </p>                
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
