<div class="drawer-content chapter-voice-drawer" ng-controller="ChapterVoiceDrawerController">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <h2>Use voice-enabled virtual assistant.</h2>
    <p>Now, let’s see how you can make intelligent updates using just your voice. You can use voice commands, powered by Einstein, in the Salesforce mobile app.</p>
    <p class="continue">
      <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
    </p>
  </div>
</div>