<section class="sales-view-in-salesforce">
  <div class="row hero">
    <div class="col-xs-12">
      <h1>Sales View in Salesforce</h1>
      <p>Your sales reps will be able to view prospect scores, grades, and activities in Salesforce.</p>
    </div>
  </div>
  <div class="row blue-container text-left">
    <div class="col-xs-12">
      <p>After a lead has been assigned to sales, the fate of that lead passes into the hands of your sales reps. But don’t worry, all of the data collected by Pardot is available to your sales reps, and they don’t even have to leave Salesforce to access it.</p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Salesforce Contact Record</h3>
      <p>You can see your prospect’s score and grade in the Salesforce contact record. This helps sales reps prioritize their hottest leads at a glance.</p>
    </div>
  </div>
  <div class="row graphic dyk">
    <div class="col-xs-12">
      <h2>Did You Know?</h2>
      <p>Syncing between Pardot and Salesforce ensures that all records are up-to-date across both tools.</p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Prospect Activities Log</h3>
      <p>See a log of prospect activities, including website browsing activities, interactions with marketing campaigns, call history, and more.</p>
    </div>
  </div>
  <div class="row hotspots shadow">
    <div class="col-xs-12">
      <h3>Add Prospects to Lists</h3>
      <p>Add individual prospects to lists from within Salesforce. This allows sales reps to enroll prospects in drip campaigns if further nurturing is needed, or remove them from lists if necessary.</p>
    </div>
  </div>

  <div class="row blue-container next-page text-left">
    <div class="col-xs-12">
      <p>Click "Continue" to learn more about Pardot's sales tool, Salesforce® Engage.</p>
      <div class="text-center">
        <a ui-sref="salesforce-engage" class="btn-orange">Continue</a>
      </div>
    </div>
  </div>
</section>