@import '../base';

.customize-navigation {
  .step-0,
  .step-1 {
    background: url('../assets/images/chapters/customize-navigation/screen-bkg-1.png')
      center center no-repeat;
  }

  .step-2 {
    background: url('../assets/images/chapters/customize-navigation/screen-bkg-2.png')
      center center no-repeat;
    &.active {
      background: url('../assets/images/chapters/customize-navigation/screen-bkg-3.png')
        center center no-repeat;
    }
  }

  .step-3 {
    background: url('../assets/images/chapters/customize-navigation/screen-bkg-4.png')
      center center no-repeat;
    &.step3a {
      background: url('../assets/images/chapters/customize-navigation/screen-bkg-5.png')
        center center no-repeat;
    }
    &.step3b {
      background: url('../assets/images/chapters/customize-navigation/screen-bkg-6.png')
        center center no-repeat;
    }
  }

  .step-4 {
    background: url('../assets/images/chapters/customize-navigation/screen-bkg-6.png')
      center center no-repeat;
    &.active {
      background: url('../assets/images/chapters/customize-navigation/screen-bkg-8.png')
        center center no-repeat;
    }
  }

  .step-5 {
    background: url('../assets/images/chapters/customize-navigation/screen-bkg-9.png')
      center center no-repeat;
  }

  .step-1 {
    .click-box {
      top: 48px;
      right: 44px;
      width: 80px;
      height: 26px;
    }
  }

  .step-2 {
    .click-box {
      top: 255px;
      left: 395px;
      width: 77px;
      height: 35px;
    }
    .click-box-1 {
      top: 180px;
      left: 184px;
      width: 39px;
      height: 37px;
    }
  }

  .step-3 {
    .click-box {
      top: 146px;
      left: 219px;
      width: 130px;
      height: 29px;
    }
    .click-box-1 {
      top: 310px;
      left: 491px;
      width: 80px;
      height: 21px;
    }
    .click-box-2 {
      top: 426px;
      right: 110px;
      width: 37px;
      height: 20px;
    }
  }

  .step-4 {
    .click-box {
      top: 146px;
      left: 363px;
      width: 89px;
      height: 29px;
    }
    .click-box-1 {
      top: 310px;
      left: 491px;
      width: 80px;
      height: 21px;
    }
  }

  .step-5 {
    .drag-drop-list-wrapper {
      width: 272px;
      height: 196px;
      position: absolute;
      top: 222px;
      left: 394px;
    }
    .drag-drop-list {
      position: relative;
      margin: 0;
      padding: 0;
      width: 272px;
      height: 196px;
      list-style: none;
      li {
        position: relative;
        height: 28px;
        width: 272px;
        background-position: center;
        border: 1px solid #E4E8EE;
        -webkit-user-select:none;
        -webkit-touch-callout:none;
        &.chatter {
          background-image: url('../assets/images/chapters/customize-navigation/chatter.png');
        }
        &.today {
          background-image: url('../assets/images/chapters/customize-navigation/today.png');
        }
        &.dashboards {
          background-image: url('../assets/images/chapters/customize-navigation/dashboards.png');
        }
        &.tasks {
          background-image: url('../assets/images/chapters/customize-navigation/tasks.png');
        }
        &.smart-search-items {
          background-image: url('../assets/images/chapters/customize-navigation/smart-search-items.png');
        }
        &.customer-360 {
          background-image: url('../assets/images/chapters/customize-navigation/customer-360.png');
          z-index: 1000;
          &.active {
            animation: borderActive 1.5s infinite;
            cursor: move;
          }
        }
        &.people {
          background-image: url('../assets/images/chapters/customize-navigation/people.png');
        }
        &.ng-leave {
          transition-duration: 0s;
          opacity: 1;
          &.ng-leave-active {
            opacity: 0;
          }
        }
        &.ng-enter {
          transition: top 0.3s;
          &[data-direction="left"] {
            top: -28px;
          }
          &[data-direction="right"] {
            top: 28px;
          }
          &.ng-enter-active {
            top: 0px;
          }
        }
      }
    }
    .click-box {
      top: 426px;
      right: 110px;
      width: 37px;
      height: 20px;
    }
  }
}

.customize-navigation-drawer {

  .btn.next {
    padding: 10px 80px;
  }

  p.continue {
    text-align: center;
    margin-top: 40px;
  }
}