@import '../../base';

#step-container {

  &.build-a-form-and-landing-page-steps, &.form-builder-steps, &.form-completion-actions-steps {

    top: 110px;

    .step-one, .step-two {
      &.active {
        height: 90px;
      }
    }

    .step-four {
      &.active {
        height: 130px;
      }
    }

  }
}