<div class="drawer-content engage-campaigns-drawer">

  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <h2>Engage Campaigns</h2>
    <p>With Salesforce® Engage, it's easy to send 1:1 emails, or "Engage Campaigns," to your prospects. You'll notice that Jeremy Jones has already been selected from the list of leads displayed here.</p>
    <p class="continue">
      <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
    </p>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
      <drawer-panel-tab heading="01">
        <h2>Did You Know?</h2>
        <p>Marketing can place a limit on the number of emails that sales reps can send on a daily basis. The number of remaining emails will display within the email editor to alert reps as they approach their limit.</p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="02">
        <h2>Did You Know?</h2>
        <p>You can customize your send lists by adding or removing email recipients within Salesforce® Engage.</p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="03">
      <h2>Did You Know?</h2>
      <p>Using the Salesforce1 mobile app, you can add your prospects to nurture campaigns with just a few taps.</p>
    </drawer-panel-tab>

    </drawer-panel>
  </div>

</div>