<div class="row monitor-height sales-cloud-engage">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <input id="jeremy-jones" class="btn btn-primary" ng-click="SelectCard()" type="submit" value="" />
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <a class="btn btn-highlight light"li-autofocus="wizard.stateIndex == 2"  id="leads-tab" ui-sref="engage-campaigns" ></a>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
