<section class="sales-cloud-engage">
  <div class="row hero">
    <div class="col-xs-12">
      <h1>Salesforce® Engage</h1>
      <p>Connect sales to customers like never before using Salesforce® Engage.</p>
    </div>
  </div>
  <div class="row blue-container text-left">
    <div class="col-xs-12">
      <p>If you’re a sales rep, you don’t want to waste time jumping between sales applications, especially when your quota is on the line.</p>
      <p>With Salesforce® Engage, you can keep tabs on your active prospects in real time, send 1:1 emails to prospects using pre-approved templates or plain text, report on the success of these emails, and more — right from within your CRM.</p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Engage Alerts</h3>
      <p>Engage Alerts provides a customizable feed of real-time prospect activities, so that sales reps are always up-to-date on the latest actionable information. In addition, real-time alerts will appear as pop-up notifications on your desktop when a visitor or prospect takes an action.</p>
    </div>
  </div>
  <div class="row graphic dyk">
    <div class="col-xs-12">
      <h2>Did You Know?</h2>
      <p>View only the most relevant activity on your Engage Alerts feed by customizing your own filters based on geography, activity type, and more.</p>
      <p>You can also view a list of your prospect activities on-the-go from within the Salesforce® Engage mobile application on Salesforce1.</p>
    </div>
  </div>
  <div class="row blue-container text-left">
    <div class="col-xs-12">
      <p>With Salesforce® Engage, it's easy to send 1:1 emails, or "Engage Campaigns," to your prospects. You can either choose a template that's been pre-created by your marketing team, or create a plain text email from scratch.</p>
    </div>
  </div>
  <div class="row graphic customize pb">
    <div class="col-xs-12">
      <p>You can customize your send lists by adding or removing email recipients within Salesforce® Engage.</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>Marketing can place a limit on the number of emails that sales reps can send on a daily basis.</p>
      <p>Using the Salesforce® Engage mobile application within Salesforce1, you can add your prospects to nurture campaigns with just a few simple taps.</p>
    </div>
  </div>
  <div class="row screen-shot-container">
    <div class="col-xs-12">
      <h2>Engage Reports</h2>
      <p>Salesforce® Engage includes Engage Reporting to give you insight into your email open rates, click-through rates, and more. You can also drill down to see who is opening your emails and which links they’re clicking on.</p>
      <div class="screen-shot micro-campaign"></div>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>Engage campaign reporting allows you to see which templates are performing best. Restrict your reports to templated or non-templated emails to get even more granular with your reporting.</p>
    </div>
  </div>
  <div class="row blue-container next-page text-left">
    <div class="col-xs-12">
      <p>In addition to Engage reporting, Pardot offers a number of out-of-the-box marketing reports.</p>
      <p>Click “Continue” to move onto our last (but not least!) section on campaign reporting.</p>
      <div class="text-center">
        <a ui-sref="pardot-reporting" class="btn-orange">Continue</a>
      </div>
    </div>
  </div>
</section>