<div class="row monitor-height welcome">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <wizard name="monitor">
        <wz-step>
          <div class="step step-0">
            <li-center>
              <h2 class="intro-text">Welcome to the<br/>Salesforce Platform Tour</h2>
              <a id="begin-the-tour" ng-click="beginTour()" href="" li-autofocus="wizard.stateIndex == 0">
                <text text-anchor="middle" x="50%" y="50%" alignment-baseline="middle">
                  Start
                </text>
              </a>
            </li-center>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-1">
            <div class="welcome-copy">
              <div class="welcome-copy-block">
                <h2>Salesforce Platform Tour</h2>
                <p>Welcome! In this tour, you'll see how you can build intelligent apps and real-time automations to create personalized experiences to drive success now. Ready?</p>
              </div>
              <a class="btn btn-intro active continue-button-1" href="" li-autofocus="wizard.stateIndex == 1" wz-next>Continue</a>
            </div>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-2">
            <div class="welcome-copy">
              <div class="welcome-copy-block">
                <!-- <h2>Your Mission</h2> -->
                <p>Your company, Electron Motors, sells electric cars, but the buying process is disconnected, repetitive, and manual. Data lives in a variety of disparate systems, and you lack a single view of your customer, which is impacting business efficiency.</p>
                <p>Your mission is to build and automate key customer processes – from test drive to delivery – using Salesforce low-code automation and development tools, mobile, and artificial intelligence (AI).</p>
                <p>Click “Continue” to start the first section on data.</p>
              </div>
              <a ui-sref="chapter-data" class="btn btn-intro active" href="" li-autofocus="wizard.stateIndex == 2" wz-next>Continue</a>
            </div>
          </div>
        </wz-step>
      </wizard>
    </div>
  </div>
</div>
