<div class="row monitor-height welcome">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <wizard name="monitor">
        <wz-step>
          <div class="step step-0">
            <li-center>
              <a id="begin-the-tour" ng-click="beginTour()" href="" li-autofocus="wizard.stateIndex == 0">
                <text text-anchor="middle" x="50%" y="50%" alignment-baseline="middle">
                  Begin the Tour
                </text>
              </a>
            </li-center>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-1">
            <div class="welcome-copy">
              <div class="welcome-copy-block">
                <h2>Welcome to the Salesforce Customer 360 Platform Tour.</h2>
                <p>In this tour you will see how you can build smart apps with personalized experiences to delight every customer and employee.</p>
              </div>
              <a class="btn btn-intro active" href="" li-autofocus="wizard.stateIndex == 1" wz-next>Next</a>
            </div>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-2">
            <div class="welcome-copy">
              <div class="welcome-copy-block">
                <!-- <h2>Your Mission</h2> -->
                <p>Electron Motors is currently selling electric cars but their buying process is disconnected, repetitive, and manual.</p>
                <p>Your mission is to digitize key customer processes from test drive to delivery using Salesforce’s builders, mobile, Artificial Intelligence, and blockchain.</p>
              </div>
              <a ui-sref="custom-objects" class="btn btn-intro active" href="" li-autofocus="wizard.stateIndex == 2" wz-next>Let's Get Started</a>
            </div>
          </div>
        </wz-step>
      </wizard>
    </div>
  </div>
</div>