<section class="getting-started">
  <div class="background-splash"></div>
  <!-- <div class="info-block" id="dyk">
    <h3>Did You Know?</h3>
    <p>Click on the "Did You Know?" icon at any time to learn more.</p>
    <div class="info-block-arrow"></div>
  </div> -->
  <!-- <div class="info-block" id="hs">
    <h3>Hot spots</h3>
    <p>To see important features for each page in the tour, click on the "Hot Spots" icon.</p>
    <div class="info-block-arrow"></div>
  </div> -->
  <div class="info-block" id="mv">
    <h3>Mobile View</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula dolor.</p>
    <div class="info-block-arrow"></div>
  </div>
  <div class="info-block" id="timeline">
    <h3>Navigation</h3>
    <p>See your location in the tour here. You can go in order or navigate to a different section from this menu.</p>
    <div class="info-block-arrow"></div>
  </div>
  <div class="info-block" id="steps">
    <h3>Steps</h3>
    <p>On each page, follow these steps to proceed with the tasks.</p>
    <div class="info-block-arrow"></div>
  </div>
  <div class="info-block" id="sald">
    <p>Click here for an overview of Salesforce Platform.</p>
    <div class="info-block-arrow"></div>
  </div>
</section>
