<div class="welcome-page">
  <section>
    <!--<div class="container">-->
    <div class="row hero">
      <div class="xs-12">
        <div class="logo"></div>
        <h1>Einstein 1 Platform Application Development Tour</h1>
        <h3 class="hidden-lg hidden-md">Welcome! In this tour, you’ll see how you can unify and harmonize your data,
          build automations and custom AI-powered apps with low code, and deliver better employee and customer
          experiences with generative AI. Ready?</h3>
        <h3 class="hidden-sm hidden-xs">Welcome! In this tour, you’ll see how you can unify and harmonize your data,
          build automations and custom AI-powered apps with low code, and deliver better employee and customer
          experiences with generative AI. Ready?</h3>
        <!-- <div class="text-center hidden-lg hidden-md">
            <a ui-sref="chapter-data" class="btn-white">GET STARTED</a>
          </div> -->
      </div>
    </div>
    <!--</div>-->
  </section>
  <section class="mission">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
          <!-- <h2>Our Mission</h2> -->
          <p>
            Your company, Electron Motors, sells electric cars, but the buying process is disconnected, repetitive, and
            manual. You have trapped data that lives in a variety of disparate systems, and you lack a single view of
            your customer, which is impacting business efficiency.
            <br><br>
            Your mission is to build and automate key customer processes - from test drive to delivery - using Einstein
            1 Platform low-code automation and development tools, mobile, and artificial intelligence (Al).
          </p>

          <a ui-sref="chapter-data" class="btn btn-intro">Continue</a>

        </div>
      </div>
    </div>
  </section>
</div>