<div class="welcome-page">
  <section>
    <!--<div class="container">-->
      <div class="row hero">
        <div class="xs-12">
          <div class="logo"></div>
          <h2>Welcome to the Salesforce</h2>
          <h1 class="hidden-lg hidden-md">Platform Tour</h1>
          <h3 class="hidden-lg hidden-md">In this tour, you will see how to extend the power of your CRM with the
            Salesforce Platform.</h3>
          <h1 class="hidden-sm hidden-xs">Interactive Guided Tour</h1>
          <div class="text-center hidden-lg hidden-md">
            <a ui-sref="chapter-data" class="btn-white">GET STARTED</a>
          </div>
        </div>
      </div>
    <!--</div>-->
    <div id="tray" class="tray hidden-sm hidden-xs">
      <div class="tray-btn" onclick="trayClick()">gulp watch
        <span>&#187;</span>
        <p>Get Started</p>
      </div>
      <div class="tray-container">
        <!--iframe goes here-->
      </div>
      <script>
        function trayClick() {
          var tray = document.getElementById("tray");
          if ((" " + tray.className + " ").replace(/[\n\t]/g, " ").indexOf(" active ") > -1) {
            tray.className = tray.className.replace(/(?:^|\s)active(?!\S)/g, '');
          }
          else {
            tray.className = "tray hidden-sm hidden-xs active";
          }
        }
      </script>
    </div>
  </section>
  <section class="did-you-know">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
          <h2>Your Mission</h2>
          <p>We will show you how to build an app using Salesforce Platform. The company we're building for, Egg, sells
            smart thermostats. Its Product Managers fall behind on delivering innovations.</p>
          <p class="hidden-lg hidden-md">To improve the product fast, the Product Managers need to better understand
            customers—their issues, ideas, and any other useful contextual data.</p>
          <p class="hidden-sm hidden-xs">This interactive demo provides a simplified environment for you to walk through
            the Pardot tool, explore some of its most popular functionality, and try your hand at some common marketing
            automation tasks. Hover over the highlighted areas below to get a preview of what will be covered in this
            demo &mdash; or click ‘Get Started’ to begin the tour.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row welcome-container-2">
      <div class="col-lg-12">
      </div>
      <div class="row hidden-lg hidden-md">
        <div class="col-xs-12 text-center">
          <a ui-sref="chapter-data" class="btn-white-bottom">GET STARTED</a>
        </div>
      </div>
    </div>
  </section>
</div>