<div class="welcome-page">
  <section>
    <!--<div class="container">-->
      <div class="row hero">
        <div class="xs-12">
          <div class="logo"></div>
          <h1>Welcome to the Customer 360 Platform Tour</h1>
          <h3 class="hidden-lg hidden-md">In this tour, you'll see how you can build smart apps with personalized experiences to delight every customer and employee. Ready?</h3>
          <h3 class="hidden-sm hidden-xs">In this tour, you'll see how you can build smart apps with personalized experiences to delight every customer and employee. Ready?</h3>
          <!-- <div class="text-center hidden-lg hidden-md">
            <a ui-sref="chapter-data" class="btn-white">GET STARTED</a>
          </div> -->
        </div>
      </div>
    <!--</div>-->
  </section>
  <section class="mission">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
          <h2>Our Mission</h2>
          <p>Your company, Electron Motors, sells electric cars, but the buying process is disconnected, repetitive, and manual.
            <br><br>
              Our mission is to digitize key customer processes — from test drive to delivery — using Salesforce builders, mobile, artificial intelligence (AI), and blockchain.
          </p>
            
          <a ui-sref="chapter-data" class="btn btn-intro">Continue</a>
            
        </div>
      </div>
    </div>
  </section>
</div>