@import '../../base';

.view-a-prospect-profile {

  .step-0, .step-1 {
    background: url('../assets/images/stories/4-view-a-prospect-profile/4-screen-view-a-prospect-profile.png') center center no-repeat;
  }

  .step-2, .step-3 {
    background: url('../assets/images/stories/4-view-a-prospect-profile/4-screen-visitor-page-views.png') center center no-repeat;
  }

   .step-1 {
     #page-view {
       position: absolute;
       width: 402px;
       height: 28px;
       left: 390px;
       top: 289px;
       &.active {
         animation: borderActive 1.5s infinite;
       }
     }
   }

   .step-2, .step-3 {
    .form-actions {
      position: absolute;
      bottom: 72px;
      left: 635px;

      .btn {
          padding: 6px 27px;
      }
    }
  }

}
