<div class="row monitor-height create-an-app-from-base-and-custom-lightning-components">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <img src="../assets/images/chapters/create-an-app-from-base-and-custom-lightning-components/report-chart-drag.png" data-drag="true" jqyoui-draggable="{index: 0, animate:true}"
                   data-jqyoui-options="{revert: 'invalid'}" alt="report chart drag" class="report-chart-drag" ng-class="{active:!reportchart.active}">
              <div class="drop-box active" data-drop="true" jqyoui-droppable="{index: 1 , onDrop:'next'}"></div>
            </div>
          </wz-step>
          <wz-step> 
            <div class="step step-2">
              <form class="form form-horizontal">
                <div class="control-group">
                  <div class="controls">
                    <input autocomplete="off" li-autofocus="wizard.stateIndex == 2" type="text" name="name" id="name" ng-model="label.input"
                      class="text report-chart-label active" maxlength="80">
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <select name="report-select" class="report-chart-dropdown" id="report-select" ng-model="report.select" ng-options="opt as opt.label for opt in reportOptions"
                      disabled></select>
                  </div>
                </div>
              </form>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3" ng-class="{dropped: report.annualSalesDropped}">
              <form class="form form-horizontal">
                <div class="control-group">
                  <div class="controls">
                    <input autocomplete="off" type="text" name="name" id="name" ng-model="label.input" class="text report-chart-label " maxlength="80"
                      disabled>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <select name="report-select" li-autofocus="wizard.stateIndex == 3" id="report-select" class="report-chart-dropdown"
                      ng-model="report.select" ng-class="{active: !report.annualSalesDropped}" ng-options="opt as opt.label for opt in reportOptions"></select>
                  </div>
                </div>
              </form>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <img src="../assets/images/chapters/create-an-app-from-base-and-custom-lightning-components/filter-list-drag.png" alt="filter list drag"
                   class="filter-list-drag active" data-drag="true" jqyoui-draggable="{index: 2, animate:true}" data-jqyoui-options="{revert: 'invalid'}">
              <div class="drop-box active" data-drop="true" jqyoui-droppable="{index: 3 , onDrop:'next'}"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5" ng-class="{dropped: report.dropped}">
                <img src="../assets/images/chapters/create-an-app-from-base-and-custom-lightning-components/report-chart-drag.png" alt="customer support cases drag"
                     class="report-chart-drag" ng-class="{active: !report.dropped}" ng-show="!report.dropped" data-drag="true"
                     jqyoui-draggable="{index: 4, animate:true}" data-jqyoui-options="{revert: 'invalid'}">
              <div class="drop-box" ng-show="!report.dropped" ng-class="{active: !report.dropped}" data-drop="true" jqyoui-droppable="{index: 5 , onDrop:'dropCustomerSupportCases'}"></div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  <img src="../assets/images/success.png" />
                </p>
                <h2>Success!</h2>
                <p>
                    We have our Standard Components in place, but we can access other no-code components in just a few clicks.                    
                </p>
                <p>
                  <a ui-sref="install-a-pre-built-component-from-appexchange" li-autofocus="wizard.stateIndex == 6" class="btn btn-rounded active">Continue</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>