<div class="row monitor-height intro">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <wizard name="monitor">
        <wz-step>
          <div class="step step-0">
            <li-center>
              <a id="begin-the-tour" ng-click="beginTour()" href="" li-autofocus="wizard.stateIndex == 0">
                <text text-anchor="middle" x="50%" y="50%" alignment-baseline="middle">
                  Begin the Tour
                </text>
              </a>
            </li-center>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-1">
            <div class="intro-copy">
              <div class="intro-copy-block">
                <h2>Welcome to the Salesforce Platform Tour</h2>
                <p>In this tour, you will see how to extend the power of your CRM with the Salesforce Platform.</p>
              </div>
              <a class="btn btn-intro active" href="" li-autofocus="wizard.stateIndex == 1" wz-next>Next</a>
            </div>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-2">
            <div class="intro-copy">
              <div class="intro-copy-block">
                <h2>Your Mission</h2>
                <p>Your company, Egg, sells smart thermostats. Your Product Managers fall behind on delivering innovations.</p>
                <p>To improve the product fast, your Product Managers need to better understand customers - their issues, ideas,
                  and any other useful contextual data.</p>
              </div>
              <a class="btn btn-intro active" href="" li-autofocus="wizard.stateIndex == 2" wz-next>Next</a>
            </div>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-3" ng-class="{active:!label.active}">
            <div class="intro-copy">
              <div class="intro-copy-block">
                <h2>How You&rsquo;ll Do It</h2>
                <p>You will build an app to help Product Managers unlock these insights!</p>
                <p>Doing this in Salesforce means you can extend the power of the customer data in your CRM and deliver timely
                  innovations based on what your customers want. Using Salesforce Platform makes app-building as easy as
                  dragging and dropping.</p>
              </div>
              <a ui-sref="add-an-object" href="" li-autofocus="wizard.stateIndex == 3" class="btn btn-intro active" wz-next>Let&rsquo;s get started!</a>
            </div>
          </div>
        </wz-step>
      </wizard>
    </div>
  </div>
</div>