@import '../../base';

#step-container {

  &.set-up-a-lead-nurturing-campaign-steps {

    .step-one {
      &.active {
          height: 170px;
        }
    }

   .step-two {
      &.active {
        height: 130px;
      }
    }

    .step-three {
      &.active {
        height: 210px;
      }
    }

    .step-four {
      &.active {
        height: 170px;
      }
    }
  }
}