@import '../../base';


@keyframes dragStep1 {
  0% {
    opacity:0.0;
  }
  50% {
    opacity:1.0;
  }
  99% {
    opacitiy:0.0;
    transform: translateX(285px) translateY(52px);
  }
  100% {
    opacitiy:1.0;
    transform: translateX(0px) translateY(0px);
  }
}


@keyframes dragStep2 {
  0% {
    opacity:0.0;
  }
  70% {
    opacity:1.0;
  }
  100% {
    opacitiy:0.0;
    transform: translateX(285px) translateY(12px);
  }
}


@keyframes dragStep3 {
  0% {
    opacity:0.0;
  }
  70% {
    opacity:1.0;
  }
  100% {
    opacitiy:0.0;
    transform: translateX(285px) translateY(92px);
  }
}



@keyframes dragStep3_1 {
  0% {
    opacity:0.0;
  }
  70% {
    opacity:1.0;
  }
  100% {
    opacitiy:0.0;
    transform: translateX(319px) translateY(77px);
  }
}



@keyframes dragStep4 {
  0% {
    opacity:0.0;
  }
  70% {
    opacity:1.0;
  }
  100% {
    opacitiy:0.0;
    transform: translateX(285px) translateY(127px);
  }
}



.set-up-a-lead-nurturing-campaign {

  #hotspots-container {
    .hotspot-1 {
      animation-delay: 1.5s;
    }
    .hotspot-2 {
      animation-delay: 1.75s;
    }
  }

  .btn#run-drip-program {
    position: absolute;
    top: 807px;
    left: 199px;
    height: 36px;
    width: 121px;
    background: none;
    &.active {
      animation: borderActive 1.5s infinite;
    }
  }

  .step-0, .step-1, .step-2, .step-3 {
    background: url('../assets/images/stories/5-set-up-a-lead-nurturing-campaign/5-screen-drip-program-full-no-controls.png') top center no-repeat;
    height: 852px !important;
  }

  .highlights {
    position: absolute;
    left: 0px;
    top: 0px;
    height: $monitor-height;
    width: $monitor-width;

    .assign-to-user, .send-email {
      position: absolute;
      .box {
        fill:transparent;
        stroke-width:3;
        stroke:$color-salesforce-blue;
        opacity:0;
      }
    }

    .assign-to-user {
      top: 265px;
      left: 19px;
    }

    .send-email {
      top: 99px;
      left: 19px;
    }

    .arrow {
      position: absolute;
      opacity:0;

      &#assign-to-user-arrow{
        top: 225px;
        left: 166px;
        width: 160px;
        height: 160px;
        transform: rotate(110deg);
      }

      &#send-email-arrow {
        top: 100px;
        left: 16px;
        width: 340px;
        height: 340px;
        transform: rotate(162deg);
      }
    }

  }


  .step-0, .step-1 {

    #step-3.drop-hover, #step-4.drop-hover{
      transition-duration: 0.5s;
      transition-delay: 0s;

      .drop-target {
        display:none;
      }

      .step-contents {
        display: block;
      }

      li.empty {
        border-top:none;
      }
    }


    #step-1, #step-2, #step-3, #step-3-1, #step-3-2, #step-4, #step-4-end, #step-5, #step-6, #step-7, #step-7-1, #step-7-2, #end {
      transform: scale(0.0);
      opacity: 0.0;
    }
    
    .text-success {
      color: #468847;
    }

    .text-error {
      color: #b94a48;
    }

    $drop-available-actions: 104px;
    $number-available-actions: 13;
    $drop-available-font-size: 14px;
    $drop-available-line-height: 17px;

    .drip-available-actions {
      margin: 0;
      position: absolute;
      width: 180px;
      left: 25px;
      top: $drop-available-actions;
      font-size:$drop-available-font-size;
      line-height: $drop-available-line-height;

      &.drag-source {
        position:static;

        p {
          opacity: 0.0;
          left: 26px;
          position:absolute;

          $drop-available-position-offset: 107px;
          @for $i from 1 through $number-available-actions {
            &:nth-child(#{$i}) {
              @if (#{$i} == '1')  {
                top: 0 + $drop-available-position-offset;
              }
              @else if (#{$i} == '2') {
                top: 26px + $drop-available-position-offset;
              }
              @else if (#{$i} == '3') {
                top: 69px + $drop-available-position-offset;
              }
              @else if (#{$i} == '4') {
                top: 112px + $drop-available-position-offset;
              }
              @else {
                top: #{ 112px + $drop-available-position-offset + (($i - 4) * 26px)};
              }
            }
          }

        }

        #assign-user, #send-email {
          &.ui-draggable-dragging {
            opacity: 0.5 !important;
            transition:none !important;
            animation:none !important;
          }
        }
      }

      .field {
        z-index: 1000;
        width: 200px;
        position: relative;
      }

      p {

        &.drip-action-text {
          padding: 7px 5px 2px;
          margin-bottom: 0;
          clear: both;
          font-size: $drop-available-font-size;
          line-height: $drop-available-line-height;
          width:180px;
        }

        &.ui-draggable-handle {
          cursor:move;
        }
      }

      .icon-salesforce {
        display: block;
        width: 16px;
        height: 16px;

        &.pull-left{
          margin-right: .3em;
        }
      }

    }


    .drip-logic {
      position: absolute;
      left: 196px;
      //top: 77px;
      top: 125px;
      margin: 0 0 0 0;
      font-size: 15px;
      color: #666;
      line-height: 1.6em;
      padding: 0;

      .clearleft {
        clear: left;
      }

      .drop-target {
        border-top: 3px solid $color-salesforce-blue;
        width:90px;
        transform: scale(0.0);
        display:block;
      }

      li {
        list-style: none;
        margin: 0px 5px;
        padding: 1px 5px;
        min-width: 300px;
        overflow: hidden;

        #step-4-1-stop {
          transform: scaleY(1.0);
        }

        .no-branch {
          float: left;
          padding: 0px 0px;
          color: #ac281e;
        }

        .branch {
          color: #008d00;
          float: left;
          padding: 0px 0 0px 9px;
        }

        .fa-chevron-down {
          margin-top: -8px;
          margin-left: .5px;
        }

        .long-arrow-middle {
          float: left;
          clear: left;
          background-image: none;
          margin-left: 6px;
          padding-left: 25px;
          border-left: 2px solid #B94A48;

          li {
            margin-left: 0px;
            padding: 2px;
          }
        }

        &.rigid {
          cursor: auto;
        }

        &.empty {
          .step-contents {
            display:none;
          }
        }

        &.not-empty {
          .drop-target {
            display:none;
            transition: none;
          }
        }

        a {
          color: #2488B8;
          text-decoration: none;
        }



      }
    }
  }

  @mixin animation-step($animation, $delay) {
    animation: $animation 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: $delay;
    transition: all 0.5s cubic-bezier(.98,0,1,.28);
  }

  #assign-modal {
    background: url('../assets/images/stories/5-set-up-a-lead-nurturing-campaign/5-modal-assign-to-user.png') top center no-repeat;
    width:421px;
    height: 169px;
    z-index: 10000;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0px;
    margin: auto;

    form.form-horizontal .controls {
      margin-left:0px;

      select {
        position: absolute;
        left: 122px;
        top: 77px;
        opacity: 0.5;
        height: 24px;
        width: 158px;
        &.active {
          animation: borderActive 1.5s infinite;
        }
      }
    }

  }

  #send-email-modal {
    background: url('../assets/images/stories/5-set-up-a-lead-nurturing-campaign/5-modal-send-email.png') top center no-repeat;
    width:476px;
    height: 240px;
    z-index: 10000;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0px;
    margin: auto;

    form.form-horizontal .controls {
      margin-left:0px;

      select {
        position: absolute;
        left: 141px;
        top: 138px;
        opacity: 1.0;
        height: 24px;
        width: 301px;
        &.active {
          animation: borderActive 1.5s infinite;
        }
      }
    }

  }

  section {
    &.step {

      &.current {

        .step-1 {

          &.complete {
            transform: translateY(-333px);
            transition-duration: 0.5s;
            transition-delay: 0.5s;
            transition-timing-function: ease-in;

            #step-4-1-stop {
              height:0px;
              transform: scaleY(0.0);
              transition-duration: 0.25s;
              transition-delay: 0.25s;
              transition-timing-function: ease-out;
            }

            div.drip-logic {
              ul {
                li {
                  @for $i from 6 through 12 {
                    &:nth-child(#{$i}) {
                      transition-duration: 0.5s;
                      transition-delay: #{($i - 5) * 0.5}s;
                      transition-timing-function: ease-in;
                      transform: scale(1.0) !important;
                      opacity: 1.0 !important;
                    }
                  }
                }
              }
            }
          }

          div.drip-available-actions.drag-source {
            #send-email {
              //@include animation(scale 3.0s ease-in, slide 3.0s ease, opacity 1.0s ease);
              animation-step: dragStep1, 1.0s;
            }

            #pause {
              animation-step: dragStep2, 1.5s;
            }

            #prospect-opened {
              animation-step: dragStep3, 2.0s;
            }
          }

          div.drip-logic {
            ul {
              li {
                @for $i from 1 through 5 {
                  &:nth-child(#{$i}) {
                    transition-duration: 0.5s;
                    transition-delay: #{$i * 0.5}s;
                    transition-timing-function: ease-in;
                    transform: scale(1.0) !important;
                    opacity: 1.0 !important;
                  }
                }
              }

              #step-3-1-drop-target {
                transform: scale(1.0) !important;
                transition-duration: 0.25s;
                transition-delay: 4.0s;
                transition-timing-function: ease-in;
              }

             #step-4-1-drop-target {
               transform: scale(1.0) !important;
               transition-duration: 0.25s;
               transition-delay: 0.5s;
               transition-timing-function: ease-in;

               .show-target {
                 display:block;
               }
             }
            }
          }
        }

        .step-2 {
          transform: translateY(0px);
          transition-duration: 1.0s;
          transition-timing-function: ease-in;
          transition-delay: 1.5s;
          transform: translateY(-720px);
        }

        div.highlights {
          pointer-events: none;

          #assign-box {
            transition-duration: 0.5s;
            transition-delay: 3s;
            transition-timing-function: ease-in;
            opacity: 1.0 !important;
          }

          #assign-to-user-arrow {
            transition-duration: 0.5s;
            transition-delay: 3.5s;
            transition-timing-function: ease-in;
            opacity: 1.0 !important;
          }

          &.show-highlights {
            #send-email-box {
              transition-duration: 0.5s;
              transition-delay: 1s;
              transition-timing-function: ease-in;
              opacity: 1.0 !important;
            }

            #send-email-arrow {
              transition-duration: 0.5s;
              transition-delay: 1.5s;
              transition-timing-function: ease-in;
              opacity: 1.0 !important;
            }
          }
        }
      }
    }
  }
  
}

