@import "../../../styles/_base";

$progress-bg-z-index: 1998;
$progress-z-index: 1999;
$progress-transition-time: .2s;
$progress-width: 394px;
$progress-width-inactive: 100px;
$progress-left: 50px;
$progress-top: 15px;

.progress-no-scroll {
  position: relative;
  overflow: hidden;
}

.progress-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  opacity: 0;
  z-index: $z-index-progress-navbar-blocker;
  transition: all $progress-transition-time cubic-bezier(0.25, 0.8, 0.4, 0.95);

  &.active {
    display: block;
    opacity: 1;
  }
}

.progress-navbar-container {
  width: $progress-width-inactive;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  padding-top: $progress-top;
  padding-left: $progress-left;
  z-index: $z-index-progress-navbar-opened-inactive;
  @media(max-width: $screen-md-max) {
    width: 75px;
    padding-left: 25px;
  }

  .progress-navbar-blocker {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  &.active {
    z-index: $z-index-progress-navbar-opened-active;
    width: $progress-width - $progress-left;

    @media(max-width: $screen-md-max) {
      width: 369px;
    }

    .progress-navbar-blocker {
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: all;
      cursor: pointer;
    }
  }

  .nav.progress-navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding-top: $progress-top;
    padding-left: $progress-left;
    z-index: $z-index-progress-navbar-closed;
    clip: rect(0px, $progress-width, 1340px, 0px);
    width: $progress-width-inactive;

    transition: all $progress-transition-time ease-in-out;
    @media(max-width: $screen-md-max) {
      width: 75px;
      padding-left: 25px;
    }
    li {
      margin-bottom: 20px;

      > a {
        width: 240px;
        display: inline-block;
        height: 20px;
        background: transparent;
        color: #321d71;
        font-family: $avantgarde;
        font-style: normal;
        font-size: 24px;
        line-height: 1;

        &.disabled {
          z-index: -1;
          pointer-events: none;
        }
        span {
          font-weight: 600;
          &.active {
            color: #5867e8;
          }
        }

        &:hover {
          text-decoration: none;
          span {
            color: #5867e8;
          }
        }
      }

      &.logo {
        width: 173px;
        height: 48px;
        display: block;
        background-image: url(../../../assets/images/logos/salesforce-logo.svg);
        background-size: 173px 48px;
        background-repeat: no-repeat;
        background-size: contain;
        > a {
          height: 100%;
        }
      }

      &.title {
        height: 77px;
        h1 {
          font-family: $salesforcesans;
          font-weight: bold;
          font-size: 24px;
          line-height: 20px;
          margin-top: 20px;
        }
        opacity: 0;
      }

      &.toggle {
        width: 32px;
        height: 32px;
        text-align: center;

        .animated-icon {
          float: left;
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }

    &.inverted {
      background-color: rgba(255, 255, 255, 1);
      clip: rect(0px, 0px, 1340px, 0px);
      z-index: $z-index-progress-navbar-opened-inactive;
      opacity: 0;
      width: $progress-width;
      @media(max-width: $screen-md-max) {
        width: 369px;
      }
      &.active {
        clip: rect(0px, $progress-width + 3px, 1340px, 0px);
        z-index: $z-index-progress-navbar-opened-active;
        opacity: 1;
        box-shadow: 2px 0 3px rgba(50, 50, 50, 0.5);
      }

      li {
        &.skip-links {
          margin-left: -15px;

          span.salesforce-icon {
            font-family: 'SalesforceIcons';
            line-height: 1;

            &.icon-sfdc-icon-right-arrow {
              &:before {
                content: "\e943";
              }
            }
            &.icon-sfdc-icon-left-arrow {
              &:before {
                content: "\e924";
              }
            }
          }

          > span.divider {
            color: #222222;
            padding: 10px 0px;
            line-height: 15px;
          }
        }

        > .animated-icon {
          &.circular {
            span {
              background-color: #929292;
            }
            border-color: #929292;
          }
        }

        > a {
          &.disabled {
            z-index: -1;
            pointer-events: none;
          }
          width: 100%;
          &.skip {
            font-family: $salesforcesans;
            text-transform: uppercase;
            height: auto;
            width: auto;
            font-size: 11px;
            line-height:1.3333333;

            &:link,
            &:visited {
              color: $color-salesforce-blue;
              text-decoration: none;
            }
            &:hover,
            &:focus {
              color: $color-salesforce-blue;
              text-decoration: none;
            }

            float: left;
          }
          &.btn-blue {
            display: inline-block;
            width: auto;
            line-height: 1.2;
            height: 100%;
            padding-left: 15%;
            padding-right: 15%;
            margin-top: 20px;
            margin-left: -50px;
            transition: all 0.2s ease-in-out;
            &:hover,
            &:focus {
              text-decoration: none;
              border: 2px solid transparent;
              background-color: #07b;
              color: #ffffff;
            }
          }
        }

        > span {
          float: left;
          padding-top: 10px;
        }

        span.label {
          display: block;
          color: $color-text-header;
        }

        &.title {
          opacity: 1;
        }
      }
    }
  }
}

#outro .progress-navbar li {
  display: none;
}

#outro .progress-navbar li.logo {
  display: block;
}
