<div class="row monitor-height create-process-action">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="Next()"></div>
              <div class="inner-drawer" ng-class="{open:editor.open}">
                <img src="../../assets/images/chapters/create-process-action/slideout-1.png" alt="">
                <form class="form form-horizontal">
                  <div class="control-group">
                    <label for="name" class="control-label">Action Type </label>
                    <div class="controls">
                      <select name="action-type" id="action-type" ng-model="action.starts" ng-options="opt as opt.label for opt in actionOptions"
                        disabled></select>
                    </div>
                  </div>
                </form>
                <div class="form-actions">
                  <input class="btn btn-primary btn-interface" type="submit" value="Save" disabled/>
                </div>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <div class="inner-drawer open">
                <img src="../../assets/images/chapters/create-process-action/slideout-1.png" alt="">
                <div class="highlight" ng-class="{active:step1complete}"></div>
                <form class="form form-horizontal">
                  <div class="control-group required">
                    <label for="name" class="control-label">Action Type </label>
                    <div class="controls">
                      <select name="action-type" id="action-type" ng-model="action.starts" ng-options="opt as opt.label for opt in actionOptions"
                        class="active" li-autofocus="wizard.stateIndex == 2"></select>
                    </div>
                  </div>
                </form>
                <div class="form-actions">
                  <input class="btn btn-primary btn-interface" type="submit" value="Save" disabled/>
                </div>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3">
              <div class="inner-drawer open">
                <img src="../../assets/images/chapters/create-process-action/slideout-1.png" alt="">
                <form class="form form-horizontal">
                  <div class="control-group required">
                    <label for="name" class="control-label clearfix">Action Type </label>
                    <div class="controls">
                      <select name="action-type" id="action-type" ng-model="action.starts" ng-options="opt as opt.label for opt in actionOptions"
                        disabled></select>
                    </div>
                  </div>
                  <div class="control-group required">
                    <label for="name" class="control-label clearfix">Action Name </label>
                    <div class="controls">
                      <input autocomplete="off" type="text" name="name" id="name" ng-model="action.name" class="text active" maxlength="80" li-autofocus="wizard.stateIndex == 3">
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="name" class="control-label clearfix">Push Notification </label>
                    <div class="controls">
                      <select name="email-alert" id="email-alert" disabled>
                        <option value="1">New_Customer_Idea</option>
                      </select>
                    </div>
                  </div>
                </form>
                <div class="form-actions">
                  <input class="btn btn-primary btn-interface" type="submit" value="Save" disabled/>
                </div>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-4">
              <div class="inner-drawer" ng-class="{open:editor.open}">
                <img src="../../assets/images/chapters/create-process-action/slideout-1.png" alt="">
                <form class="form form-horizontal">
                  <div class="control-group required">
                    <label for="name" class="control-label">Action Type </label>
                    <div class="controls">
                      <select name="action-type" id="action-type" ng-model="action.starts" ng-options="opt as opt.label for opt in actionOptions"
                        disabled></select>
                    </div>
                  </div>
                  <div class="control-group required">
                    <label for="name" class="control-label">Action Name </label>
                    <div class="controls">
                      <input autocomplete="off" type="text" name="name" id="name" ng-model="action.name" class="text" maxlength="80" disabled>
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="name" class="control-label">Push Notification </label>
                    <div class="controls">
                      <select name="email-alert" id="email-alert" disabled>
                        <option value="1">New_Customer_Idea</option>
                      </select>
                    </div>
                  </div>
                </form>
                <div class="form-actions">
                  <input class="btn btn-primary btn-interface active" type="submit" value="Save" ng-click="Next()" li-autofocus="wizard.stateIndex == 4"
                  />
                </div>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-5">
              <div class="form-actions activate">
                <input class="btn btn-primary btn-interface active" type="submit" value="Activate" ng-click="Next()" li-autofocus="wizard.stateIndex == 5" />
              </div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  <img src="../../assets/images/success.png" />
                </p>
                <h2>Success!</h2>
                <p>
                  Just like that, with a few clicks, you have created a whole process to notify product managers, real-time, of any ideas that customers submit.
                </p>
                <p>
                  Now, we are ready to see our app in action.
                </p>
                <p>
                  <a ui-sref="app-in-action" class="btn btn-rounded active" li-autofocus="wizard.stateIndex == 6">Continue</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>