@import '../../base';

.setup-a-workflow {


  .step-0, .step-1 {
    background: url('../app/2-add-logic/assets/1-setup-a-workflow-screen-bkg-1.png') center center no-repeat;
  }

  .step-2,
  .step-3,
  .step-4 {
    background: url('../app/2-add-logic/assets/1-setup-a-workflow-screen-bkg-2.png') center center no-repeat;
  }

  .step-0, .step-1 {
    .form-actions {
      position: absolute;
      top: 50px;
      right: 86px;
      .btn-primary {
        padding: 5px 12px 6px;
        font-size: 10px;
      }
    }
  }

  .step-2,
  .step-3,
  .step-4 {
    .form {
      position: absolute;
      top: 173px;
      left: -10px;
      #name {
        width: 227px;
      }
      #process-starts {
        margin-top: 82px;
        width: 473px;
      }
    }
    .form-actions {
      position: absolute;
      bottom: 79px;
      right: 148px;
    }
  }

}