@import '../../base';

.choose-an-object-for-the-process {


  .step-0, .step-1, .step-2, .step-3 {
    background: url('../app/2-add-logic/assets/2-choose-an-object-for-the-process-screen-1.png') center center no-repeat;
  }

  .step-0, .step-1, .step-2, .step-3 {

  }

  .step-1 {
    .click-box {
      position: absolute;
      top: 146px;
      left: 21px;
      width: 104px;
      height: 40px;
      border-radius: 5px;
      &.active {
        animation: borderActive 1.5s infinite;
      }
    }
  }

  .step-2, .step-3 {
    .inner-drawer {
      position:absolute;
      background: url('../app/2-add-logic/assets/2-choose-an-object-for-the-process-slideout.png');
      width:559px;
      height:412px;
      right:0;
      top: 79px;
      transform: translateX(559px);
      transition-duration: 0.25s;
      transition-delay: 0.5s;

      &.open {
        transform: translateX(0px);
      }

      .form {
        &.form-horizontal {
          position: absolute;
          top: 96px;
          left: 11px;
          .controls {
            margin-left: 0;
          }
        }
      }

      .form-actions {
        position: absolute;
        bottom: 10px;
        left: 12px;
        .btn {
          padding: 5px 15px;
        }
      }

    }
  }

}