@import '../../base';

.add-criteria {


  .step-0, .step-1, .step-2, .step-3 {
    background: url('../assets/images/stories/2-add-logic/2-screen-completion-actions-no-controls.png') center center no-repeat;
  }

  .step-0, .step-1, .step-2, .step-3 {
    form {

      &.form-horizontal {
        .controls {
          margin-left: 0px;
        }
      }

      &.action {
        position: absolute;
        left: 164px;
        top: 251px;

        select {
          width:215px;
        }
      }



      &.confirm {
        position: absolute;
        left: 200px;
        top: 439px;

        .btn-success {
          padding: 7px 21px 7px 21px;
          font-size: 15px;
        }
      }

    }
  }

}