@import '../../base';

.add-criteria {


  .step-0, .step-1, .step-2, .step-3, .step-4 {
    background: url('../app/2-add-logic/assets/3-add-criteria-screen-bkg-1.png') center center no-repeat;
  }

  .step-1 {
    .click-box {
      top: 239px;
      left: 36px;
      width: 73px;
      height: 73px;
      transform: rotate(45deg);
    }
  }

  .step-1, .step-2, .step-3, .step-4 {
    position: relative;
    overflow: hidden;
    .inner-drawer {
      position:absolute;
      width:559px;
      height:412px;
      right:0;
      top: 79px;
      transform: translateX(559px);
      transition-duration: 0.25s;
      transition-delay: 0s;
      z-index:2499;

      &.open {
        transform: translateX(0px);
        transition-delay: 0s;
      }

      .highlight {
        position: absolute;
        top: 127px;
        left: 10px;
        width: 118px;
        height: 20px;
        border-radius: 5px;
        &.active {
          animation: borderActive 1.5s infinite;
        }
      }

      .form {
        &.form-horizontal {
          position: absolute;
          top: 41px;
          left: 11px;
          .control-group {
            margin-bottom: 29px;
          }
          .control-label {
            text-align: left;
            font-size: 11px;
            margin-bottom: 5px;
            width: auto;
            color: #5E7195;
          }

          label {
            width: 100% !important;
          }
          .controls {
            margin-left: 0;
            input {
              &.text {
                width: 235px;
                height: 30px;
                font-size: 12px;
              }
              &[type="radio"] {
                margin: 2px 0 0 -20px;
              }
            }
            .radio {
              min-height: 16px;
              padding-top: 0;
              label {
                font-size: 11px;
                min-height: 16px;
                color: #5E7195;
              }
            }
          }
        }
      }
      #criteria-starts {
        position: absolute;
        bottom: -50px;
        left: 33px;
        height: 24px;
        border-radius: 4px;
        width: 111px;
        background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1792' height='1792' viewBox='0 0 1792 1792'><path fill='#444' d='M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z'></path></svg>");
        background-size: 12px;
        background-position: 90% 50%;
        font-size: 11px;
        line-height: 20px;
        font-weight: 500;
      }
      .form-actions {
        position: absolute;
        bottom: 10px;
        left: 12px;
        .btn {
          padding: 5px 15px;
        }
      }

    }
  }

}