@import '../../base';

.add-actions {

  .step-0, .step-1, .step-2, .step-3, .step-4, .step-5 {
    background: url('../app/2-add-logic/assets/4-add-actions-screen-bkg-1.png') center center no-repeat;
  }

  .step-1 {
    .click-box {
      top: 286px;
      left: 179px;
      width: 138px;
      height: 36px;
    }
  }

  .step-1, .step-2, .step-3, .step-4, .step-5 {
    position: relative;
    overflow: hidden;
    .inner-drawer {
      position:absolute;
      width:559px;
      height:412px;
      right:0;
      top: 79px;
      transform: translateX(559px);
      transition-duration: 0.25s;
      transition-delay: 0s;

      &.open {
        transform: translateX(0px);
        transition-delay: 0s;
      }

      .highlight {
        position: absolute;
        top: 127px;
        left: 10px;
        width: 118px;
        height: 20px;
        border-radius: 5px;
        &.active {
          animation: borderActive 1.5s infinite;
        }
      }

      .form {
        &.form-horizontal {
          position: absolute;
          top: 65px;
          left: 14px;
          .control-group {
            margin-bottom: 29px;
          }
          .control-label {
            text-align: left;
            font-size: 11px;
            margin-bottom: 5px;
            width: auto;
            color: #5E7195;
          }
          .controls {
            margin-left: 0;
            input {
              &.text {
                width: 265px;
                height: 30px;
                font-size: 12px;
              }
              &[type="radio"] {
                margin: 2px 0 0 -20px;
              }
            }
            .radio {
              min-height: 16px;
              padding-top: 0;
              label {
                font-size: 11px;
                min-height: 16px;
                color: #5E7195;
              }
            }

            select {
              padding-left:0px;
              padding-right:0px;
              text-indent:5px;
            }
          }
        }
      }
      #action-type, #email-alert {
        height: 28px;
        line-height: 24px;
        font-size: 12px;
        border-radius: 4px;
      }
      .form-actions {
        position: absolute;
        bottom: 9px;
        left: 12px;
        .btn {
          padding: 5px 15px;
        }
      }

    }
    .activate {
      position: absolute;
      top: 46px;
      right: 12px;
      .btn {
        padding: 4px 10px;
      }
    }
  }

  .step-2, .step-3, .step-4 {
    label {
      width: 100% !important;
    }
  }

  .step {
    &.success {
      p {
        padding: 0 22%;
      }
    }
  }

}