@import '../../base';

#step-container {

  &.add-actions-steps {

    top: 110px;

    .step-one {
      &.active {
        height: 170px;
      }
    }

    .step-two {
      &.active {
        height: 130px;
      }
    }

    .step-three {
      &.active {
        height: 110px;
      }
    }

  }
}