@import "../../base";

.iot {
  .step-0,
  .step-1 {
    background: url("../app/2-add-logic/assets/5-iot-bkg-1.png") center center
      no-repeat;
  }

  .step-2 {
    background: url("../app/2-add-logic/assets/5-iot-bkg-2.png") center center
      no-repeat;
  }
  .step-3 {
    background: url("../app/2-add-logic/assets/5-iot-bkg-3.png") center center
      no-repeat;
  }

  .step-4 {
    background: url("../app/2-add-logic/assets/5-iot-bkg-4.png") center center
      no-repeat;
  }

  .step-5 {
    background: url("../app/2-add-logic/assets/5-iot-bkg-5.gif")
      center top no-repeat; 
  }
}