@import '../../../styles/base';

$drawer-transition-time: .3s;
$drawer-width: 410px;

@mixin long-text() {
  word-break: break-all;
  word-wrap: break-word;
}

.drawer-no-scroll {
  position: relative;
  overflow: hidden;
}

.drawer-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  opacity: 0;
  z-index: $z-index-drawer-blocker;
  transition: all $drawer-transition-time cubic-bezier(0.25, 0.8, 0.4, 0.95);

  &.active {
    display: block;
    opacity: 1;
  }
}

.drawer {
  position: fixed;
  transform-style: preserve-3d;
  transition: all $drawer-transition-time cubic-bezier(0.25, 0.8, 0.4, 0.95);
  top: 0;
  background-color: #fff;
  overflow: auto;
  z-index: $z-index-drawer;
  width: $drawer-width;

  &.drawer-left {
    left: 0;
    box-shadow: 1px 0 3px rgba(50, 50, 50, 0.5);
    transform: translateZ(0px) translateX(-$drawer-width - 5) translateY(0px);
  }

  &.drawer-right {
    right: 0;
    box-shadow: -1px 0 3px rgba(50, 50, 50, 0.5);
    transform: translateZ(0px) translateX($drawer-width + 5) translateY(0px);
    &.active {
      .btn-continue, .btn-rounded {
        animation: borderActive 2s infinite;
      }
    }
  }

  &.drawer-left.active,
  &.drawer-right.active {
    transform: translateZ(0px) translateX(0px) translateY(0px);
  }

  .drawer-content {

    .drawer-intro {
      padding: 80px 46px 0;

      p.continue {
        text-align: center;

        a.btn-continue {
          margin-top:20px;
        }
      }
    }

    .drawer-hotspots, .drawer-did-you-know {

      .x {
        float:left;
        margin:20px 0 0 10px;
        cursor:pointer;
      }

    }

  }
}