<section class="add-logic">
  <div class="row hero">
    <div class="col-xs-12">
      <h1>Build a Mobile App for Product Managers</h1>
      <p>Now that you have your data all ready, we are ready to build our mobile app!</p>
      <p>We will use Lightning App Builder, Salesforce Platform's drag and drop development environment to create our app with clicks.</p>
    </div>
  </div>
  <div class="row did-you-know-3">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>We call them 'pages' in Lightning, but these pages are just as powerful as any app, and your users can access them through Salesforce1 or Salesforce Lightning.</p>
    </div>
  </div>
  <div class="row mobile-app-bkg-2">
    <div class="col-xs-12">
      <h1>Use Lightning Components to Create an App</h1>
      <p>Lightning Components is a modern UI framework that powers Lightning App Builder. With a simple drag-and-drop, you can build responsive mobile, web, and desktop applications. </p>
      <p>There are 3 types of Lightning Components:</p>
      <ul>
        <li>Standard (out of the box)</li>
        <li>Custom (build your own)</li>
        <li>AppExchange (built by partners)</li>
      </ul>
      <p>We'll use all 3 to build Egg's Product Manager app.</p>
    </div>
  </div>
  <div class="row hotspots">
    <div class="col-xs-12">
      <h3>Standard Components List</h3>
      <p>Standard (or Base) components provide commonly used building blocks for your app. No code required.</p>
    </div>
  </div>
  <div class="row did-you-know-3">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>The App Builder allows you to connect Sales, Service, and other teams by pooling data from all of your objects, like Customer Service Cases and Annual Sales Orders.</p>
    </div>
  </div>
  <div class="row did-you-know-2">
    <div class="col-xs-12">
      <p>We'll bring together all the components you need on the App Builder’s canvas—no code required. You can configure the components’ data with simple clicks.</p>
      <p>Remember the objects we mapped from Heroku and SAP? We'll add them to our app right now.</p>
      <p>For the Product Manager app, we'll add a Filter List housing Customer Insights detail, and a few Report Charts with Sales Orders from SAP and Customer Service Case data.</p>
    </div>
  </div>
  <div class="row mobile-app-bkg-6">
    <div class="col-xs-12">
      <div class="text-center">
        <a ui-sref="add-appexchange-components" class="btn-orange">CONTINUE</a>
      </div>
    </div>
  </div>
  <!--<div class="row hotspots">-->
    <!--<div class="col-xs-12">-->
      <!--<h3>Customize Form Fields</h3>-->
      <!--<p>With Pardot, form fields are completely customizable, so you can choose the fields that are most applicable to your audience.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row mobile-app-bkg-3">-->
    <!--<div class="col-xs-12">-->
      <!--<h1>Build a Mobile App for Product Managers</h1>-->
      <!--<p>Now that you have your data all ready, we are ready to build our mobile app!</p>-->
      <!--<p>We will use Lightning App Builder, Salesforce Platform's drag and drop development environment to create our app with clicks.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row hotspots">-->
    <!--<div class="col-xs-12">-->
      <!--<h3>Get more on the AppExchange button:</h3>-->
      <!--<p>The AppExchange houses more than Salesforce apps. You can also find components, consulting partners, and developers to help you extend the power of Salesforce and run your business with apps.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row mobile-app-bkg-4">-->
    <!--<div class="col-xs-12">-->
      <!--<h1>Add a Custom Component</h1>-->
      <!--<p>In addition to standard components that Salesforce provides and those you can download from the AppExchange, you can create custom components in the Developer Console. </p>-->
      <!--<p>For this Product Management app, we'll add a custom component that houses a personal and team backlog.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row did-you-know-2">-->
    <!--<div class="col-xs-12">-->
      <!--<h1><strong>Pick Your Desired App Layout</strong></h1>-->
      <!--<p>When you build apps in Lightning App Builder, they're ready to be deployed across all of your devices. You can use this dropdown to check how it will look on various screen sizes.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row mobile-app-bkg-5">-->
    <!--<div class="col-xs-12">-->
      <!--</div>-->
    <!--</div>-->
  <!--<div class="row mobile-app-instruction">-->
    <!--<div class="col-xs-12">-->
      <!--<h1>Deploy Your App</h1>-->
      <!--<p>When you're ready to deploy, simply pick an icon for your app, choose where it will live in the Salesforce menu, and push it to your users!</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row mobile-app-bkg-7">-->
    <!--<div class="col-xs-12">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row did-you-know-3">-->
    <!--<div class="col-xs-12">-->
  <!--</div>-->
  <!--<div class="row blue-container next-page text-left">-->
    <!--<div class="col-xs-12">-->
      <!--<p> Landing pages are publishable with one click, so it’s easy to move on to the next step. Click “continue” to learn how to create an autoresponder email using Pardot’s Email Builder.</p>-->
      <!--<div class="text-center">-->
        <!--<a ui-sref="new-lightning-page" class="btn-orange">Continue</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</section>