<div class="drawer-content add-an-external-object-drawer" ng-controller="AddAnObjectController">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">
    <h2>Add an External Object</h2>
    <p>We want our Product team to have access to our company's Sales Order data so to give context to customer feedback. Salesforce Connect lets us pull in this data in a few simple steps. </p>
    <p class="continue">
        <a class="btn btn-continue" ng-click="beginStory()">Continue</a>
    </p>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
        <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
          <span class="first"></span>
          <span class="second"></span>
        </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
      <drawer-panel-tab heading="01">
        <h2>About Tags</h2>
        <img src="../../../assets/images/stories/1-build-a-data-model/1-drawer-hotspot-tabs.png">
        <p>
          You can add ‘tags’ to your marketing campaigns to help keep them organized. Tags are great for grouping
          related campaigns together — and they make searching a breeze.</p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="02">
        <h2>Campaign ROI</h2>
        <p>
          Inputting your initial cost will help determine your campaign ROI at the end of this experience.
        </p>
        <p>
          Campaign won't cost you anything? Just input "0" in the cost field.
        </p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
    </drawer-panel>
  </div>

</div>