<div class="row monitor-height einstein-builder">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">

            </div>
          </wz-step>
          <wz-step>
            <div class="step step-1">
              <div class="click-box active" ng-click="Next()"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-2">
              <form class="form form-horizontal">
                <div class="">
                  <div class="controls">
                    <input autocomplete="off" type="text" name="name" id="name" ng-model="selected.fieldName" class="text" maxlength="80" ng-class="{active:selected.fieldNameActive}"
                           li-autofocus="wizard.stateIndex == 2">
                    <label class="output">{{selected.labelValue}}</label>
                  </div>
                </div>
              </form>
              <a class="click-box next" href="" ng-click="Next()" li-autofocus="wizard.stateIndex == 5 && !selected.fieldNameActive" ng-class="{active: !selected.fieldNameActive}"></a>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-3" ng-class="{selected: selected.object}">
              <div class="click-box select active" ng-class="{active: !selected.object}" ng-click="selectObject()"></div>
              <div class="click-box next" ng-click="Next()" ng-class="{active: selected.object}"></div>
            </div>
          </wz-step>
          <wz-step>
          <div class="step step-4" ng-class="{selected: selected.field}">
            <div class="click-box select active" ng-class="{active: !selected.field}" ng-click="selectField()"></div>
            <div class="click-box next" ng-click="Next()" ng-class="{active: selected.field}"></div>
          </div>
          </wz-step>
          <wz-step>
            <div class="step step-5" ng-class="{selected: selected.predictionFields}">
              <div class="click-box select active" ng-class="{active: !selected.predictionFields}" ng-click="selectPredictionFields()"></div>
              <div class="click-box next" ng-click="Next()" ng-class="{active: selected.predictionFields}"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-6" ng-class="{selected: selected.prediction}">
              <select name="select" ng-model="selected.predictionValue" ng-class="{active: !selected.prediction}" ng-change="selectPrediction()" ng-options="opt as opt.label for opt in selected.predictionOptions">
              </select>
              <div class="click-box next" ng-click="Next()" ng-class="{active: selected.prediction}"></div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-7">
              <div class="flyout active">
                <span>Confirm your prediction's settings before pushing it live.</span>
                <a ng-click="Next()">continue <i></i></a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-8" ng-class="{selected: selected.prediction}">
              <div class="flyout active">
                <span>Now let’s take a look at your predictive report.</span>
                <a ng-click="Next()">continue <i></i></a>
              </div>
            </div>
          </wz-step>
          <wz-step>
            <div class="step step-9" ng-class="{selected: selected.prediction}">
              <div class="flyout active">
                <a ng-click="Next()">continue <i></i></a>
              </div>
            </div>
          </wz-step>
          <wz-step success="true">
            <div class="step success">
              <li-center>
                <p>
                  <img src="../../../assets/images/success.png" />
                </p>
                <h2>Success!</h2>
                <p>
                  You just added the power of Artificial Intelligence to your app with a few simple clicks. Now Product Managers can see predictive net promoter scores and prioritize customer feedback based on its likelihood to affect the score!
                </p>
                <p>

                  Finally, let’s integrate 3rd party data for a complete view of the customer.
                </p>
                <p>
                  <a ui-sref="add-an-external-object" li-autofocus="wizard.stateIndex == 6" class="btn btn-rounded active">Continue</a>
                </p>
              </li-center>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>