<div class="drawer-content einstein-builder-drawer">
  <div class="col-lg-12 drawer-intro" ng-show="drawer.mode == 'intro'">

    <wizard name="drawer" on-finish="beginStory()">
      <wz-step>
        <h2>Predict Customers’ Net Promoter Scores</h2>
        <p>
          We will use Einstein Builder to create a field that predicts how specific type of customer cases impacts customer’s Net Promoter Score. Einstein makes the prediction based on a few things you choose, like number device crashes, installation issues, and escalations. *
        </p>
        <p>&nbsp;</p>
        <p class="continue">
          <a class="btn btn-rounded blue next" wz-next>Next</a>
        </p>
        <p>&nbsp;</p>
        <p>
            <small>
              <sup>*</sup> Shh this Einstein Builder feature is in beta. Enjoy the sneak peek and be on the lookout for its release!
            </small>
          </p>
      </wz-step>
      <wz-step>
        <p>We start by simply adding a new custom data field into our object.</p>
        <p class="continue">
          <a class="btn btn-continue" wz-next>Next</a>
        </p>
      </wz-step>
    </wizard>
  </div>

  <div class="col-lg-12 drawer-hotspots" ng-show="drawer.mode == 'hotspots'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-hotspots" selected="drawer.currentHotspot" type="hotspots">
      <drawer-panel-tab heading="01">
        <h2>About Tags</h2>
        <img src="../../../assets/images/stories/1-build-a-data-model/1-drawer-hotspot-tabs.png">
        <p>
          You can add ‘tags’ to your marketing campaigns to help keep them organized. Tags are great for grouping related campaigns
          together — and they make searching a breeze.</p>
      </drawer-panel-tab>
      <drawer-panel-tab heading="02">
        <h2>Campaign ROI</h2>
        <p>
          Inputting your initial cost will help determine your campaign ROI at the end of this experience.
        </p>
        <p>
          Campaign won't cost you anything? Just input "0" in the cost field.
        </p>
      </drawer-panel-tab>
    </drawer-panel>
  </div>

  <div class="col-lg-12 drawer-did-you-know" ng-show="drawer.mode == 'did-you-know'">
    <div class="clearfix">
      <div class="animated-icon animated circular x" ng-click="drawer.close()" data-icon="close">
        <span class="first"></span>
        <span class="second"></span>
      </div>
    </div>

    <drawer-panel class="panel-did-you-know" type="did-you-know">
    </drawer-panel>
  </div>

</div>