<section class="build-a-data-model">
  <div class="row campaign-container">
    <div class="col-xs-12">
      <br>
      <h1>Build a Process</h1>
      <br>
      <p>Remember the customer ideas we integrated earlier? Now let’s make sure Product Managers get real-time notifications on their mobile phone as customers submit new ideas.</p>
      <br><br>
      <p>Process Builder's point-and-click tools make it easy to automate tasks, like notifying product managers of a new</p>
    </div>
  </div>
  </div>
  <div class="row hotspots shadow">
    <div class="col-xs-12">
      <h3>Criteria</h3>
      <div class="screen-shot tag"></div>
      <p>Criteria determine when to execute action groups.</p>
    </div>
  </div>
  <div class="row hotspots shadow last">
    <div class="col-xs-12">
      <h3>Actions</h3>
      <p>Actions are executed when criteria are met.</p>
    </div>
  </div>
  <div class="row did-you-know">
    <div class="col-xs-12">
      <h2>Add Your Object</h2>
      <p>The first step in building a process is choosing the object. For this notification, we'll choose Customer Ideas from the Customer Insights Object.</p>
    </div>
  </div>
  <div class="row campaign-container-2">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row did-you-know-2">
    <div class="col-xs-12">
     <h2><strong>Decide When the Process Should Trigger</strong></h2>
      <br>
      <p>We want the process to trigger (a push notification to be sent) every time a customer submits a new idea so we set that as a criteria.</p>
    </div>
  </div>
  <div class="row campaign-container-3">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row campaign-container-4">
    <div class="col-xs-12">
      <br>
      <h1>Set Up a Push Notification</h1>
      <br>
      <p>Finally, choose the action that our criteria trigger. In this case Every time there’s a new idea, we want our Product Managers to get real-time push notifications on their phones.</p>
      <br><br>
      <p>Using the same point and click capabilities you can build a process for any use case in your business.</p>
    </div>
  </div>
  <div class="row did-you-know-3">
    <div class="col-xs-12">
      <div class="did-you-know-icon"></div>
      <h2>Did You Know?</h2>
      <p>You can use the “Approval Process” tool to create approval processes for particular objects/records. An approval process specifies each step of approval, including from whom to request approval and what to do at each point of the process.</p>
    </div>
  </div>
  <div class="row blue-container next-page">
    <div class="col-xs-12">
      <p>After creating a campaign in Pardot, you can move on to create forms and landing pages. Click "continue" to see what this process looks like.</p>
      <div class="text-center">
        <a ui-sref="setup-a-workflow" class="btn-orange">Continue</a>
      </div>
    </div>
  </div>
</section>