@import '../../base';

.a-b-testing {

  .step-0, .step-1 {
    background: url('../assets/images/stories/3-build-an-email/3-screen-a-b-testing-no-controls.png') center center no-repeat;

    #b-button {
      position: absolute;
      width: 66px;
      height: 23px;
      left: 613px;
      top: 85px;
      &.active {
        @include animation(borderActive 1.5s infinite);
      }
    }

    .btn-primary {
      position: absolute;
      left: 612px;
      top: 459px;
      padding: 5px 27px 6px 27px;
    }
  }

  .step-2 {
    background: url('../assets/images/stories/3-build-an-email/3-screen-a-b-testing-option-b-no-controls.png') left center no-repeat;

    #a-button {
      position: absolute;
      width: 66px;
      height: 23px;
      left: 426px;
      top: 85px;
    }

    .btn-primary {
      position: absolute;
      left: 612px;
      top: 459px;
      padding: 5px 27px 6px 27px;
    }
  }
}