@import '../../base';

.build-an-email {

  .step-0, .step-1 {
    background: url('../assets/images/stories/3-build-an-email/3-screen-build-an-email.png') center center no-repeat;

    #email-template {
      position: absolute;
      width: 145px;
      height: 143px;
      left: 95px;
      top: 114px;
      &.active {
        @include animation(borderActive 1.5s infinite);
      }
    }

    .btn-primary {
      left: 604px;
      top: 442px;
      position: absolute;
      width: 65px;
    }
  }

  .step-2 {
    background: url('../assets/images/stories/3-build-an-email/3-screen-email-editor.png') left center no-repeat;

    form {
      position: absolute;
      right: 102px;
      bottom: 8px;

      .btn-primary {
        padding: 4px 26px 5px 26px;
      }
    }

    .center-drawer {
      background: url('../assets/images/stories/3-build-an-email/3-screen-email-editor-center.png') left center no-repeat;
      position:absolute;
      left:0px;
      top:48px;
      height:423px;
      width:994px;

      @include transform(translateX(0px));
      @include transition-duration(0.25s);
      @include transition-timing-function(ease-in);
      @include transition-delay(0.05s);

      .html {
        position: absolute;
        width: 521px;
        height: 109px;
        left: 67px;
        top: 312px;
      }

      .html {
        h2 {
          color: #00ab24;
          font-size: 19px;
          line-height: 19px;
          margin-top: 20px;
          margin-left: 20px;
        }
        p {
          color: #828282;
          margin-left: 20px;
          font-size: 13px;
        }
      }

      .html-editor {
        h2 {
          color: #00ab24;
          font-size: 19px;
          line-height: 19px;
          margin-top: 0;
          margin-left: 0;
        }
        p {
          color: #828282;
          margin-left: 0;
          font-size: 13px;
        }
      }

      &.open {
        @include transform(translateX(-200px));
      }

      .inner-drawer {
        position:absolute;
        background: url('../assets/images/stories/3-build-an-email/3-screen-email-editor-center-drawer.png');
        width:379px;
        height:421px;
        right:0;
        top:1px;
        @include transform(translateX(379px));
        //@include transform(translateX(0px));
        @include transition-duration(0.25s);
        @include transition-delay(0.5s);

        &.open {
          @include transform(translateX(0px));
        }

      }

    }

    #open-editor {
      position: absolute;
      width: 540px;
      height: 338px;
      left: 64px;
      top: 83px;
      border:none;
      &.active {
        @include animation(borderActive 1.5s infinite);
      }
    }

    .html-editor {
      width: 314px;
      position: absolute;
      left: 44px;
      top: 161px;

      .ta-toolbar {
        visibility: hidden;
      }

      .ta-root.focussed > .ta-scroll-window.form-control {
        box-shadow: none;
      }

      .ta-editor.form-control.email-editor-height, .ta-scroll-window.form-control.email-editor-height  {
        min-height: 220px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        border-radius: 0;
        border: 0;
        box-shadow: none;
      }

      .form-control.email-editor-height > .ta-bind {
        height: auto;
        min-height: 226px;
        padding: 4px 20px 20px;
      }

    }

  }

  .step-3 {
    background: url('../assets/images/stories/3-build-an-email/3-screen-email-editor-edit.png') center center no-repeat;
  }

}