@import '../../base';

.email-preview {

  .step-0, .step-1 {
    background: url('../assets/images/stories/3-build-an-email/3-screen-email-preview.png') top center no-repeat;
    height: 900px !important;
    position:relative;

    #iphone {
      position: absolute;
      width: 150px;
      height: 137px;
      left: 40px;
      bottom: 3px;
      &.active {
        animation: borderActive 1.5s infinite;
      }
    }
  }

  .step-2 {
    background: url('../assets/images/stories/3-build-an-email/3-screen-preview-iphone-screen-no-controls.png') top center no-repeat;

    .btn-primary {
      position: absolute;
      left: 538px;
      top: 281px;
      padding: 7px 24px 6px 24px;
    }
  }


  section {
    &.step {

      &.current {

        .step-1 {
          transform: translateY(0px);
          transition-duration: 0.75s;
          transition-timing-function: ease-out;
          transition-delay: 0.5s;
          transform: translateY(-382px);
        }

      }
    }
  }
}
