@import '../../base';

.send-email {

  .step-0, .step-1 {
    background: url('../assets/images/stories/3-build-an-email/3-screen-send-email.png') center center no-repeat;

    form {
      position:absolute;
      left:0;
      top:0;
    }

    .send-to {
      left: 48px;
      top: 85px;
      position: absolute;
      width: 274px;
    }

    .sender-a {
      left: 50px;
      top: 305px;
      position: absolute;
      width: 203px;
    }

    .sender-b {
      left: 458px;
      top: 305px;
      position: absolute;
      width: 198px;
    }

    .btn-primary {
      left: 595px;
      top: 458px;
      position: absolute;
      width: 85px;
//      background-color: #8bc18b;
    }

    .sender-a-input-name {
      position: absolute;
      top: 341px;
      left: 124px;
      width: 198px !important;
    }

    .sender-a-input-email {
      position: absolute;
      top: 379px;
      left: 124px;
      width: 198px !important;
    }

    .sender-b-input-name {
      position: absolute;
      top: 341px;
      left: 531px;
      width: 199px !important;
    }

    .sender-b-input-email {
      position: absolute;
      top: 379px;
      left: 531px;
      width: 199px !important;
    }

  }

}