<section class="getting-started">
  <div class="background-splash"></div>
  <div class="info-block" id="dyk">
    <h3>Did You Know?</h3>
    <p>Click on the "Did You Know?" icon at any time to learn more.</p>
    <div class="info-block-arrow"></div>
  </div>
  <div class="info-block" id="hs">
    <h3>Hot spots</h3>
    <p>To see important features for each page in the tour, click on the "Hot Spots" icon.</p>
    <div class="info-block-arrow"></div>
  </div>
  <div class="info-block" id="mv">
    <h3>Mobile View</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula dolor.</p>
    <div class="info-block-arrow"></div>
  </div>
  <div class="info-block" id="timeline">
    <h3>Timeline</h3>
    <p>See your progression on the tour by viewing the timeline. Click the &#x2295; sign for details.</p>
    <div class="info-block-arrow"></div>
  </div>
  <div class="info-block" id="steps">
    <h3>Steps</h3>
    <p>On each interactive page, tasks will be set up for you on a step-by-step basis. Start with step 1 to proceed with each task.</p>
    <div class="info-block-arrow"></div>
  </div>
  <div class="info-block" id="sald">
    <p>Click ‘Watch Demo’ for a personal walk-through.</p>
    <div class="info-block-arrow"></div>
  </div>
</section>