<div class="row monitor-height intro">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <wizard name="monitor">
        <wz-step>
          <div class="step step-0">
            <li-center>
              <a id="begin-the-tour" ng-click="beginTour" href="" wz-next li-autofocus="wizard.stateIndex == 0">
                <text text-anchor="middle" x="50%" y="50%" alignment-baseline="middle">
                  Begin the Tour
                </text>
              </a>
            </li-center>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-1">
            <div class="intro-copy">
              <h2>Welcome to the Salesforce Platform Tour!</h2>
              <p>We will show you how to extend CRM and unlock the full power of the Salesforce Platform.
              </p>
              <p>You will see how easy it is to build, connect, and customize an app that provides a complete view of the customer.</p>
              <a class="btn btn-intro active" href="" li-autofocus="wizard.stateIndex == 1" wz-next>Next</a>
            </div>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-2">
            <div class="intro-copy">
              <h2>Your Mission</h2>
              <p>Your company, Egg, sells smart thermostats. Your Product Managers could improve the thermostat systems if they
                could better understand customers - their issues, ideas, and purchase history.
              </p>
              <a class="btn btn-intro active" href="" li-autofocus="wizard.stateIndex == 2" wz-next>Next</a>
            </div>
          </div>
        </wz-step>
        <wz-step>
          <div class="step step-3" ng-class="{active:!label.active}">
            <div class="intro-copy">
              <h2>How You&rsquo;ll Do It</h2>
              <p>You will build an app to unlock these insights and give your Product Managers the magic powers to deliver innovations
                customers want!
              </p>
              <a ui-sref="add-an-object" href="" li-autofocus="wizard.stateIndex == 3" class="btn btn-intro active" wz-next>Let&rsquo;s get started!</a>
            </div>
          </div>
        </wz-step>
      </wizard>
    </div>
  </div>
</div>