<div class="intro-page">
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="xs-12">
          <div class="logo"></div>
          <h2>The B2B Marketing Automation Platform by Pardot</h2>
          <h1 class="hidden-lg hidden-md">Product Tour</h1>
          <h1 class="hidden-sm hidden-xs">Interactive Guided Tour</h1>
          <div class="text-center hidden-lg hidden-md">
            <a ui-sref="create-a-campaign" class="btn-orange">Get Started</a>
          </div>
        </div>
      </div>
    </div>
    <div id="tray" class="tray hidden-sm hidden-xs">
      <div class="tray-btn" onclick="trayClick()">
        <span>&#187;</span>
        <p>Get Started</p>
      </div>
      <div class="tray-container">
        <!--iframe goes here-->
      </div>
      <script>
        function trayClick() {
          var tray = document.getElementById("tray");
          if ( (" " + tray.className + " ").replace(/[\n\t]/g, " ").indexOf(" active ") > -1 ) {
            tray.className = tray.className.replace( /(?:^|\s)active(?!\S)/g , '' );
          }
          else {
            tray.className = "tray hidden-sm hidden-xs active";
          }
        }
      </script>
    </div>
  </section>
  <section class="did-you-know">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
          <h2>Ready to Boost Your Sales?</h2>
          <p>Pardot is B2B Marketing Automation by Salesforce, helping companies exceed their revenue goals, build a team of marketing and sales superheroes, and do more with the resources they already have.</p>
          <p class="hidden-lg hidden-md">This product tour provides a simple walkthrough of the Pardot tool and its most popular functionality.</p>
          <p class="hidden-sm hidden-xs">This interactive demo provides a simplified environment for you to walk through the Pardot tool, explore some of its most popular functionality, and try your hand at some common marketing automation tasks. Hover over the highlighted areas below to get a preview of what will be covered in this demo &mdash; or click ‘Get Started’ to begin the tour.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="blue-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="icon-container imc">
            <div class="icon imc"></div>
            <h3 class="hidden-lg hidden-md">Integrated Marketing Campaigns</h3>
            <h3 class="hidden-sm hidden-xs">Build an integrated marketing campaign.</h3>
            <div class="hover">
              <p>Learn how to create your own marketing campaigns and see how prospects would interact with your marketing efforts.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="icon-container ln">
            <div class="icon ln"></div>
            <h3 class="hidden-lg hidden-md">Lead Nurturing</h3>
            <h3 class="hidden-sm hidden-xs">Generate and nurture high-quality leads.</h3>
            <div class="hover">
              <p>Kickstart your lead generation efforts with Pardot landing pages and forms — then educate these leads over time using lead nurturing campaigns.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row last">
        <div class="col-md-6 col-xs-12">
          <div class="icon-container ssmr">
            <div class="icon ssmr"></div>
            <h3 class="hidden-lg hidden-md">Simplified Sales-Marketing Relationship</h3>
            <h3 class="hidden-sm hidden-xs">Simplify the sales-marketing relationship.</h3>
            <div class="hover">
              <p>Your sales reps can view lead scores, grades, and activities all from within Salesforce. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="icon-container ctr">
            <div class="icon ctr"></div>
            <h3 class="hidden-lg hidden-md">Campaign Tracking and Reporting</h3>
            <h3 class="hidden-sm hidden-xs">Track and report on your campaign’s success.</h3>
            <div class="hover">
              <p>Learn how to follow your campaigns from start to finish so that you can see their impact on ROI.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row hidden-lg hidden-md">
        <div class="col-xs-12 text-center">
          <a ui-sref="create-a-campaign" class="btn-orange">Get Started</a>
        </div>
      </div>
    </div>
  </section>

  <div id="footer" class="clearfix">
    <div id="sub-floor" class="clearfix">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div id="footer-links">
              <div class="menu-footer-nav-container navbar clearfix">
                <ul id="menu-main-navigation" class="nav menu">
                  <li id="menu-item-28083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28083">
                    <a href="http://pardot.com/features">Features</a>
                  </li>
                  <li id="menu-item-28251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28251">
                    <a href="http://pardot.com/pricing">Pricing</a>
                  </li>
                  <li id="menu-item-28326" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-28326">
                    <a href="http://www.pardot.com/testimonials/">Testimonials</a>
                  </li>
                  <li id="menu-item-12373" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12373">
                    <a href="http://www.pardot.com/resources/">Resources</a>
                  </li>
                  <li id="menu-item-28334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-28334">
                    <a href="http://www.pardot.com/about-pardot/">About Us</a>
                  </li>
                </ul>
                <div class="social-icons clearall">
                  <a href="http://pardot.com/feed" class="btn rss" target="_blank">
                    <i class="fa fa-rss"></i>
                  </a>
                  <a href="http://twitter.com/Pardot" class="btn twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="http://www.facebook.com/pardot" class="btn facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="https://plus.google.com/104192535924822511888/posts" class="btn google-plus" target="_blank">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a href="http://www.linkedin.com/company/pardot" class="btn linkedin" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="http://pinterest.com/pardot/" class="btn pinterest" target="_blank">
                    <i class="fa fa-pinterest"></i>
                  </a>
                  <!--<p class="btn phone-button hidden-desktop hidden-tablet" target="_blank">1-855-426-9213</p>-->
                </div>
              </div>
            </div>
            <div id="credit">
              &#169; 2015 <a href="http://www.pardot.com">Pardot</a>, a Salesforce company. All Rights Reserved.<br />
              <strong><a href="http://www.pardot.com/company/contact-us/">Contact Us</a></strong> |
              <strong><a href="http://www.pardot.com/company/legal/privacy-policy/">Privacy Policy</a></strong> |
              <strong><a href="http://www.pardot.com/company/legal/permission-based-marketing-policy/">Permission Based Marketing Policy</a></strong> |
              <strong><a href="http://www.pardot.com/company/legal/site-terms-of-service/">Website Terms of Use</a></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>