<div class="row monitor-height email-client-report">
  <div class="col-lg-12 monitor-height">
    <div class="row monitor-height">
      <hotspots-container>
        <wizard name="monitor" on-finish="finishedWizard()">
          <wz-step>
            <div class="step step-0">
              <input class="btn btn-primary" id="done-button" ng-click="Done()" type="submit" value="Done" />
              <a class="btn btn-highlight transparent" id="report-link" ui-sref="advanced-email-report({intro:false})"></a>
              <a class="btn btn-highlight transparent" id="click-through-link" ui-sref="click-through-rate-report"></a>
              <a class="btn btn-highlight transparent" id="interaction-link" ui-sref="interaction-report"></a>
            </div>
          </wz-step>
        </wizard>
      </hotspots-container>
    </div>
  </div>
</div>
