@import '../../base';


.outro {

  .step-0, .step-1, .step-2, .step-3, .step-4, .step-5, .step-6, .step-7, .step-8, .step-9, .step-10 {
    background-image:url('../app/5-outro/assets/outro-background.png');
  }

  .intro-copy .intro-copy-block {
    transform: translateY(-61%)
  }

  .outro-mobile-gif {
    width: 194px;
    top: 69px;
    left: 123px;
    opacity: 1;
    position: absolute;
  }

  .outro-initial-screen {
    width: 194px;
    top: 66px;
    left: 123px;
    opacity: 1;
    position: absolute;
  }

  .success {
    background-image:url('../app/5-outro/assets/outro-congrats-background.png');

    .btn {
      position:absolute;
      padding: 10px 30px;
      bottom:85px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}